<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol"></app-menu-ux>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <h4>Te damos la bienvenida</h4>
            <p text-align="left">
                Para acceder al sistema, selecciona una de las opciones del menú desplegable en la esquina superior
                derecha.
            </p>
            <br>
            <h5>Folios pendientes</h5>
            <hr class="red" style="margin-bottom:30px;">
        </div>
        <br>
        <div class="row">
            <div class="cardFolios col-md-6" style="margin-right: 40px;">
                <h5 style="text-align: center;">Pendiente monto a liquidar</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.solicitudHome.solPendienteMontoLiq}}</strong>
                </p>
            </div>
            <div class="cardFolios col-md-6">
                <h5 style="text-align: center;">Pendiente por cargar CEP</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.solicitudHome.solPendienteCargaCEP}}</strong>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="cardFolios col-md-6" style="margin-right: 40px;">
                <h5 style="text-align: center;">Por asignar personal operativo</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.solicitudHome.solAsignarPromotor}}</strong>
                </p>
            </div>
            <div class="cardFolios col-md-6">
                <h5 style="text-align: center;">Por autorizar</h5>
                <p class="blue-font" style="text-align: center;"><strong>{{this.solicitudHome.solPorAutorizar}}</strong>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5>Folios de notificación</h5>
            <hr class="red" style="margin-bottom:30px;">
            <div class="col-sm">
                <p text-align="left">
                    Recuerda que los folios mostrados tienen un período asignado de respuesta, por lo que deben ser
                    atendidos en tiempo y forma.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 cardPequeñaHome" style="margin-right: 55px;">
                <h5 style="text-align: center;">Avisos</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.notificacionHome.subTipoNuevoAviso}}</strong>
                </p>
            </div>
            <div class=" col-md-4 cardPequeñaHome" style="margin-right: 55px;">
                <h5 style="text-align: center;">Comunicados</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.notificacionHome.subTipoNuevoComunicado}}</strong>
                </p>
            </div>
            <div class=" col-md-4 cardPequeñaHome">
                <h5 style="text-align: center;">Conciliaciones</h5>
                <p class="blue-font" style="text-align: center;">
                    <strong>{{this.notificacionHome.subTipoNuevoConc}}</strong>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" cardGrandeHome">
                <h5 style="text-align: left;">Quejas</h5>
                <div class="row">
                    <div class="col-md-5">
                        <p>Carta de liquidación</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoCartaLiq}}</strong></p>
                    </div>
                    <div class="col-md-5">
                        <p>Préstamo no reconocido</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoPrestamoNoRec}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Condiciones del préstamo</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoCondPrestamo}}</strong></p>
                    </div>
                    <div class="col-md-5">
                        <p>Otros</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoOtroQueja}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Descuentos en demasía</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoDesDemasia}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" cardMedianaHome">
                <h5 style="text-align: left;">Requerimientos</h5>
                <div class="row">
                    <div class="col-md-5">
                        <p>Documentación</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoDocumentacion}}</strong></p>
                    </div>
                    <div class="col-md-5">
                        <p>Información</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoInformacion}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Otros</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoOtroReq}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" cardGrandeHome">
                <h5 style="text-align: left;">Sanciones</h5>
                <div class="row">
                    <div class="col-md-5">
                        <p>Suspensión del descuento</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoSuspencionDes}}</strong></p>
                    </div>
                    <div class="col-md-5">
                        <p>Terminación anticipada</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoTermAnticipada}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Suspensión parcial temporal</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoSuspensionParcial}}</strong></p>
                    </div>
                    <div class="col-md-5">
                        <p>Otros</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoOtroSancion}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Suspensión total temporal</p>
                    </div>
                    <div class="col-md-1">
                        <p class="blue-font"><strong>{{this.notificacionHome.subTipoSuspensionTotal}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <app-user-profile></app-user-profile>
        </div>
        <div class="row" style="margin-left: 45px;">
            <h5>Estados de notificación</h5>
            <hr class="red" style="margin-bottom:px; margin: 20px -15px;">
            <br>
            <div class="row">
                <div class="cardEstadoNot">
                    <h5 style="text-align: center;">Registradas</h5>
                    <p class="blue-font" style="text-align: center;">
                        <strong>{{this.notificacionHome.estadoNotifRegistradas}}</strong>
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="cardEstadoNot">
                    <h5 style="text-align: center;">Atendidas</h5>
                    <p class="blue-font" style="text-align: center;">
                        <strong>{{this.notificacionHome.estadoNotifAtendidas}}</strong>
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="cardEstadoNot">
                    <h5 style="text-align: center;">Enviadas</h5>
                    <p class="blue-font" style="text-align: center;">
                        <strong>{{this.notificacionHome.estadoNotifEnviadas}}</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-left: 45px;">
            <app-seccion-ayuda></app-seccion-ayuda>
        </div>

    </div>
</div>
<br>
<br>