<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="this.rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<app-creacion-detalle-conciliacion></app-creacion-detalle-conciliacion>
<!--
<div class="row">
    <div class="col-md-12">
      <h4>Buscar período</h4>
      <hr class="red">
      <p align="left">Para realizar tu búsqueda, ingresa el período solicitado:</p>
    </div>
</div>

<form #periodoConciliacion="ngForm" autocomplete="off" class="form-horizontal" role="form">
    <div class="row" style="margin-left: 0px !important;">
        <div class="form-group">
            <br>
            <br>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label class="">Período: </label>
                <input type="text" class="form-control" [(ngModel)]="detalleConciliacion.periodo" name="periodo"
                    #periodo="ngModel" pKeyFilter="pint" placeholder="Ingresa  el período (aaaamm)" minlength="6" maxlength="6"
                    aria-describedby="basic-addon1" autofocus #validate='ngModel' required
                    oninput="this.value = this.value.toUpperCase()" />
            </div>
            
        </div>    
    </div>
    <div style="margin: 65px 0 65px; text-align:right;"></div>
    <div class="form-group">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <br><button type="button" class="btn btn-secondary pull-right" (click)="regresar()">Regresar</button>
        </div>
        <div class="col-sm-2">
            <br><button type="button" class="btn btn-secondary pull-right" (click)="limpiar()">Limpiar</button>
        </div>
        <div class="col-sm-2">
            <br>
            <button type="submit" style="height: 45px!important;" class="btn btn-primary pull-right" (click)="buscar()"
                [disabled]="!periodoConciliacion.valid || busqueda">Buscar
            </button>
        </div>
    </div>
</form>

<jw-modal id="custom-modal-2">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <br>
    <br>
    <br>
    <div style="height:100%; width:100%; margin-top:-2%;">
        <p style="text-align:center" class="popupPensionado">¿Está seguro de generar el reporte de conciliación del período {{detalleConciliacion.periodo}}?</p>
        <div class="col-md-12" style="margin-top: -2px!important;" align="right">
            <button class="btn btn-default" (click)="closeModal();">No</button>&nbsp;&nbsp;
            <button class="btn btn-primary "  (click)="generarCarta();">Si</button>&nbsp;&nbsp; &nbsp;&nbsp;
        </div>
    </div>
</jw-modal>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Generando reporte de conciliación.</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>
        <br>
    </div>
</jw-modal>
-->