<app-header></app-header>
<app-menu-ux [rol]="this.rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Informe de notificación</h4>
        <hr class="red">
        <p></p>
    </div>

</div>

<app-notificacion-detalle></app-notificacion-detalle>

<app-notificacion-seguimiento></app-notificacion-seguimiento>

<div class="row" *ngIf="flagAtencion">
    <div class="col-md-10"></div>
    <div class="col-md-2 pull-right" style="text-align: right;"><br>
        <button class="btn btn-primary inputBorder" (click)="atender();" style="margin-right: 5px">Seguimiento </button>
    </div>
</div>

<div *ngIf="showAtencion">
    <app-atencion-notificacion></app-atencion-notificacion>
</div>
<div class="row" *ngIf="!flagAtencion">
    <div class="col-md-10"></div>
    <div class="col-md-2 pull-right" style="text-align: right;"><br>
        <button class="btn btn-default inputBorder" (click)="regresar();" style="margin-right: 5px">Regresar </button>
    </div>
</div>
<br>