
  
<table  class="table table-striped" >
    <thead>
      <tr>
        <th scope="col" colspan="3"> Capacidad de crédito vigente
         
        </th>
        
      </tr>
      <tr>
        <th scope="col" style="text-align: left;">Capacidad fija: 
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Es la cantidad de
dinero fija que 
recibes mes a mes." ></span>
        
        </th>
        <th scope="col" style="text-align: left;">Capacidad variable: 
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Es la cantidad de 
dinero adicional que, 
como beneficio, recibes
por otros conceptos." ></span>
        
       
        </th>
        <th scope="col" style="text-align: left;">Capacidad total: 
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Es la suma de 
la capacidad fija y
la capacidad variable.
Puede variar." ></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$ {{model.capacidadCredito.impCapacidadFija | number:'3.2-2'}}</td>
        <td>$ {{model.capacidadCredito.impCapacidadVariable | number:'3.2-2'}}</td>
        <td>$ {{model.capacidadCredito.impCapacidadTotal | number:'3.2-2'}}</td>
      </tr>
    </tbody>
  </table>

