<div class="container">
 <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Datos de la Simulaci&oacute;n</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <td></td>
      <tr>
        <td>Tasa de Interés:</td>
        <td> Cat:</td>
      </tr>
      <tr>
        <td>Importe del crédito solicitado:</td>
        <td>Importe del descuento mensual:</td>
      <tr>
        <td>Total de descuentos a aplicar:</td>
        <td>Plazo:</td>
      </tr>
      <tr>
        <td>Total de crédito a pagar con interés:</td>
        <td>Nómina del primer descuento:</td>
      </tr>
    </tbody>
  </table>
</div>