<br>
<br>
<div class="row tarjeta-body">
    <div class="col-md-6">
        <div class="row" style="text-align: center;">
            <img [src]="'/mclpe/auth/js/assets/img/login_bienvenida.png'">
        </div>
        <div class="row" class="registrar-nuevo-usuario">
            <br>
            <span routerLink="../registroUsuario">Registrar nuevo usuario</span>
        </div>
    </div>
    <div class="col-md-6">
        <form role="form" class="form-horizontal" [formGroup]="formGroup" autocomplete="off">

            <div class="row inicio-de-sesion">
                <br><br>
                Inicio de sesión
            </div>
            <div class="row">
                <br><br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Usuario*:</label>
                    <div class="col-sm-9">
                        <input
                            [ngClass]="[!formGroup.controls['nomUsuario'].valid && formGroup.controls['nomUsuario'].touched ? 'form-control-error':'form-control']  "
                            class=" form-control" formControlName="nomUsuario" type="text"
                            oninput="this.value = this.value.toLowerCase()"
                            placeholder="Tu usuario es un correo electrónico">

                        <div *ngIf="!formGroup.controls['nomUsuario'].valid">
                            <div
                                *ngIf=" formGroup.get('nomUsuario').errors?.pattern && formGroup.controls['nomUsuario'].touched">
                                <p class="error-class">Asegúrate de que tu correo electrónico tenga el símbolo @ y
                                    un punto.
                            </div>

                            <div
                                *ngIf=" formGroup.controls['nomUsuario'].errors?.required && formGroup.controls['nomUsuario'].touched">
                                <p class="error-class">Es necesario ingresar la información del campo marcado como
                                    obligatorio. </p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3  control-label">Contraseña*:</label>
                    <div class="col-sm-9">
                        <input
                            [ngClass]="[!formGroup.controls['password'].valid && formGroup.controls['password'].touched ? 'form-control-error':'form-control']  "
                            class="form-control" formControlName="password" type="password"
                            placeholder="Ingresa tu contraseña">

                        <div *ngIf="!formGroup.controls['password'].valid">
                            <div
                                *ngIf="formGroup.get('password').errors?.minlength  && formGroup.controls['password'].touched">
                                <p class="error-class">
                                    La contraseña debe tener 8 caracteres.
                                </p>
                            </div>

                            <div
                                *ngIf=" formGroup.controls['password'].errors?.required && formGroup.controls['password'].touched">
                                <p class="error-class">Es necesario ingresar la información del campo marcado como
                                    obligatorio. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <a routerLink="/auth/recuperaContra">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <!--<img [src]="captchaImageInBase64" width="100%" alt="Captcha" />-->
                        <re-captcha
                            (resolved)="onCaptchaResolved($event)">
                        </re-captcha>
                    </div>
                    <div class="col-sm-2">
<!--
                        <div class="reload-captcha" (click)="consultarServicioGenerarCaptcha()">
                            <svg class="bi bi-arrow-repeat" width="2em" height="2em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z" />
                                <path fill-rule="evenodd"
                                    d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z" />
                            </svg>
                        </div>
-->
                    </div>
                </div>
<!--
                <div class="form-group">
                    <label class="col-sm-3 control-label">Caracteres del CAPTCHA*:</label>
                    <div class="col-sm-9">
                        <input
                            [ngClass]="[!formGroup.controls['captchaTyped'].valid && formGroup.controls['captchaTyped'].touched && captchaValueVerificado != true ? 'form-control-error':'form-control']  "
                            class=" form-control" formControlName="captchaTyped" type="text"
                            [(ngModel)]="captchaValueTyped" ngModel maxlength="7"
                            (ngModelChange)="resetVerificarCaptcha()" placeholder="Ingresa CAPTCHA">
                        <div *ngIf="(formGroup.controls['captchaTyped'].errors?.required && formGroup.controls['captchaTyped'].touched)
                                 || (!this.captchaIsValid && !this.captchaValidando && this.captchaValueVerificado)">
                            <p class="error-class">Es necesario ingresar la información del campo marcado como
                                obligatorio.
                            </p>
                        </div>
                        <div
                            *ngIf="formGroup.get('captchaTyped').errors?.pattern  && formGroup.controls['captchaTyped'].touched">
                            <p class="error-class">
                                El captcha debe tener 7 caracteres
                            </p>
                        </div>
                        <div
                            *ngIf="(formGroup.controls['captchaTyped'].valid && captchaIsValid == false && captchaValueVerificado == true) && captchaValidando == false">
                            <p class="error-class">El CAPTCHA que ingresaste no corresponde con la imagen</p>
                        </div>

                        <div *ngIf="captchaCapturadoErroneo == true">
                            <div>
                                <p class="error-class">El Captcha ingresado es incorrecto, vuelva a intentarlo</p>
                            </div>
                        </div>
                    </div>
                </div>
-->
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">* Campos obligatorios</div>
                    <div class="col-sm-4">
<!--
                        <button type="button" [ngClass]="{'btn-success' : captchaIsValid}" class="btn btn-default"
                            (click)="validarCaptcha()" [disabled]="captchaIsValid == true || captchaValidando">
                            <span *ngIf="!captchaIsValid && !captchaValidando">Validar</span>
                            <span *ngIf="captchaValidando && !captchaIsValid">Validando...</span>
                            <span *ngIf="captchaIsValid && !captchaValidando">Es Correcto</span>
                        </button>
-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12" style="text-align: center;">
                        <button appPrevieneDobleClick type="submit" class="btn btn-primary"
                            (throttledClick)="validarCredenciales()" [disabled]="formGroup.invalid || this.captchaResponse == null">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
<br>
<div class="row" style="text-align: center; font-weight: bold;">
    <p>Para asegurar la correcta experiencia de este aplicativo, se sugiere el uso del navegador web Chrome.</p>
</div>
<div class="row pull-right" style="font-size: 10px;">
    Versión: {{version}}
</div>
<br>
<jw-modal id="validandoCredenciales">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;">Validando credenciales.</p>
                <div align="center">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>