<ol class="breadcrumb ">
  <li><a href="#"><i class="icon icon-home"></i></a></li>
  <li><a href="#">Inicio</a></li>
  <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row" style="height: 65px;">
  <div class="col-md-12">
    <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
    <hr class="red">
  </div>
</div>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>

<div class="row ">
  <div class="col-md-12">
    <h4>Carta de Libranza autorizada </h4>
    <hr class="red">
  </div>
</div>

<div class="row ">
  <div class="col-md-12">
    <p>La Carta de Libranza, el contrato de crédito y la tabla de amortización del crédito han sido enviados al
      correo
      electrónico del pensionado. También, puedes descargarlos en este momento.</p>

    <p><b>Tienes 72 horas para cargar el Comprobante Electrónico de Pago del préstamo otorgado al pensionado.

      </b></p>
  </div>


</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col " style="text-align: center; width: 25%;" scope="col">Folio</th>
      <th scope="col" style="text-align: center; width: 25%;" scope="col">Documento</th>

      <th scope="col" style="text-align: center; width: 25%;" scope="col">Descargar PDF</th>
      <th scope="col" style="text-align: center; width: 25%;" scope="col">Descargar XML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center; width: 25%;" scope="col">&nbsp;</td>
      <td style="text-align: center; width: 25%;" scope="col">&nbsp;</td>

      <td style="text-align: center; width: 25%;" scope="col"><a href=" " class="fa fa-download"
          aria-label="center Align">
          <span class="glyphicon glyphicon-save" aria-hidden="true" style="color:#373130"></span>
        </a></td>
      <td style="text-align: center; width: 25%;" scope="col"><a href="" class="fa fa-download"
          aria-label="center Align">
          <span class="glyphicon glyphicon-save" aria-hidden="true" style="color:#373130"></span>
        </a></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9" style="text-align: right;">
    <a class="btn btn-default" routerLink="../home" role="button">Finalizar</a>
    &nbsp;


  </div>
</div><br><br>