<div class="row">
    <div class="col-md-12" style="margin-bottom: -40px;">
        <h4>Archivos adjuntos</h4>
        <hr class="red">
    </div>
</div>
<hr class="Line-3">
<div class="row col-md-12" *ngFor="let documento of documentos; let i = index;">
    <div class="col-md-8">
        <app-upload [documento]="documentos[i]" [idSolicitud]="1"></app-upload>
    </div>
    <div class="col-md-2" style="margin-top: 5px;">
        <app-download [documento]="documentos[i]"></app-download>
    </div>
    <div class="col-md-2">
        <a (click)="openModalAdjunto(i);">
            <span class="glyphicon glyphicon-trash" style="color: #8b6c42; cursor:pointer;" aria-hidden="true"></span>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a (click)="agregar(i, '');">
            <span class="glyphicon glyphicon-plus" style="color: #991915; cursor:pointer; margin-top: 10px;" aria-hidden="true"></span>
        </a>
    </div>
</div>
<hr class="Line-3">
<div class="row col-md-8">
    <div>
        <p style="color: red; margin-left: 10px;">El archivo a cargar debe tener la extensión PDF o XML.</p>
    </div>

</div>
<jw-modal id="eliminarAdjunto">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p style="text-align: center;">
            ¿Deseas eliminar el archivo adjunto?</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default inputBorder" (click)="closeModalAdjunto()">Cancelar</button>
                <button class="btn btn-primary inputBorder" (click)="eliminar(this.idborrarAdjunto)" style="margin-right: 5px">Aceptar </button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>