<div class="row">
    <nav class="navbar navbar-inverse sub-navbar " id="headerNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                    <span class="sr-only">Préstamos a cuenta de pensión con Entidades Financieras</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Préstamos a cuenta de pensión con Entidades Financieras</a>
            </div>
            <div class="collapse navbar-collapse" id="subenlaces">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a></a>
                    </li>
                    <li class="dropdown">
                        <!--a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menú <span class="caret"></span></a-->
                        <a style="cursor:pointer;" [routerLink]="['/pensionado/home']" routerLinkActive="active">Inicio
                        </a>

                        <!--ul class="dropdown-menu" role="menu">
                            <li><a style="cursor:pointer;" (click)=solicitudVigente(1)>Simulación de préstamos
                          </a></li-->
                        <!--li><a style="cursor:pointer;" (click)=solicitudVigente(2)>Consulta de capacidad
                          de crédito</a></li>

                            <li><a [routerLink]="['/pensionado/buscarFolioCancelar']" routerLinkActive="active">Cancelación de folio</a></li>

                            < <li><a [routerLink]="['/auth/login']" routerLinkActive="active">Salir</a></li> -->

                        <!--/ul-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>