<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pensionado</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nombre(s): {{persona.nombre}}</td>
        <td>Primer apellido: {{persona.primerApellido}}</td>
        <td> Segundo apellido: {{persona.segundoApellido}}</td>
      </tr>
      <tr>
        <td>CURP: {{persona.curp}}</td>
        <!--td>NSS: {{pensionado.nss}}</td-->
        <!--td> Delegación: {{pensionado.delegacion}}</td-->
        <td>NSS: 12345678</td>
        <td> Delegación: 09</td>
      </tr>
      <tr>
        <td>Tel&eacute;fono: </td>
        <td>Correo Electrónico: </td>
        <td> Tipo de Crédito:</td>
      </tr>
      <tr>
        <td>Tipo Pensión:</td>
        <!--td>NSS: {{pensionado.nss}}</td-->
        <!--td> Delegación: {{pensionado.delegacion}}</td-->
        <td>Tipo Trabajador: </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div> <br>