<app-breadcrumb-ux></app-breadcrumb-ux>
<br><br>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<br>

<div class="col-md-12">
    <h4>Condiciones del préstamo </h4>
    <hr class="red" />
    <p>Ingresa los datos que se te solicitan y presiona el botón Continuar:</p>
</div>


<div class="container">
    <div class="formulario">
        <!--<form role="form">-->
        <!--form  [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">-->


        <!--  
    <div [ngClass]
    ="{ 'has-error form-group' : (montoSolicitado.dirty || montoSolicitado.touched) && montoSolicitado.invalid }">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">$</span>
          <input digitOnly
            #montoSolicitado="ngModel" [(ngModel)]="capturaCondiciones.condicionesPrestamo.oferta.monto"   id="monto" class="form-control " name="monto" type="text">                    
        </div>
        <div *ngIf="montoSolicitado.invalid && (montoSolicitado.dirty || montoSolicitado.touched)" >
            <span class="text-danger" *ngIf="montoSolicitado.errors.required">
              El monto es requerido
            </span>           
          </div>
        </div>-->

        <table style="width: 100%;" border="0">

            <tbody>

                <tr>
                    <td>
                        <label>Ingresa monto solicitado*</label>

                        <div [ngClass]="
                  { 'has-error form-group' : (monto.dirty || monto.touched) && monto.invalid }
                  ">

                            <div class="form-group">
                                <input required minlength="1" maxlength="8" #monto="ngModel" [(ngModel)]="capturaCondiciones.condicionesPrestamo.monto" id="folio" class="form-control " name="folio" type="text" style="width: 80%;">
                            </div>
                            <div *ngIf="monto.invalid && (monto.dirty || monto.touched)">

                                <span class="text-danger" *ngIf="monto.errors.required">
                      El monto es requerido
                    </span>

                            </div>
                        </div>
                    </td>
                    <td> <label>Monto Total a Pagar*</label>
                        <div [ngClass]="
                { 'has-error form-group' : (montoTotal.dirty || montoTotal.touched) && montoTotal.invalid }
                ">

                            <div class="form-group">
                                <input required #montoTotal="ngModel" [(ngModel)]="capturaCondiciones.condicionesPrestamo.importeTotal" id="montoTotal" class="form-control " name="montoTotal" type="text" style="width: 80%;">
                            </div>
                            <div *ngIf="montoTotal.invalid && (montoTotal.dirty || montoTotal.touched)">

                                <span class="text-danger" *ngIf="montoTotal.errors.required">
                   Monto total a pagar es requerido
                  </span>
                            </div>
                        </div>
                    </td>
                    <td> <label>Descuento Mensual*</label>
                        <div [ngClass]="
                { 'has-error form-group' : (descMensual.dirty || descMensual.touched) && descMensual.invalid }
                ">


                            <div class="form-group">
                                <input required #descMensual="ngModel" [(ngModel)]="capturaCondiciones.condicionesPrestamo.descuentoMensual" id="descMensual" class="form-control " name="descMensual" type="text" style="width: 80%;">
                            </div>
                            <div *ngIf="descMensual.invalid && (descMensual.dirty || descMensual.touched)">

                                <span class="text-danger" *ngIf="descMensual.errors.required">
                    El descuento mensual requerido
                  </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="select-box">
                            <div [ngClass]="
                { 'has-error form-group' : (plazoSelect.dirty || plazoSelect.touched) && plazoSelect.invalid }
                ">
                                <label for="listPlazo">Elegir Plazo*</label>
                                <select #plazoSelect="ngModel" [(ngModel)]="seleccionPlazo" class="form-control" required style="width: 80%;">           
                      <option *ngFor="let plazoCondicion of  plazosCondiciones" [ngValue]="plazoCondicion" >{{plazoCondicion.plazo.descripcion}}</option>
                      </select>
                            </div>
                            <div *ngIf="plazoSelect.invalid && (plazoSelect.dirty || plazoSelect.touched)">

                                <span class="text-danger" *ngIf="plazoSelect.errors.required">
                          El plazo es requerido.
                        </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <label>CAT*</label>
                        <div [ngClass]="
                { 'has-error form-group' : (cat.dirty || cat.touched) && cat.invalid }
                ">

                            <div class="form-group">
                                <input required #cat="ngModel" [(ngModel)]="capturaCondiciones.condicionesPrestamo.cat" id="cat" class="form-control " name="cat" type="text" style="width: 80%;">
                            </div>
                            <div *ngIf="cat.invalid && (cat.dirty || cat.touched)">

                                <span class="text-danger" *ngIf="cat.errors.required">
                    El cat es requerido
                  </span>
                            </div>
                        </div>
                    </td>
                    <td> &nbsp; </td>
                </tr>


            </tbody>
        </table>

        <!--  </form>-->



        <div class="col-sm">
            <div class="col-md-8"></div>
            <div class="col-md-4" style="text-align: right;">
                <button class="btn btn-default" routerLink="../cartaCapacidadInforme" role="button">Regresar</button> &nbsp;
                <button class="btn btn-primary" (click)="openModal()" role="button">Continuar</button>
                <br><br>
            </div>

        </div>
        <!--/form>routerLink="../cartaCapInforme"-->

    </div>
    <jw-modal id="custom-modal-captura">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <p style="text-align:center"><b>El descuento mensual considera el total de la capacidad de credito fija y parte de la capacidad de credito variable. ¿Esta seguro que deseas continuar con el proceso?</b></p>
            <div style="text-align:right">
                <button class="btn btn-default" (click)="closeModal()">Cancelar</button>&nbsp;&nbsp;
                <button class="btn btn-primary " (click)="enviaCapturaCondiciones()">Aceptar</button>
            </div>
        </div>
    </jw-modal>



</div>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>