<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Información del personal operativo</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Entidad Financiera: </th>
                <th scope="col">Matr&iacute;cula: </th>
                <th>&nbsp;</th>
            </tr>

            <tr>
                <td scope="col" style="width: 33%;">{{personaEF.entidadFinanciera.nombreComercial}} </td>
                <td scope="col" style="width: 33%;"> {{personaEF.numEmpleado}}</td>
                <td scope="col" style="width: 33%;"></td>
            </tr>
            <tr>
                <th scope="col">Nombre(s): </th>
                <th scope="col">Primer apellido: </th>
                <th scope="col"> Segundo apellido: </th>

            </tr>

            <tr>
                <td scope="col" style="width: 33%;"> {{personaEF.nombre}} </td>
                <td scope="col" style="width: 33%;">{{personaEF.primerApellido}}</td>
                <td scope="col" style="width: 33%;"> {{personaEF.segundoApellido}}</td>

            </tr>
            <tr>
                <th scope="col">NSS:</th>
                <th scope="col">CURP:</th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <td scope="col" style="width: 33%;">{{this.model.user.numNss}}</td>
                <td scope="col" style="width: 33%;">{{personaEF.curp}} </td>
                <td scope="col" style="width: 33%;"> </td>
            </tr>
        </tbody>
    </table>
</div>