<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol">
    </app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<form autocomplete="off" class="form-inline" [formGroup]="formGroupV2" (ngSubmit)="guardarCambios()">
    <div class="col-md-12">
        <div class="row">
            <span class="TituloGrande">Consultar Entidad Financiera </span>
            <hr class="red" style="margin: 10px 0 40px;">
        </div>
    </div>
    <div style="margin: 65px 0 65px;"></div>
    <button type="submit" class="btn btn-primary buttonRedText" (click)="continuar()"
        style="margin-left: 82%!important;margin-bottom: -5%;">Registrar Entidad
    </button>
    <p>Para realizar tu búsqueda, ingresa Registro Patronal:</p>
    <div style="float:left">
        <p> Registro Patronal: </p>
    </div>

    
    <div class='col-sm-2' style="margin-left: -15%;margin-top: 1%;">
        <div class="form-group">
            <br><input class="borderInput" aria-describedby="basic-addon1" autofocus minlength="10" maxlength="10"
                pKeyFilter="alphanum" type="text" formControlName="registro" placeholder="Ingresa Registro">
        </div>
        <div style="width: max-content;">
            <div *ngIf="formGroupV2.controls['registro'].errors?.required">
                <p class="error-class">El registro patronal es necesario </p>
            </div>
            <div *ngIf="formGroupV2.controls['registro'].errors?.minlength">
                <p class="error-class">El registro patronal es necesario </p>
            </div>
            <div *ngIf="formGroupV2.controls['registro'].errors?.maxlength">
                <p class="error-class">El registro patronal es necesario </p>
            </div>
        </div>
    </div>

    <!-- Datos de contacto-->
    <div style="margin: -110px 0 -50px;">&nbsp;</div>
    <div *ngIf="mostrar || mostarFlujo">
        <h4 style="margin-top:15%;">Resultado de la consulta</h4>
        <div *ngIf="mostarFlujo" class="tarjeta-body " style="    margin-top: 2%;
        margin-bottom: 2%;;">
            <table>
                <thead>
                    <tr>
                        <th style="width: 25%;">
                            <span><strong>{{this.model.registrarEntidadFinanciera.nombreComercial}}</strong></span></th>
                        <th style="width: 25%;">&nbsp;</th>
                        <th style="width: 30%;">&nbsp;</th>
                        <th style="width: 13%;">
                            <span class="Ver-detalle" (click)="verDetalle()">
                                <img [src]="'/mclpe/auth/js/assets/img/GroupVD.png'" class="GroupVD">
                                Ver Detalle
                            </span>

                        </th>


                    </tr>
                    <tr>
                        <th scope="col" class="tarjeta-title-1">R.F.C.</th>

                        <th scope="col" class="tarjeta-title-1">Registro Patronal</th>
                        <th scope="col" class="tarjeta-title-1">Razón Social</th>

                        <th scope="col" class="tarjeta-title-1">Estado</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{this.model.registrarEntidadFinanciera.rfc}}

                        </td>
                        <td>
                            {{this.model.registrarEntidadFinanciera.registroPatronal}}

                        </td>
                        <td>
                            {{this.model.registrarEntidadFinanciera.razonSocial}}
                        </td>

                        <td>
                            {{this.estadoEF}}
                        </td>


                    </tr>


                </tbody>





            </table>
        </div>


        <div class="sinResultados" *ngIf="!mostarFlujo">
            <p>
                Sin resultados para esta búsqueda.
            </p>
        </div>
    </div>



    <div [ngClass]="(mostrar || mostarFlujo) ? 'col-sm-12' : 'col-sm-5' "
        style="text-align:right; margin-top:30px;margin-left:2%;">

        <div class="pull-right">

            <button type="button" class="btn btn-default" (click)="regresar()" style="margin:5px;">Regresar
            </button>

            <button *ngIf="!(mostrar || mostarFlujo)" type="submit" class="btn btn-primary " (click)="resultadoMock()"
                [disabled]="!formGroupV2.valid" style="margin:5px;">Buscar
            </button>

            <button *ngIf="mostrar || mostarFlujo" type="button" class="btn btn-default" (click)="limpiar()"
                style="margin:5px;">Limpiar
            </button>


        </div>

    </div>


    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <br>
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>

            <br>
        </div>
    </jw-modal>

</form>



<div style="margin: 65px 0 65px; text-align:right;"></div>

<br>
<br>
<br>
<br>