<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="row">
    <div class="col-md-10">
        <h4>Informe de Prestamo</h4>
        <hr class="red">
        <p></p>
    </div>
</div>

<div class="row folio-header">
    <div class="col-md-3">
        Folio:&nbsp;<span>{{ this.model.resumenCartaInstruccion.solicitud.numFolioSolicitud }}</span>
    </div>
    <div class="col-md-9">
        Estado:&nbsp;<span>Iniciado</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 tarjeta tarjeta-info-pensionado">
        <div class="row tarjeta-header">
            Información del solicitante
        </div>
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-12">
                    Nombre:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-12">
                    {{ this.model.prestamoPromotor.persona.nombre }}&nbsp;
                    {{ this.model.prestamoPromotor.persona.primerApellido }}&nbsp;
                    {{ this.model.prestamoPromotor.persona.segundoApellido }}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    CURP:
                </div>
                <div class="col-md-6">
                    NSS:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.pensionado.cveCurp }} 
                </div>
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.pensionado.idNss }} 
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Delegación:
                </div>
                <div class="col-md-6">
                    Tel&eacute;fono m&oacute;vil:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.pensionado.descDelegacion }}
                </div>
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.pensionado.telCelular }}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Correo electr&oacute;nico:
                </div>
                <div class="col-md-6">
                    Tipo de trabajador:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6" style="font-size: 16px;">
                    {{ this.model.prestamoPromotor.pensionado.correoElectronico }}
                </div>
                <div class="col-md-6">
                    PENSIONADO
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Tipo de pensión:
                </div>
                <div class="col-md-6">
                    Tipo de crédito:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{ this.model.resumenCartaInstruccion.pensionado.tipoPension }}
                </div>
                <div class="col-md-6">
                    RENOVACIÓN
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Origen del préstamo:
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    Reinstalación
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 tarjeta tarjeta-info-ef">
        <div class="row tarjeta-header ">
            Entidad Financiera elegida
        </div>
        <div class="row tarjeta-body">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <img [src]="imgEFUrl" alt="Sin imagen">
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Nombre comercial:
                </div>
                <div class="col-md-6">
                    Teléfono:
                </div>
            </div>
            <div class="row tarjeta-data-1-bold">
                <div class="col-md-6">
                    {{this.model.resumenCartaInstruccion.personaEf.entidadFinanciera.nombreComercial}}
                </div>
                <div class="col-md-6">
                    {{this.model.resumenCartaInstruccion.personaEf.entidadFinanciera.telefonoAtencionClientes}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-12">
                    Página web:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-12">
                    <a href="https://{{this.model.resumenCartaInstruccion.personaEf.entidadFinanciera.paginaWeb}}">{{this.model.resumenCartaInstruccion.personaEf.entidadFinanciera.paginaWeb}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Información de la simulación
    </div>
    <div class="row tarjeta-body">
        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                CAT con IVA:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Costo Anual Total:
Monto total a pagar
cada año, incluyendo
la tasa de interés
anual y otros costos
del préstamo.">
                </span>
            </div>
            <div class="col-md-3">Monto solicitado:</div>
            <div class="col-md-3">Descuento mensual:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Es el monto que se
te descontará
mensualmente a lo
largo del préstamo."></span>
            </div>
            <div class="col-md-3">Plazo:</div>
        </div>

        <div class="row tarjeta-data-1">
            <div class="col-md-3 tarjeta-data-1-bold">{{this.model.resumenCartaInstruccion.oferta.cat}}%</div>
            <div class="col-md-3">${{this.model.resumenCartaInstruccion.prestamo.monto | number:'0.2-2'}}</div>
            <div class="col-md-3 tarjeta-data-1-bold">${{this.model.resumenCartaInstruccion.prestamo.impDescNomina | number:'0.2-2'}}
            </div>
            <div class="col-md-3 tarjeta-data-1-bold">{{this.model.resumenCartaInstruccion.oferta.plazo.descripcion}}</div>
        </div>

        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                Importe total a pagar: <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Es el importe total
del préstamo más
los intereses y costos
cubiertos durante la
vida del crédito."></span>
            </div>
            <div class="col-md-3">
                Fecha del primer descuento:<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Esta fecha está sujeta 
de cambio, conforme a la
fecha de autorización 
del préstamo."></span></div>
            <div class="col-md-3">Fecha de registro:</div>
            <div class="col-md-3">Fecha de vigencia del folio:</div>
        </div>

        <div class="row tarjeta-data-1">
            <div class="col-md-3 tarjeta-data-1-bold">${{this.model.resumenCartaInstruccion.prestamo.impTotalPagar | number:'0.2-2'}}
            </div>
            <div class="col-md-3">{{this.fecha}}</div>
            <div class="col-md-3">{{this.model.resumenCartaInstruccion.solicitud.altaRegistro| slice:0:10}}</div>
            <div class="col-md-3">{{this.model.resumenCartaInstruccion.solicitud.fecVigenciaFolio| slice:0:10}}</div>
        </div>

    </div>
</div>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Pr&eacute;stamo a reinstalar
    </div>
    
    <div class="row tarjeta-body">
        <div class="row tarjeta-data-1">
            Entidad Financiera: <span class="tarjeta-data-1-bold">{{this.model.prestamoPromotor.prestamoVigente.nombreComercialEF}}</span>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-2">CAT con IVA:</div>
            <div class="col-md-2">Monto solicitado:</div>
            <div class="col-md-2">Descuento Mensual:</div>
            <div class="col-md-2">DNA / Plazo:</div>
            <div class="col-md-2">DNA Consecutivo:</div>
            <div class="col-md-2">Saldo capital:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    data-placement="bottom" title="Saldo capital"></span>
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-2 tarjeta-data-1-bold">
                {{this.model.prestamoPromotor.prestamoVigente.cat}}%
            </div>
            <div class="col-md-2">
                ${{this.model.prestamoPromotor.prestamoVigente.montoSolicitado | number:'0.2-2'}}
            </div>
            <div class="col-md-2 tarjeta-data-1-bold">
                ${{this.model.prestamoPromotor.prestamoVigente.descuentoMensual |number:'0.2-2'}}
            </div>
            <div class="col-md-2 tarjeta-data-1-bold">
                {{this.model.prestamoPromotor.prestamoVigente.mensualidadesSinDescuento}} / {{this.model.prestamoPromotor.prestamoVigente.descripcionPlazo}}
            </div>
            <div class="col-md-2">
                {{this.model.prestamoPromotor.prestamoVigente.numMesesConsecutivos}}
            </div>
            <div class="col-md-2">
                ${{this.model.prestamoPromotor.prestamoVigente.saldoCapital |number:'0.2-2'}}
            </div>
        </div>
    </div>
    <br>
</div>

<br>

<app-aviso-privacidad></app-aviso-privacidad>

<div class="col-md-12"></div>

<div class="col-md-1"></div>

<div class="col-md-12">
    <input type="checkbox" name="avisoCheck" [(ngModel)]="isChecked" > He leído y acepto el aviso de privacidad
    <br />
</div>

<div class="col-md-12" *ngIf="avisoCheck">
    <span style="color: #ed1b24" id="errorAviso" name="errorAviso">
        No se puede continuar con el proceso si no aceptas el aviso de privacidad.
        <br />
        <br />
    </span>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="row"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4"></div>

    <div class="col-md-2" style="margin-left:10%">
        <a class="btn btn-default"  routerLink="../reinstalarPrestamoEditar" role="button">Regresar</a>
    </div>

    <div class="col-md-2">
        <button (click)="confirmarCondiciones()"  class="btn btn-primary ">
            <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>Generar Carta Reinstalación
        </button>
        <br />
        <br />
    </div>

    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br />
            <br />
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>
            <br />
        </div>
    </jw-modal>
</div>
