<div class="row" *ngIf="verDetalle==0">
  <div class="col-sm-12 tarjeta-data-1-bold-blue" style="text-align: center; cursor:pointer;" (click)=downloadFile()>
    <span class="glyphicon glyphicon-save" aria-hidden="true">
    </span>
    {{model.documento.tipoDocumentoEnum.descripcion}}
  </div>
</div>
<div class="row" *ngIf="verDetalle==1" (click)=downloadFile()>
  <span class="Ver-detalle">
    <img [src]="'/mclpe/auth/js/assets/img/GroupVD.png'" class="GroupVD">
    Ver Archivo
  </span>
</div>