
<div class="Rectangle-188" style="float: left;">
<table >
    <thead>
  
  
      <tr>
        <th  class="THSI" scope="col" style="text-align: left; width: 38%;padding-top:1%!important;padding-bottom: 1%!important;">CAT con IVA: 
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="
Costo Anual Total:
Monto total a pagar
cada año, incluyendo
la tasa de interés
anual y otros costos
del préstamo.
          ">

          </span></th>
        <th  class="THSI" scope="col" style="text-align: left; width: 38%;padding-bottom: 1%!important;padding-top:1%!important;">Monto solicitado:</th>
        
        <th class="THSI" scope="col" style="text-align: left; width: 38%;padding-bottom: 1%!important;padding-top:1%!important;">Descuento
          mensual: <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom"
           title="
Es el monto que se
te descontará
mensualmente a lo
largo del préstamo.
           "></span></th>
        
      </tr>
    </thead>
    <tbody> 
       
        <tr > 
          <td style="font-weight: bold; padding-bottom: 1%!important;"> {{model.ofertaDatos.cat}}% </td>

            <td style="padding-bottom: 1%!important;">${{model.ofertaDatos.monto | number:'0.2-2'}}</td>
            <td style="font-weight: bold;padding-bottom: 1%!important;">${{model.ofertaDatos.descuentoMensual | number:'0.2-2'}}</td>
        </tr> 
  
          
      <tr>
        <th class="THSI"  scope="col" style="text-align: left; width: 38%;padding-bottom: 1%!important;">Plazo:</th>

        <th class="THSI" scope="col" style="text-align: left;width: 38%;padding-bottom: 1%!important;">Importe
          total a pagar:  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" 
          data-toggle="tooltip" data-placement="bottom"
           title="
Es el importe total
del préstamo más
los intereses y costos
cubiertos durante la
vida del crédito.
           "></span> </th>
      
        
        <th class="THSI" scope="col" style="text-align: left; padding-bottom: 1%!important;">Fecha del primer
          descuento:<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
          data-toggle="tooltip" data-placement="bottom" title="Esta fecha está
sujeta de cambio,
conforme a la fecha
de autorización
del préstamo."></span></th>
        
      </tr>
  
      <tr > 
        <td style="font-weight: bold;" >{{model.ofertaDatos.descripcionNumPlazo}}</td>

        <td style="font-weight: bold;">${{model.ofertaDatos.importeTotal | number:'0.2-2'}}</td>

          <td>{{fechaInicio}}</td>
       </tr> 

       
    </tbody>
  </table>
</div>

 