<app-alertas [mensaje] = "model.mensaje"></app-alertas>

<ol class="breadcrumb ">
  <li><a href="#"><i class="icon icon-home"></i></a></li>
  <li><a href="#">Inicio</a></li>
  <li class="active" *ngIf="!model.enabledModificarPromotor">Registrar datos del personal operativo</li>
  <li class="active" *ngIf="model.enabledModificarPromotor && !model.enabledBajaPromotor">Modificar datos del personal operativo
  </li>
  <li class="active" *ngIf="model.enabledBajaPromotor">Baja del personal operativo</li>
</ol>
<div class="row" style="height: 50px;">
  <div class="col-md-12">
    <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
    <hr class="red">
  </div>
</div><br>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>

<div class="col-md-12">
  <h4>Informe de personal operativo</h4>
  <hr class="red">
</div>

<div class="row">
  <div class="col-md-3">
    <span class="tarjeta-data-1-bold">&nbsp;&nbsp;&nbsp;Estado: </span>
    <span class="tarjeta-data-1-bold-blue">
      {{model.registrarPromotor.estatus}}
    </span>
  </div>
  <div class="col-md-9" class="tarjeta-data-1-bold">
    Delegaciones donde opera:
    <span class="tarjeta-data-1">{{delegaciones}}</span>
  </div>

</div>

<div class="row tarjeta">
  <div class="row tarjeta-body">
    <div class="col-md-4">
      <img [src]="imgPromotorUrl" alt="Sin imagen" style="max-width: 250px; max-height: 150px;">
    </div>
    <div class="col-md-8">
      <div class="row tarjeta-title-1">
        <div class="col-md-6">
          Nombre:
        </div>
        <div class="col-md-3">
          Teléfono:
        </div>
        <div class="col-md-3">
          Teléfono móvil:
        </div>
      </div>
      <div class="row tarjeta-data-1">
        <div class="col-md-6">
          {{ model.registrarPromotor.nombre}}
          {{ model.registrarPromotor.primerApellido}}
          {{ model.registrarPromotor.segundoApellido}}
        </div>
        <div class="col-md-3">
          {{model.registrarPromotor.telefono}}
        </div>
        <div class="col-md-3">
          {{model.registrarPromotor.telefonoCelular}}
        </div>
      </div>
      <div class="row tarjeta-title-1">
        <div class="col-md-12">
          Correo Electrónico:
        </div>
      </div>
      <div class="row tarjeta-data-1">
        <div class="col-md-12">
          {{model.registrarPromotor.correoElectronico}}
        </div>
      </div>

      <div class="row" *ngIf="model.registrarPromotor.tipoEmpleado === '2'">
        <div class="row tarjeta-title-1">
          <div class="col-md-4">Calle:</div>
          <div class="col-md-4">Colonia:</div>
          <div class="col-md-4">Número exterior:</div>
        </div>
        <div class="row tarjeta-data-1">
          <div class="col-md-4">{{model.registrarPromotor.domicilio?.calle}}</div>
          <div class="col-md-4">{{model.registrarPromotor.domicilio?.selectedAsentamiento.nombre}}</div>
          <div class="col-md-4">{{model.registrarPromotor.domicilio.numeroExterior}}</div>
        </div>
        <div class="row tarjeta-title-1">
          <div class="col-md-4">Número interior:</div>
          <div class="col-md-4">Municipio / Alcaldía:</div>
          <div class="col-md-4">Código postal:</div>
        </div>
        <div class="row tarjeta-data-1">
          <div class="col-md-4">{{model.registrarPromotor.domicilio?.numeroInterior}}</div>
          <div class="col-md-4">{{model.registrarPromotor.domicilio?.selectedAsentamiento.localidad.municipio.nombre}}
          </div>
          <div class="col-md-4">{{model.registrarPromotor.domicilio?.codigoPostal}}</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row tarjeta">
  <div class="row tarjeta-header">
    Información particular
  </div>
  <div class="row tarjeta-body">
    <div class="row tarjeta-title-1">
      <div class="col-md-3">
        CURP:
      </div>
      <div class="col-md-3">
        NSS:
      </div>
      <div class="col-md-3">
        Sexo:
      </div>
      <div class="col-md-3">
        Fecha de nacimiento:
      </div>
    </div>
    <div class="row tarjeta-data-1">
      <div class="col-md-3">
        {{model.registrarPromotor.curp}}
      </div>
      <div class="col-md-3">
        {{model.registrarPromotor.nss}}
      </div>
      <div class="col-md-3">
        {{model.registrarPromotor.sexoDescripcion | uppercase}}
      </div>
      <div class="col-md-3">
        {{this.fecdate | date:'dd/MM/yyyy'}}
      </div>
    </div>
    <div class="row tarjeta-title-1">
      <div class="col-md-12">
        Entidad Federativa de nacimiento:
      </div>
    </div>
    <div class="row tarjeta-data-1">
      <div class="col-md-12">
        {{model.registrarPromotor.entidadFederativaNacimiento}}
      </div>
    </div>
  </div>
</div>

<div class="row tarjeta">
  <div class="row tarjeta-header">
    Información de empleado
  </div>
  <div class="row tarjeta-body">
    <div class="row tarjeta-title-1">
      <div class="col-md-4">
        Tipo de empleado:
      </div>
      <div class="col-md-3">
        {{model.registrarPromotor.tipoEmpleado == '1' ? 'Número empleado:' : ''}}
      </div>
      <div class="col-md-3">
        Registro Patronal:
      </div>

    </div>
    <div class="row tarjeta-data-1">
      <div class="col-md-4">
        {{model.registrarPromotor.tipoEmpleado == '1' ? 'EMPLEADO DE LA ENTIDAD FINANCIERA' : 'EMPLEADO POR UN
        TERCERO'}}
      </div>
      <div class="col-md-3">
        {{model.registrarPromotor.tipoEmpleado == '1' ? model.registrarPromotor.numEmpleado : ''}}
      </div>
      <div class="col-md-3">
        {{model.registrarPromotor.registroPatronal}}
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h4>Documentación</h4>
  <hr class="red">
</div>


<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3" style="text-align: center;">
    <label>Identificación oficial:</label>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <app-download [documento]="model.registrarPromotor.ife"></app-download>
  </div>
  <div class="col-md-3">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3" style="text-align: center;">
    <label>Carta responsiva:</label>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <app-download [documento]="model.registrarPromotor.cartaResponsiva"></app-download>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3" style="text-align: center;">
    <label>Fotografía:</label>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <app-download [documento]="model.registrarPromotor.fotografia"></app-download>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br>

<div *ngIf="model.registrarPromotor.tipoEmpleado === 2" class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3" style="text-align: center;">
    <label>Comprobante de domicilio:</label>
  </div>
  <div class="col-md-3" style="text-align: center;">
    <app-download [documento]="model.registrarPromotor.comprobanteDomicilio"></app-download>
  </div>
  <div class="col-md-3">
  </div>
</div>

<br>
<form role="form" class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="bajaConfirmacionModal()"
  autocomplete="off">
  <span *ngIf="bajaPromotor">
    <div class="col-md-12">
      <h4>Baja de personal operativo</h4>
      <hr class="red">
    </div>
    <div class="row" style="padding-left: 20px;">
      <div class="col-sm-4">
        <span>Estado*: </span>
        <select class="form-control select-style" [(ngModel)]="promotorBajaRq.cveEstadoPersonaEf"
          formControlName="cveEstadoPersonaEf" (change)="habilitarMotivo()">
          <option value="" selected>Seleccionar...</option>
          <option *ngIf="model.registrarPromotor.estatus!='Activo'" value="1">Activo</option>
          <option *ngIf="model.registrarPromotor.estatus=='Activo'" value="2">Suspendido</option>
          <option *ngIf="model.registrarPromotor.estatus=='Activo'" value="3">Inactivo</option>
        </select>
        <div
          *ngIf="!formGroup.controls['cveEstadoPersonaEf'].valid && formGroup.controls['cveEstadoPersonaEf'].touched">
          <p class="error-class">
            Es necesario ingresar la información del campo marcado como obligatorio
          </p>
        </div>

      </div>
      <div class="col-sm-4" *ngIf="promotorBajaRq.cveEstadoPersonaEf!=1 && promotorBajaRq.cveEstadoPersonaEf!=''">
        <span>Motivo*: </span>

        <select class="form-control select-style" [(ngModel)]="promotorBajaRq.baja" formControlName="baja">
          <option value="" selected>Seleccionar...</option>
          <option value="2">Comportamiento irregular.</option>
          <option value="1">Termino de la relaci&oacute;n laboral.</option>
        </select>
        <div *ngIf="!formGroup.controls['baja'].valid && formGroup.controls['baja'].touched">
          <p class="error-class">
            Es necesario ingresar la información del campo marcado como obligatorio
          </p>
        </div>

      </div>
    </div>

  </span>
  <br><br><br>
  <div *ngIf="!bajaPromotor">
    <div class="form-group" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="regresar()">Regresar</button>
      &nbsp;&nbsp;&nbsp;
      <button type="button" *ngIf="!model.enabledModificarPromotor" class="btn btn-primary"
        (click)="cerrar()">Cerrar</button>
      &nbsp;&nbsp;&nbsp;
      <span *ngIf="model.registrarPromotor.estatus=='Activo'">
        <button type="button" *ngIf="model.enabledModificarPromotor" class="btn btn-primary" (click)="baja()">
          Dar de Baja
        </button>
      </span>
      <span *ngIf="model.registrarPromotor.estatus!='Activo'">
        <button type="button" *ngIf="model.enabledModificarPromotor" class="btn btn-primary" (click)="baja()">
          Reactivar
        </button>
      </span>
      &nbsp;&nbsp;&nbsp;
      <button type="button" *ngIf="model.enabledModificarPromotor" class="btn btn-primary"
        (click)="modificar()">Modificar</button>
    </div>
  </div>


  <div *ngIf="bajaPromotor">
    <div class="form-group" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="regresarBaja()">Regresar</button>
      &nbsp;&nbsp;&nbsp;
      <span *ngIf="model.registrarPromotor.estatus=='Activo'">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Dar de Baja</button>
      </span>
      <span *ngIf="model.registrarPromotor.estatus!='Activo'">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Reactivar</button>
      </span>

    </div>
  </div>
</form>


<br>

<jw-modal id="suspendido">
  <div class="jw-modal-titulo">Atención</div>
  <div style="height:100%; width:100%">
    <div class="modal-body">
      <p>El personal operativo {{model.registrarPromotor.nombre}} {{model.registrarPromotor.primerApellido}}
        {{model.registrarPromotor.segundoApellido}} esta suspendido, por lo que no se puede realizar esta
        acci&oacute;n.
      </p>
    </div>
    <div class="col-md-12" align="right">
      <button class="btn btn-primary " (click)="closeModal();">Aceptar</button>
    </div>
  </div>
</jw-modal>


<jw-modal id="confirmacionBajaModal">
  <div class="jw-modal-titulo">Atención</div>
  <div style="height:100%; width:100%">
    <div class="modal-body">
      <span *ngIf="model.registrarPromotor.estatus=='Activo'">
        <div class="row">
          ¿Estás seguro de dar de baja al personal operativo {{model.registrarPromotor.nombre}}
          {{model.registrarPromotor.primerApellido}} {{model.registrarPromotor.segundoApellido}}?
        </div>
      </span>
      <span *ngIf="model.registrarPromotor.estatus!='Activo'">
        <div class="row">
          ¿Estás seguro de reactivar al personal operativo {{model.registrarPromotor.nombre}}
          {{model.registrarPromotor.primerApellido}} {{model.registrarPromotor.segundoApellido}}?
        </div>
      </span>
    </div>
    <div class="col-md-12" align="right">
      <button class="btn btn-primary " (click)="closeModalConfirmacion();">Cancelar</button>
      &nbsp;&nbsp;&nbsp;<button class="btn btn-primary " (click)="bajaExec();">Aceptar</button>
    </div>
  </div>
</jw-modal>

<jw-modal id="carga">
  <div class="jw-modal-titulo"> <b>Atención</b></div>
  <div style="height:100%; width:100%">
    <br>
    <br>
    <p style="text-align:center"><b>Cargando datos</b></p>
    <div align="center">
      <div class="preloader"></div>
    </div>
    <br>
  </div>
</jw-modal>