<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="this.rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Registro de Operador de Entidad Financiera</h4>
        <hr class="red">
        <p>El registro fue guardado. Se ha enviado un correo electrónico al Operador para activar su usuario, con una vigencia
            de 3 días</p>
   </div>
</div>
<div class="row ">
    <div class="col-md-12" style="text-align: right;">
        <button class="btn btn-primary pull-right" routerLink="/administradorEF/home">Finalizar</button>
   </div>
</div>
<br>