<div class="row tarjeta">
    <div class="row tarjeta-header">
        Información de la simulación
    </div>
    <div class="row tarjeta-body">
        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                CAT con IVA:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="
Costo Anual Total:
Monto total a pagar
cada año, incluyendo
la tasa de interés
anual y otros costos
del préstamo.
        ">
              </span>
            </div>
            <div class="col-md-3">Monto solicitado:</div>
            <div class="col-md-3">Descuento mensual:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="
Es el monto que se
te descontará
mensualmente a lo
largo del préstamo.
"></span>
            </div>
            <div class="col-md-3">Plazo:</div>
        </div>

        <div class="row tarjeta-data-1">
            <div *ngIf="model.informeCartaInstruccion.catPromotor == null" class="col-md-3 tarjeta-data-1-bold">{{model.informeCartaInstruccion.prestamo.oferta.cat}}%</div>
            <div *ngIf="model.informeCartaInstruccion.catPromotor != null" class="col-md-3 tarjeta-data-1-bold">{{model.informeCartaInstruccion.catPromotor}}%</div>
            <div class="col-md-3">${{model.informeCartaInstruccion.prestamo.monto | number:'0.2-2'}}</div>
            <div class="col-md-3 tarjeta-data-1-bold">${{model.informeCartaInstruccion.prestamo.impDescNomina | number:'0.2-2'}}
            </div>
            <div class="col-md-3 tarjeta-data-1-bold">{{model.informeCartaInstruccion.prestamo.oferta.plazo.descripcion}}</div>
        </div>

        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                Importe total a pagar: <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="
Es el importe total
del préstamo más
los intereses y costos
cubiertos durante la
vida del crédito.
"></span>
            </div>
            <div class="col-md-3">Fecha del primer descuento:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Esta fecha está 
sujeta de cambio, 
conforme a la fecha
de autorización
del préstamo."></span></div>
            <div class="col-md-3">Fecha de registro:</div>
            <div class="col-md-3">Fecha de vigencia del folio:</div>
        </div>

        <div class="row tarjeta-data-1">
            <div class="col-md-3 tarjeta-data-1-bold">${{model.informeCartaInstruccion.prestamo.impTotalPagar | number:'0.2-2'}}
            </div>
            <div class="col-md-3">{{model.informeCartaInstruccion.prestamo.primerDescuento | slice:0:10}}</div>
            <div class="col-md-3">{{model.informeCartaInstruccion.solicitud.altaRegistro | slice:0:10}}</div>
            <div class="col-md-3">{{model.informeCartaInstruccion.solicitud.fecVigenciaFolio | slice:0:10}}</div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-3">Importe a recibir</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-3">${{model.informeCartaInstruccion.prestamo.importeARecibir | number:'0.2-2'}}</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>

    </div>
</div>