<app-breadcrumb-ux></app-breadcrumb-ux>
<br><br>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Generar Carta de Libranza</h4>
        <hr class="red" />
        <p><b>Términos y condiciones</b></p>
    </div>
</div>
<BR>
<!--      TABLA DE COMENTARIOS       -->
<div class="row table-responsive">

    <div id="global">
        <p>
            Favor de leer los siguientes Términos y Condiciones antes de usar esta página.<br><br> Al accesar y usar la plataforma, se reconoce el haber leído, entendido y aceptado los Términos y Condiciones que en este documento se establecen.<br><br>            1. Contenido:<br> El Instituto Mexicano del Seguro Social (IMSS) no se responsabiliza de daños o perjuicios derivados del acceso, uso o mala utilización de los contenidos de esta plataforma. El IMSS se reserva el derecho a actualizar, modificar
            o eliminar la información contenida en la plataforma pudiendo incluso limitar o no permitir el acceso a dicha información. El IMSS no asume responsabilidad alguna con los contenidos y servicios comerciales o de otra índole, páginas webs que
            se puedan enlazar electrónicamente (link) directa o indirectamente a través de esta plataforma.


            <br><br> 2. Productos:<br> La información contenida en este portal es sólo enunciativa, por lo que de ninguna manera constituye una oferta vinculante que relacione al usuario con el IMSS, ni que le obligue a celebrar contrato. El IMSS se reserva
            el derecho de modificar la información aquí; contenida cuando lo estime conveniente y sin previo aviso.


            <br><br> 3. Derecho de Propiedad Industrial:<br> El contenido total o parcial de ésta página, son propiedad del IMSS y se encuentran protegidos sus derechos por las leyes y disposiciones aplicables. El contenido de la plataforma, solo pueden
            ser usado como un medio para proporcionar el trámite que se ofrece. Cualquier otro uso, incluyendo la reproducción, modificación, distribución, transmisión, republicación, exhibición o ejecución del contenido de esta página se encuentra estrictamente
            prohibido, así como cualquier otro uso de las marcas en alguna otra página de Internet o en alguna otra red, incluyendo publicidad y anuncios en relación con la conformación de éste sitio sin el previo consentimiento por escrito del IMSS.


            <br><br> 4. Marcas:<br> Queda estrictamente prohibido el uso de la denominación Instituto Mexicano del Seguro Social o IMSS, sus logotipos y variantes, en México como en otros países, por lo que está prohibido su uso total, parcial o en conexión
            con otros productos o servicios.


            <br><br> 5. Restricción de Uso:<br> El acceso a nuestra página no autoriza para copiar e imprimir electrónicamente porciones de este sitio. Cualquier uso de los materiales incluidos en este sitio está estrictamente prohibido, sin el previo
            consentimiento por escrito del IMSS.


            <br><br> 6. Limitación de Responsabilidad:<br> El IMSS Hace esfuerzos razonables para mantener la información actual y precisa en la plataforma. Sin embargo, no garantiza su exactitud y no asume responsabilidad de cualquier error u omisión
            en la información de este sitio bajo ninguna circunstancia, incluyendo pero no limitando a negligencia o negligencia severa. El IMSS no será responsables de algún daño, directo, indirecto, incidental, especial, consecuencial o punitivo, incluyendo
            pero sin limitarse a daños por pérdidas de utilidades, uso o información o cualquier otro producto intangible.


            <br><br> 7. Renuncias a Garantías:<br> Cualquier material extraído o de cualquier otra forma obtenido a través de este sitio será hecho a sola discreción del usuario y riesgo y será el único responsable por cualquier daño ocasionado al sistema
            de su computadora o por cualquier producto de información, que resulte de la extracción de cualquier material. El IMSS no asume responsabilidad alguna que derive del intercambio de información electrónica entre usuarios de la red Internet
            y no adquiere ninguna responsabilidad por causa de problemas técnicos que se pudieran producir en equipos informáticos que se utilicen durante la conexión a la red Internet, ya sea a través de esta plataforma o de otras páginas webs.


            <br><br> 8. Liberación de Responsabilidad:<br> El IMSS Proporciona información en este sitio, libre de toda responsabilidad, por lo que no garantiza que la misma sea en forma ininterrumpida o esté libre de errores, o bien que los defectos
            sean corregidos inmediatamente o que el sitio o su servidor están libres de virus u otros componentes dañinos. El IMSS, no será responsable por daños de ninguna naturaleza derivados del uso de esta página, incluyendo pero no limitando los
            daños directos, indirectos, incidentales, culposos y consecuenciales.


            <br><br> 9. Competencia, Jurisdicción y Derecho Aplicable:<br> Las operaciones comerciales que se dan entre el IMSS y los usuarios estarán regidas por las leyes de los Estados Unidos Mexicanos y cualquier controversia que se derive de la aplicación
            de la misma se ventilará ante las autoridades y los tribunales de la ciudad de México, Ciudad de México, renunciando expresamente a cualquiera otra jurisdicción que les pudiera corresponder por razón de su domicilio presente o futuro.


            <br><br> 10. Enmiendas:<br> El IMSS podrá en cualquier momento enmendar estos términos y condiciones. Los términos y condiciones de su uso de este sitio estarán contenidos por aquellos términos y condiciones manifestados al momento de su uso
            real. Deberá visitar y revisar esta página con anterioridad a usar este sitio para determinar los actuales términos y condiciones a los cuales usted está obligado


            <br><br> 11. Transmisión de Información:<br> Cualquier información que usted transmita a través de esta plataforma se tratará conforme al aviso de privacidad correspondiente. Se prohíbe que transmita a/o desde este sitio cualquier material
            obsceno, difamatorio, ilegal, incendiario o cualquier otro material que pudiera dar surgimiento a cualquier tipo de responsabilidad bajo Ley de garantías civiles o penales. El IMSS no se responsabiliza de las posibles discrepancias que puedan
            surgir entre la versión de sus documentos impresos y la versión electrónica de los mismos publicados en este portal.


            <br><br> 12. Política de Privacidad para los usuarios del Portal:<br> El IMSS es responsable del tratamiento de los datos personales que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección
            de Datos Personales en Posesión de Sujetos Obligados y demás normatividad que resulte aplicable. Sus datos personales serán utilizados para verificar y confirmar su identidad, así como la autenticidad de la información proporcionada, integrar
            los expedientes, bases de datos y transferencia de datos necesarios para el otorgamiento y operación del trámite de “Solicitud para préstamo a cuenta de pensión del régimen de la Ley del Seguro Social 1973”, en todas sus modalidades. Le informamos
            que se realizarán transferencia de sus datos personales, para comprobar la autenticidad de los mismos. Destinatario de los datos personales en el país que pertenece al Gobierno Federal: INE o la dependencia o entidad pública que emita la identificación
            oficial que presenta en su solicitud para comprobar la autenticidad del documento de identificación, así como el fenotipo del solicitante. Se podrá consultar el aviso de privacidad integral que se encuentra publicado en la página http://www.imss.gob.mx</p>
    </div>


</div>
<br>
<div class="row">

    <div class="col-md-12">
        <input type="checkbox" name="avisoCheck" (change)="cheked()" [checked]="(idx === 0)"> He leído y acepto los términos y condiciones
        <br>
    </div>
</div>
<br>
<div class="col-md-12" *ngIf="estado">
    <span style="color: #ed1b24" id="errorAviso" name="errorAviso">
    Para continuar debes aceptar los t&eacute;rminos y condiciones.
    <br><br>
  </span>
</div>
<br>
<div class="col-md-6"></div>
<div class="col-md-6" style="text-align: right;">
    <a class="btn btn-default" routerLink="../condicionesPrestamos" role="button">Regresar</a> &nbsp;&nbsp;
    <button type="button" (click)="openModal();" class="btn btn-primary ">
    <span class="oi oi-send glyphicon glyphicon-left"> </span>
    Generar Carta de Libranza</button>
    <br><br>
</div>
<jw-modal id="confirmarCartaCap">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <p style="text-align:center"><b>¿El pensionado est&aacute; de acuerdo con la generaci&oacute;n de la Carta de Libranza?.</b>
        </p>
        <br>
        <div class="col-md-12" align="right">
            <button class="btn btn-default" (click)="closeModal();">Cancelar</button>&nbsp;&nbsp;
            <button class="btn btn-primary " (click)="guardarCartaInstruccion()">Aceptar</button>
        </div>
    </div>
</jw-modal>


<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>