<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>
<div class="row" style="height: 50px;">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div><br>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Informe de simulación de préstamo</h4>
        <hr class="red">
    </div>

</div>
<br>

<div class="row folio-header">
    <div class="col-md-3">
        Folio:&nbsp;<span>{{resumenSimulacion.solicitud.numFolioSolicitud}}</span>
    </div>
    <div class="col-md-9">
        Estado:&nbsp;<span>{{resumenSimulacion.solicitud.cveEstadoSolicitud.desEstadoSolicitud}}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 tarjeta tarjeta-info-pensionado">
        <div class="row tarjeta-header">
            Información del solicitante
        </div>
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-12">
                    Nombre:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-12">
                    {{this.model.prestamoPromotor.pensionado.nombre}}&nbsp;
                    {{this.model.prestamoPromotor.pensionado.primerApellido}}&nbsp;
                    {{this.model.prestamoPromotor.pensionado.segundoApellido}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    CURP:
                </div>
                <div class="col-md-6">
                    NSS:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.pensionado.curp}}
                </div>
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.pensionado.nss}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Delegación:
                </div>
                <div class="col-md-6">
                    Tel&eacute;fono m&oacute;vil:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    <span *ngIf="this.rol != 'pensionado'"></span>
                    <span
                        *ngIf="this.rol === 'pensionado'">{{this.model.prestamoPromotor.pensionado.delegacion.descDelegacion}}</span>
                </div>
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.pensionado.telefono}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Correo electr&oacute;nico:
                </div>
                <div class="col-md-6">
                    Tipo de trabajador:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.correoElectronico}}
                </div>
                <div class="col-md-6">
                    PENSIONADO
                </div>
            </div>

            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Tipo de pensión:
                </div>
                <div class="col-md-6">
                    Tipo de crédito:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    NUEVO
                </div>
                <div class="col-md-6">
                    NUEVO
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 tarjeta tarjeta-info-ef">
        <div class="row tarjeta-header">
            Entidad Financiera elegida
        </div>
        <div class="row tarjeta-body">
            <div class="row">
                <div class="col-md-12">
                    <img [src]="imgEFUrl" alt="Sin imagen">
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Nombre comercial:
                </div>
                <div class="col-md-6">
                    Teléfono:
                </div>
            </div>
            <div class="row tarjeta-data-1-bold">
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.personaEF.entidadFinanciera.nombreComercial}}
                </div>
                <div class="col-md-6">
                    {{this.model.prestamoPromotor.personaEF.entidadFinanciera.numTelefono}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-12">
                    Página web:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-12">
                    <a href="https://{{this.model.prestamoPromotor.personaEF.entidadFinanciera.paginaWeb}}">{{this.model.prestamoPromotor.personaEF.entidadFinanciera.paginaWeb}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row tarjeta">
    <div class="row tarjeta-header">
        Personal operativo
    </div>
    <div class="row tarjeta-body">
        <div class="col-md-4">
            <img [src]="imgPromotorUrl" alt="Sin imagen" style="max-width: 250px; max-height: 150px;">
        </div>
        <div class="col-md-8">
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    Nombre:
                </div>
                <div class="col-md-6">
                    Teléfono móvil:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.personaEF.nombre}}
                    {{ this.model.prestamoPromotor.personaEF.primerApellido}}
                    {{ this.model.prestamoPromotor.personaEF.segundoApellido}}
                </div>
                <div class="col-md-6">
                    {{ this.model.prestamoPromotor.personaEF.telefono}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-12">
                    Correo Electrónico:
                </div>

            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-12">
                    {{ this.model.prestamoPromotor.personaEF.correoElectronico}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Información de la simulación
    </div>
    <div class="row tarjeta-body">
        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                CAT con IVA:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    data-placement="bottom" title="Costo Anual Total:
Monto total a pagar
cada año, incluyendo
la tasa de interés
anual y otros costos
del préstamo.">
                </span>
            </div>
            <div class="col-md-3">Monto solicitado:</div>
            <div class="col-md-3">Descuento mensual:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    data-placement="bottom" title="Es el monto que se
te descontará
mensualmente a lo
largo del préstamo."></span>
            </div>
            <div class="col-md-3">Plazo:</div>
        </div>

        <div class="row tarjeta-data-1">
            <div class="col-md-3 tarjeta-data-1-bold">{{this.model.prestamoPromotor.personaRequest.cat}}%</div>
            <div class="col-md-3">${{this.model.prestamoPromotor.prestamo.monto | number:'0.2-2'}}</div>
            <div class="col-md-3 tarjeta-data-1-bold">
                ${{this.model.prestamoPromotor.personaRequest.prestamo.descuentoMensual | number:'3.2-2'}}
            </div>
            <div class="col-md-3 tarjeta-data-1-bold">
                {{this.model.prestamoPromotor.personaRequest.prestamo.plazo.descripcion}}</div>
        </div>

        <div class="row tarjeta-title-1">
            <div class="col-md-3">
                Importe total a pagar: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                    data-toggle="tooltip" data-placement="bottom" title="Es el importe total
del préstamo más
los intereses y costos
cubiertos durante la
vida del crédito."></span>
            </div>
            <div class="col-md-3">
                Fecha del primer descuento:<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                    data-toggle="tooltip" data-placement="bottom" title="Esta fecha está sujeta 
de cambio, conforme a la 
fecha de autorización 
del préstamo."></span></div>
            <div class="col-md-3"></div>
        </div>

        <div class="row tarjeta-data-1">
            <div class="col-md-3 tarjeta-data-1-bold">${{this.model.prestamoPromotor.prestamo.impTotalPagar |
                number:'0.2-2'}}
            </div>
            <div class="col-md-3">{{this.fecha}}</div>
            <div class="col-md-3"></div>
        </div>

    </div>
</div>

<app-aviso-privacidad></app-aviso-privacidad>
<br>
<div class="row ">
    <div class="col-md-12">

        <input type="checkbox" name="avisoCheck" (change)="cheked()" [checked]="(idx === 0)"> He leído y acepto el aviso
        de privacidad


    </div>

</div>

<div class="row ">
    <div class="col-md-12" style="text-align: right;">

        <div class="form-group">
            <button type="button" [disabled]="!estadoTermino || buttonSubmitStatus" (click)=guardarCartaInstruccion();
                class="btn btn-primary ">
                Generar Carta de Libranza
            </button>



        </div>

    </div>
</div>
<br>