<form role="form" [formGroup]="formGroup" (ngSubmit)="buscarNotificacion();" autocomplete="off">

    <div class="row col-md-12">
        <h4>Buscar notificación</h4>
        <hr class="red">
        <p>Para realizar tu búsqueda, agrega criterios y/o ingresa la información en uno o varios campos:</p>
        <button *ngIf="rol == 'operadorIMSS'" type="button" class="btn btn-primary pull-right inputBorder"
            style="margin-top:-60px;" (click)="registrarNotificacion();">Nueva notificación</button>
        <button *ngIf="rol == 'adminEFSinConvenio' || rol == 'operadorEF'" type="button"
            class="btn btn-primary pull-right inputBorder" style="margin-top:-60px;"
            (click)="registrarComunicado();">Registrar comunicado</button>
        <br><br>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class=" control-label">Número de Seguridad Social:</label>
                <input
                    [ngClass]="[!formGroup.controls['numeroSocial'].valid && formGroup.controls['numeroSocial'].touched ? 'form-control-error':'form-control']  "
                    class="form-control inputSimple" formControlName="numeroSocial" type="text"
                    placeholder="Ingresa NSS de 11 dígitos" maxlength="11">
                <div *ngIf="!formGroup.controls['numeroSocial'].valid">
                    <div
                        *ngIf="formGroup.controls['numeroSocial'].touched && (formGroup.get('numeroSocial').errors?.minlength || formGroup.get('numeroSocial').errors?.pattern)">
                        <p class="error-class">El NSS debe de tener un mínimo de 11 dígitos </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class=" control-label">Folio de la notificación:</label>
                <input
                    [ngClass]="[!formGroup.controls['folioNotificacion'].valid && formGroup.controls['folioNotificacion'].touched ? 'form-control-error':'form-control']  "
                    class="form-control inputSimple" formControlName="folioNotificacion"
                    placeholder="Ingresa folio de 7 dígitos" type="text" maxlength="7">
                <div *ngIf="!formGroup.controls['folioNotificacion'].valid">
                    <div
                        *ngIf="formGroup.controls['folioNotificacion'].touched && (formGroup.get('folioNotificacion').errors?.minlength || formGroup.get('folioNotificacion').errors?.pattern)">
                        <p class="error-class">El folio debe de tener un mínimo de 7 dígitos </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class=" control-label">Folio del préstamo:</label>
                <input maxlength=13
                    [ngClass]="[!formGroup.controls['folioPrestamo'].valid && formGroup.controls['folioPrestamo'].touched ? 'form-control-error':'form-control']  "
                    class="form-control inputSimple" formControlName="folioPrestamo"
                    placeholder="Ingresa folio de 13 dígitos" type="text">
                <div style="width: max-content;">
                    <div
                        *ngIf=" formGroup.get('folioPrestamo').errors?.minlength && formGroup.controls['folioPrestamo'].touched">
                        <p class="error-class">El folio debe de tener un máximo de 13 dígitos.</p>
                    </div>
                    <div
                        *ngIf="formGroup.controls['folioPrestamo'].touched && formGroup.get('folioPrestamo').errors?.pattern">
                        <p class="error-class">El folio no tiene la estructura correcta. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label class=" control-label">Estado de la notificación:</label>
            <div class="form-group">
                <select class="form-control inputSimple" formControlName="estadoNotificacion">
                    <option value="-1" disabled><span>Selecciona Estado de la notificación</span></option>
                    <option *ngFor="let estadoNotificacion of  catalogoEstadoNotificacion"
                        [value]="estadoNotificacion.id">
                        <span>{{estadoNotificacion.descripcion}}</span>
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label class=" control-label">Entidad Financiera:</label>
            <div class="form-group">
                <select class="form-control inputSimple" formControlName="entidadFinanciera">
                    <option value="-1" disabled><span>Selecciona Entidad Financiera</span></option>
                    <option *ngFor="let entidad of  catalogoEntidadFinanciera" [value]="entidad.id">
                        <span>{{entidad.nombreComercial}}</span>
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <label class=" control-label">Tipo de notificación:</label>
            <div class="form-group">
                <select class="form-control inputSimple" formControlName="tipoNotificacion">
                    <option value="-1" disabled><span>Selecciona tipo</span></option>
                    <option *ngFor="let tipoNotificacion of  catalogoTipoNotificacion" [value]="tipoNotificacion.id">
                        <span>{{tipoNotificacion.descripcion}}</span>
                    </option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label class=" control-label">Tipo secundario:</label>
            <div class="form-group">
                <select class="form-control inputSimple" formControlName="tipoSecundario"
                    [attr.disabled]="tempSubTipoNotificacion.length == 0 ? '' : null">
                    <option value="-1" disabled><span></span></option>
                    <option *ngFor="let subTipoNotificacion of  tempSubTipoNotificacion"
                        [value]="subTipoNotificacion.id">
                        <span>{{subTipoNotificacion.descripcion}}</span>
                    </option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row col-md-12">
        <label class=" control-label">Fecha de registro:</label>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class=" control-label">De:</label>
            <div class="form-group datepicker-group">
                <input class="form-control inputSimple" type="text" formControlName="fechaIncioRegistro"
                    [ngClass]="[!formGroup.controls['fechaIncioRegistro'].valid && formGroup.controls['fechaIncioRegistro'].touched ? 'form-control-error':'form-control']  "
                    id="fechaIncioRegistro">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div style="width: max-content;">
                    <div
                        *ngIf=" formGroup.controls['fechaIncioRegistro'].errors?.required && formGroup.controls['fechaIncioRegistro'].touched">
                        <p class="error-class">Se debe asignar un rango de fechas para continuar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label class=" control-label">A:</label>
            <!-- <p style="margin-bottom:30px;"></p> -->
            <div class="form-group datepicker-group">
                <input class="form-control inputSimple" type="text" formControlName="fechaFinRegistro"
                    id="fechaFinRegistro"
                    [ngClass]="[!formGroup.controls['fechaFinRegistro'].valid && formGroup.controls['fechaFinRegistro'].touched ? 'form-control-error':'form-control']  ">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div style="width: max-content;" *ngIf="!formGroup.controls['fechaFinRegistro'].valid">
                    <div
                        *ngIf=" formGroup.controls['fechaFinRegistro'].errors.fechaMayorError && formGroup.controls['fechaFinRegistro'].touched">
                        <p class="error-class">La fecha final del rango de búsqueda no puede ser menor a la fecha
                            inicial. Por favor verifica.</p>
                    </div>
                    <div
                        *ngIf=" formGroup.controls['fechaFinRegistro'].errors.fechaInicioSinValor && formGroup.controls['fechaFinRegistro'].touched">
                        <p class="error-class">La fecha inicial del registro debe de tener valor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <label class=" control-label">Fecha de vencimiento</label>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class=" control-label">De:</label>
            <div class="form-group datepicker-group">
                <input class="form-control inputSimple" type="text" formControlName="fechaInicioVencimiento"
                    id="fechaInicioVencimiento"
                    [ngClass]="[!formGroup.controls['fechaInicioVencimiento'].valid && formGroup.controls['fechaInicioVencimiento'].touched ? 'form-control-error':'form-control']  ">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div style="width: max-content;">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label class=" control-label">A:</label>
            <div class="form-group datepicker-group">
                <input class="form-control inputSimple" type="text" formControlName="fechaFinVencimiento"
                    id="fechaFinVencimiento"
                    [ngClass]="[!formGroup.controls['fechaFinVencimiento'].valid && formGroup.controls['fechaFinVencimiento'].touched ? 'form-control-error':'form-control']  ">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <div style="width: max-content;" *ngIf="!formGroup.controls['fechaFinVencimiento'].valid">
                    <div
                        *ngIf=" formGroup.controls['fechaFinVencimiento'].errors.fechaMayorError && formGroup.controls['fechaFinVencimiento'].touched">
                        <p class="error-class">La fecha final del rango de búsqueda no puede ser menor a la fecha
                            inicial. Por favor verifica.
                        </p>
                    </div>
                    <div
                        *ngIf=" formGroup.controls['fechaFinVencimiento'].errors.fechaInicioSinValor && formGroup.controls['fechaFinVencimiento'].touched">
                        <p class="error-class">La fecha inicial del registro debe de tener valor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="pull-right">
                <div class="col-md-6" style="margin-top:30px;">
                    <button type="button" class="btn btn-default inputBorder"
                        (click)="limpiar();">Limpiar</button>&nbsp;
                </div>
                <div class="col-md-6" style="margin-top:30px;">
                    <button type="submit" class="btn btn-primary inputBorder"
                        [disabled]="formGroup.invalid">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div *ngIf="showResult">
        <span class='tituloResultNotificacion'>Resultado de la búsqueda de notificación</span>
        <div class="tarjetaResulBusq" *ngFor="let item of pageConsultaNotificacion.content; let i = index">
            <div class="row">
                <div class="col-md-9">
                    <label class="fontNombreEF">Entidad Financiera:
                        <span><strong>{{item.nombreEntidadFinanciera}}</strong></span></label>
                </div>
                <div class="col-md-3 pull-right">
                    <span style="cursor:pointer; text-decoration: none;" (click)="irDetalle(item.id);">
                        <img [src]="'/mclpe/auth/js/assets/img/GroupVD.png'" class="GroupVD"><span
                            class="Ver-detalle">Ver Detalle</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Folio:</label>
                </div>
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Tipo:</label>
                </div>
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Tipo secundario:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.folioNotificacion }}</label>
                </div>
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.descTipoNotificacion }}</label>
                </div>
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.descSubTipoNotificacion }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Fecha de registro:</label>
                </div>
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Fecha de vencimiento:</label>
                </div>
                <div class="col-md-4">
                    <label class="tituloPrestamo-span">Estado:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.altaRegistro | slice:0:10 }}</label>
                </div>
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.fecVencimiento | slice:0:10 }}</label>
                </div>
                <div class="col-md-4">
                    <label class="fontNombrePrestamo">{{ item.descEstadoNotificacion }}</label>
                </div>
            </div>
        </div>
        <app-pager [pageModel]="pageConsultaNotificacion" (paged)="onPaged($event)"></app-pager>
    </div>

    <br>
</form>
<br>

<jw-modal id="noExistenDatos">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>Debes ingresar información en por lo menos un campo para hacer una búsqueda.</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModalNoExistenDatos()"
                    style="margin-right: 5px">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>

<jw-modal id="noExistenFechas">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>Debes ingresar por lo menos un rango de fechas para hacer una búsqueda.</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModalNoExistenFechas()"
                    style="margin-right: 5px">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>
<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>