<div class="row">
  <form [formGroup]="uploadForm">
    <div class="col-md-9" style="text-align: left;">
      <input #inputC class="btn btn " type="file" name="profile" (change)="onFileSelect($event)" accept=".pdf" />
    </div>
    <button *ngIf="!loadingFile" [disabled]="!uploadForm.get('profile').value || documento.id" class="col-md-2" style="font-family: Montserrat; font-size: 18px; border: 0px !important;"
        class="btn btn-default" (click)="onSubmit()">
        <span class="glyphicon glyphicon-open" aria-disabled="true"></span>&nbsp;Cargar
      </button>
      <div *ngIf="loadingFile" class="col-md-2" style="padding: 20px;">
        <div class="dot-pulse"></div>
      </div>
  </form>
</div>