<div class="row">
    <div class="col-md-12">
        <h4>Modificación de Pensionado</h4>
        <hr class="red" style="margin-bottom:30px;">
        <span>Realiza la búsqueda del Pensionado ingresando CURP y/o NSS:</span>
    </div>
</div>
<br>
<div class="row" [formGroup]="formBusqueda">
    <div class="col-md-4 form-group">
        <label class="control-label" style="font-weight: bold;">CURP:</label>
        <input class="form-control inputSimple" [ngClass]="[!formBusqueda.controls['curp'].valid && formBusqueda.controls['curp'].touched  
                ? 'form-control-error':'form-control']" formControlName="curp" maxlength="18" type="text"
            oninput="this.value = this.value.toUpperCase()" placeholder="Ingresa CURP de 18 caracteres">
        <div style="width: max-content;">
            <div *ngIf="formBusqueda.get('curp').errors?.pattern && formBusqueda.controls['curp'].touched">
                <p class="error-class">No se permiten caracteres especiales.</p>
            </div>
            <div *ngIf="formBusqueda.get('curp').value.length < 18 && formBusqueda.controls['curp'].touched 
                && formBusqueda.get('curp').value.length > 0 && !formBusqueda.get('curp').errors?.pattern">
                <p class="error-class">La CURP debe tener 18 caracteres.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 form-group">
        <label class="control-label" style="font-weight: bold;">NSS:</label>
        <input class="form-control" formControlName="nss" placeholder="Ingresa NSS de 11 dígitos" maxlength="11"
            type="text"
            [ngClass]="[!formBusqueda.controls['nss'].valid && formBusqueda.controls['nss'].touched ? 'form-control-error':'form-control']">
        <div style="width: max-content;">
            <div *ngIf="formBusqueda.get('nss').errors?.pattern && formBusqueda.controls['nss'].touched">
                <p class="error-class">Sólo se permiten caracteres numéricos.</p>
            </div>
            <div
                *ngIf="formBusqueda.get('nss').value.length < 11 && formBusqueda.controls['nss'].touched && formBusqueda.get('nss').value.length > 0 && !formBusqueda.get('nss').errors?.pattern">
                <p class="error-class">El NSS debe tener 11 dígitos.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pull-left" style="margin-top: 25px;">
            <button type="button" class="btn btn-primary inputBorder" (click)="buscarPensionado(true)"
                [disabled]="!formBusquedaIsValid()">Buscar</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h5>Resultados de la Búsqueda</h5>
    </div>
    <div class="col-md-12">
        <hr class="red" style="margin-bottom:30px;">
    </div>
</div>
<div class="row" *ngIf="!personaResponse.cvePersona">
    <div class="col-md-12">
        <p>No existe información para mostrar</p>
    </div>
</div>
<div class="row tarjeta" *ngIf="personaResponse.cvePersona">
    <div class="row tarjeta-body" *ngIf="personaResponse">
        <div class="row tarjeta-data-1">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <span style="font-weight: bold;">{{personaResponse.nombre + " " + personaResponse.primerApellido
                    + " " + personaResponse.segundoApellido}}</span>
            </div>
            <div class="col-md-3">
                <div class="row"><span style="font-weight: bold;" class="blue-font">CURP:</span></div>
                <div class="row">
                    <p>{{personaResponse.cveCurp}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row"><span style="font-weight: bold;" class="blue-font">NSS:</span></div>
                <div class="row">
                    <p>{{personaResponse.numNss}}</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr class="Line-3" style="border-top:1px solid #000000;">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p style="font-weight: bold;">Datos del contacto</p>
                <p>Modifica los datos del Pensionado si es necesario:</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-1"></div>
            <div class="col-md-4">Correo electrónico:</div>
            <div class="col-md-3">Teléfono:</div>
            <div class="col-md-3">Teléfono móvil:</div>
            <div class="col-md-1"></div>
        </div>
        <div class="row tarjeta-data-1" [formGroup]="formDatosPensionado">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <input [(ngModel)]="personaResponse.correoElectronico"
                    [ngClass]="[!formDatosPensionado.controls['correo'].valid && formDatosPensionado.controls['correo'].touched ? 'form-control-error':'form-control']  "
                    class="form-control" formControlName="correo" type="text" placeholder="Ingresa correo electrónico"
                    oninput="this.value = this.value.toLowerCase()" autocomplete="disabled" appBlockCopyPaste
                    [value]="personaResponse.correoElectronico">

                <div *ngIf="!formDatosPensionado.controls['correo'].valid">
                    <div
                        *ngIf=" formDatosPensionado.get('correo').errors?.pattern && formDatosPensionado.controls['correo'].touched">
                        <p class="error-class">Asegúrate de que tu correo tenga el símbolo @ y un punto.
                    </div>

                    <div
                        *ngIf=" formDatosPensionado.controls['correo'].errors?.required && formDatosPensionado.controls['correo'].touched">
                        <p class="error-class">Es necesario ingresar la información del campo marcado como
                            obligatorio. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input [(ngModel)]="personaResponse.telLocal"
                    [ngClass]="[!formDatosPensionado.controls['numTelefono'].valid && formDatosPensionado.controls['numTelefono'].touched ? 'form-control-error':'form-control']"
                    class="form-control" formControlName="numTelefono" maxlength="10" type="input"
                    placeholder="Ingresa teléfono de 10 dígitos" [value]="personaResponse.telLocal">

                <div *ngIf="!formDatosPensionado.controls['numTelefono'].valid">
                    <div
                        *ngIf="formDatosPensionado.get('numTelefono').errors?.pattern && formDatosPensionado.controls['numTelefono'].touched">
                        <p class="error-class">
                            Sólo se permiten caracteres numéricos.</p>
                    </div>
                    <div
                        *ngIf="formDatosPensionado.get('numTelefono').value.length < 10 && formDatosPensionado.controls['numTelefono'].touched && formDatosPensionado.get('numTelefono').value.length > 0 && !formDatosPensionado.get('numTelefono').errors?.pattern">
                        <p class="error-class">
                            El teléfono debe tener 10 dígitos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input [(ngModel)]="personaResponse.telCelular"
                    [ngClass]="[!formDatosPensionado.controls['numTelefonoMovil'].valid && formDatosPensionado.controls['numTelefonoMovil'].touched ? 'form-control-error':'form-control']"
                    class="form-control" formControlName="numTelefonoMovil" maxlength="10" type="input"
                    placeholder="Ingresa teléfono móvil de 10 dígitos" [value]="personaResponse.telCelular">
                <div *ngIf="!formDatosPensionado.controls['numTelefonoMovil'].valid">
                    <div
                        *ngIf="formDatosPensionado.get('numTelefonoMovil').errors?.pattern && formDatosPensionado.controls['numTelefonoMovil'].touched">
                        <p class="error-class">
                            Sólo se permiten caracteres numéricos.</p>
                    </div>
                    <div
                        *ngIf="formDatosPensionado.get('numTelefonoMovil').value.length < 10 && formDatosPensionado.controls['numTelefonoMovil'].touched && formDatosPensionado.get('numTelefonoMovil').value.length > 0 && !formDatosPensionado.get('numTelefonoMovil').errors?.pattern">
                        <p class="error-class">
                            El teléfono debe tener 10 dígitos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="pull-right" style="margin-top: 30px;">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <a class="btn btn-default" (click)="navegarHome()" role="button">Regresar</a>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" [disabled]="!formDatosPensionadoIsValid() || existenEstados"
                                (click)="actualizarDatos()" class="btn btn-primary ">Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br>

<div class="row" *ngIf="personaResponse.cvePersona">
    <div class="col-md-12">
        <h5>Bitácora de Movimientos</h5>
        <hr class="red">
    </div>
</div>

<div class="row" *ngIf="personaResponse.cvePersona">
    <div class="col-md-12"
        *ngIf="bitacoraPensionadoList != null && bitacoraPensionadoList.length > 0; else datosModificados">
        <app-historico-datos-pensionado [cvePersona]="personaResponse.cvePersona"
            [bitacoraPensionadoList]="bitacoraPensionadoList"></app-historico-datos-pensionado>
        <app-pager [pageModel]="pageBitacoraPensionado" (paged)="buscarBitacoraPensionado($event, true)"></app-pager>
    </div>
    <ng-template #datosModificados>
        <div class="alert alert-primary" role="alert">
            No existen modificaciones a los datos del pensionado
        </div>
    </ng-template>
</div>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>
        <br>
    </div>
</jw-modal>