<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row" style="height: 65px;">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="row ">
    <div class="col-md-12">
        <h4>Asignar personal operativo</h4>
        <hr class="red">
    </div>
</div>
<div class="row ">
    <div class="col-md-8 label-1">
        Delegación: <span class="dato-1"> {{descDelegacion}} </span>
    </div>

    <div class="col-md-4 label-1">
        Folio : <span class="dato-1">{{numFolioSolicitud}}</span>
    </div>
</div>
<br>

<div class="row" *ngIf="flagPromotoresDisponibles == 0">
    <div class="lista-promotores-asignar">No hay personal operativo disponible en esta delegación.</div>
</div>

<div class="row" *ngIf="flagPromotoresDisponibles == -1">
    <div class="loader">Loading...</div>
</div>

<div *ngFor="let item of promotores.personas; let i = index">
    <div class="row">
        <div class="col-md-12 label-1-1">
            Personal operativo : <span class="dato-1">{{item.numEmpleado}}</span>
        </div>
    </div>
    <div [ngClass]="[cvePersonalEfSeleccionado == item.cvePersonalEf ? 'card-promotor-selected':'card-promotor']"
        class="row card-promotor" (click)="seleccionarPromotor(item.cvePersonalEf)">
        <div class="col-md-3 label-2">
            Nombre :
            <br><span class="label-2 dato-2" style="font-weight: bold">
                {{item.nombre}}&nbsp;
                {{item.primerApellido}}&nbsp;
                {{item.segundoApellido}}</span>
        </div>
        <div class="col-md-3 label-2">Correo Electrónico:
            <br>
            <span class="label-2 dato-2"> {{item.correoElectronico}} </span>
        </div>
        <div class="col-md-3 label-2">Teléfono Móvil:
            <br>
            <span class="label-2 dato-2"> {{item.telCelular}}</span>
        </div>
        <div class="col-md-3 label-2">Delegaciones:
            <div class="row">
                <div *ngFor="let item2 of item.lstDelegaciones; let i = index" class="dato-2 row">
                    {{item2.descDelegacion}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row text-right">
    <a class="btn btn-default" (click)="regresar()" role="button">Regresar</a>
    &nbsp;&nbsp;&nbsp;
    <a *ngIf="cvePersonalEfSeleccionado != null" class="btn btn-primary" (click)="asignar()" role="button">Asignar</a>
</div>
<br>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>
        <br>
    </div>
</jw-modal>