<app-menu-ux [rol]="rol">
</app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<br>
<br>
<br>
<div class="formulario">

    <div class="row">
        <div class="col-md-12">
            <h2>Buscar Folio </h2>
            <hr class="red" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Folio*</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div [ngClass]="
        { 'has-error form-group' : (folioSolicitado.dirty || folioSolicitado.touched) && folioSolicitado.invalid }
        ">

                <div class="input-group">
                    <input required minlength="13" maxlength="13" #folioSolicitado="ngModel" [(ngModel)]="folio" id="folio" class="form-control " name="folio" type="text" [disabled]="nss.length > 0">

                </div>
                <div *ngIf="folioSolicitado.invalid && (folioSolicitado.dirty || folioSolicitado.touched)">

                    <span class="text-danger" *ngIf="folioSolicitado.errors.required">
         
          </span>
                    <span class="text-danger" *ngIf="folioSolicitado.errors.minlength">
            El folio debe ser de 13 caracteres
          </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>NSS*</label>
            <input type="text" class="form-control" [(ngModel)]="nss" placeholder="Ingresa el NSS" aria-describedby="basic-addon1" [disabled]="folio.length > 0">
        </div>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" (click)="buscarFolio()" class="btn btn-primary ">
          <span class="oi oi-send glyphicon glyphicon-left"> </span>Buscar
        </button> </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th Width=15% scope="col">Folio del pr&eacute;stamo</th>
                        <th scope="col">Nombre comercial de la Entidad Financiera</th>
                        <th scope="col">N&uacute;mero de Seguridad Social</th>
                        <th scope="col">Nombre del pensionado</th>
                        <th scope="col">Primer apellido</th>
                        <th scope="col">Segundo apellido</th>
                        <th scope="col">Estado del pr&eacute;stamo</th>
                        <th scope="col">Fecha inicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pageOfertas.content; let i = index">
                        <td text-align:justify>{{item.folio}}</td>
                        <td>{{item.resumenSimulacion.nombreComercial}} </td>
                        <td>{{item.nss}}</td>
                        <td>{{item.resumenSimulacion.nombre}}</td>
                        <td>{{item.resumenSimulacion.primerApe}}</td>
                        <td>{{item.resumenSimulacion.segundoApe}}</td>
                        <td>{{item.estadoPrestamo}}</td>
                        <td>{{item.fechaInicio}}</td>
                    </tr>
                </tbody>
            </table>
            <app-pager [pageModel]="pageOfertas" (paged)="onPaged($event)"></app-pager>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
        <button type="button" (click)="regresar()" class="btn btn-default ">
          <span class="oi oi-send glyphicon glyphicon-left"> </span>Regresar
        </button> </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary ">
        <span class="oi oi-send glyphicon glyphicon-left"> </span>Ver Detalle
      </button> </div>
    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <br>
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>

            <br>
        </div>
    </jw-modal>
</div>