<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row" style="height: 65px;">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Informe de préstamo</h4>
        <hr class="red">
    </div>


</div>



<br>
<div class="row">
    <!-- DATOS DEL PENSIONADO-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Información del solicitante</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Nombre(s): </th>
                <th>Primer apellido: </th>
                <th> Segundo apellido: </th>
            </tr>
            <tr>
                <td>{{this.model.cartaInstruccion.persona.nombre}}</td>
                <td>{{this.model.cartaInstruccion.persona.primerApellido}}</td>
                <td>{{this.model.cartaInstruccion.persona.segundoApellido}}</td>
            </tr>
            <tr>
                <th>CURP: </th>
                <th>NSS: </th>
                <th>Teléfono:</th>

            </tr>
            <tr>
                <td>{{this.model.cartaInstruccion.pensionado.curp}}</td>
                <td>{{this.model.cartaInstruccion.pensionado.nss}}</td>
                <td>{{this.model.cartaInstruccion.persona.telCelular}}</td>

            </tr>
            <tr>

                <th>Correo electrónico:</th>
                <th>Delegación:</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>{{this.model.cartaInstruccion.persona.correoElectronico}}</td>
                <td>{{this.model.cartaInstruccion.pensionado.delegacion.descDelegacion}}</td>
                <td>&nbsp; </td>
            </tr>

            <tr>

                <th>Tipo de trabajador:</th>
                <th>Tipo de pensión:</th>
                <th>Tipo de crédito:</th>
            </tr>
            <tr>
                <td>Pensionado</td>
                <td>{{this.model.cartaInstruccion.pensionado.tipoPension}}</td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="4">Capacidad de crédito vigente</th>

            </tr>
            <tr>
                <th scope="col" style="width: 50%;">Capacidad fija:</th>
                <th scope="col" style="width: 25%;">Capacidad variable:</th>
                <th scope="col" style="width: 25%;">Capacidad total:</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{this.model.cartaInstruccion.capacidadCredito.impCapacidadFija}}</td>
                <td>${{this.model.cartaInstruccion.capacidadCredito.impCapacidadVariable}}</td>
                <td>${{this.model.cartaInstruccion.capacidadCredito.impCapacidadTotal}}</td>
            </tr>

        </tbody>
    </table>

</div>

<form [formGroup]="formGroup" autocomplete="off" class="form-inline" role="form">

    <div class="row">
        <h5> Datos del préstamo a liquidar</h5>
        <p> Ingresa el monto a liquidar:</p>

        <!--TABLA DATOS DEL PRESTAMO A LIQUIDAR  -->
        <table class="table table-striped">

            <tbody>
                <td></td>
                <tr>
                    <th>Nombre Comercial:</th>
                    <th> Folio: </th>
                    <th>Descuento mensual:</th>
                    <th>Monto prestado:</th>

                </tr>

                <tr>
                    <td>{{this.model.cartaInstruccion.personaEf.entidadFinanciera.razonSocial}}</td>
                    <td>{{this.model.cartaInstruccion.prestamoRecuperacion.numSolicitudSipre}}</td>
                    <td>${{this.model.cartaInstruccion.prestamoRecuperacion.canDescuentoMensual | number:'0.2-2'}}</td>
                    <td>${{this.model.cartaInstruccion.prestamoRecuperacion.impRealPrestamo | number:'0.2-2'}}</td>

                </tr>
                <tr>
                    <th>CAT con IVA:</th>
                    <th>Mensualidades descontadas / Plazo:</th>
                    <th>Monto a liquidar: </th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>{{this.model.cartaInstruccion.prestamoRecuperacion.canCatPrestamo}}%</td>
                    <td>{{this.model.cartaInstruccion.prestamoRecuperacion.numMesRecuperado}} / {{this.model.cartaInstruccion.prestamoRecuperacion.numPlazoPrestamo}}</td>
                    <td> <input type="number" [ngClass]="[!formGroup.controls['monto'].valid && formGroup.controls['monto'].touched ? 'form-control-error':'form-control']  " class="form-control" formControlName="monto" name="monto" placeholder="Ingresa monto"
                            minlength="1" maxlength="11" aria-describedby="basic-addon1" />
                        <div style="width: 300px;" *ngIf="!formGroup.controls['monto'].valid">

                            <div *ngIf=" formGroup.controls['monto'].errors?.required && formGroup.controls['monto'].touched">
                                <p class="error-class">
                                    Es necesario ingresar la información del campo marcado como obligatorio
                                </p>
                            </div>
                        </div>

                    </td>
                    <td> &nbsp;</td>
                </tr>

            </tbody>
        </table>

    </div>
    <br>

    <div class="row">

        <div class="col-md-6"></div>
        <div class="col-md-6" style="text-align: right;">
            <a class="btn btn-default" routerLink="../buscarFolioAutorizar" role="button">Regresar</a> &nbsp;&nbsp;
            <button type="button" [disabled]="!formGroup.valid" class="btn btn-primary " (click)="confirmarMonto()">
          <span class="oi oi-send glyphicon glyphicon-left"> </span>Continuar</button>
            <br><br>
        </div>
    </div>

</form>

<jw-modal id="preguntaRegistroMonto">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b> ¿El monto a liquidar que ingresaste
            es correcto?</b></p>
        <div style="text-align: right;">
            <button type="button" class="btn btn-primary" (click)="registroMonto()">
                <span class="oi oi-send glyphicon glyphicon-left"> </span>Si
            </button>&nbsp;
            <button type="button" class="btn btn-default" (click)="continuarNo()">
                <span class="oi oi-send glyphicon glyphicon-left"> </span>No
            </button>
        </div>
        <br>
    </div>
</jw-modal>

<jw-modal id="registroExitoso">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b> El monto a liquidar ha sido guardado correctamente</b></p>
        <div style="text-align:right">
            <button type="button" class="btn btn-primary" (click)="navegarHome()">
              <span class="oi oi-send glyphicon glyphicon-left"> </span>Aceptar
          </button>&nbsp;

        </div>
        <br>
    </div>
</jw-modal>