<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol">
    </app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<form #editarEntidadForm="ngForm" (ngSubmit)="abrirModalConfirmar()" autocomplete="off" class="form-horizontal" role="form">

    <div class="row" style="margin-left: 0%;">
        <span class="TituloGrande" *ngIf="!model.enabledModificarEntidad">Registro de la Entidad Financiera</span>
        <span class="TituloGrande" *ngIf="model.enabledModificarEntidad">Modificaci&oacute;n de la Entidad Financiera</span>
        <hr class="red" style="margin: 10px 0 40px;" />
    </div>

    <app-entidad-financiera-editar-patron [registrarForm]="editarEntidadForm"></app-entidad-financiera-editar-patron>
    <app-entidad-financiera-editar-convenio [registrarForm]="editarEntidadForm"></app-entidad-financiera-editar-convenio>
    <app-entidad-financiera-editar-ps-certificacion [registrarForm]="editarEntidadForm"
        (eventoCargaArchivoPSCertificacion)="procesaCargaArchivoPSCertificacion($event)"
        (eventoEsFormaPSCertificacionValida)="procesaEsFormaPSCertificacionValida($event)"></app-entidad-financiera-editar-ps-certificacion>
    <app-entidad-financiera-editar-ps-validacion-biometrica [registrarForm]="editarEntidadForm"
        (eventoCargaArchivoPSValidacionBiometrica)="procesaCargaArchivoPSValidacionBiometrica($event)"
        (eventoEsFormaPSValidacionBiometrica)="procesaEsFormaPSValidacionBiometrica($event)"></app-entidad-financiera-editar-ps-validacion-biometrica>
    <app-entidad-financiera-editar-bancario [registrarForm]="editarEntidadForm"></app-entidad-financiera-editar-bancario>
    <app-entidad-financiera-editar-admin [registrarForm]="editarEntidadForm"></app-entidad-financiera-editar-admin>
    <app-entidad-financiera-registro-patronal [registrarForm]="editarEntidadForm"></app-entidad-financiera-registro-patronal>
    <app-entidad-financiera-editar-cat [registrarForm]="editarEntidadForm"></app-entidad-financiera-editar-cat>

    <div style="margin: 30px 0 30px;"></div>

    <div>
        * Campos obligatorios
    </div>

    <div style="margin: 30px 0 30px;"></div>

    <div class="row">

        <div class="pull-right">

            <button type="button" 
                    class="btn btn-default" 
                    (click)="regresar()" 
                    style="margin:5px;">
                Regresar
            </button>

            <!-- <button type="reset" 
                    class="btn btn-default" 
                    (click)="limpiar(editarEntidadForm);" 
                    style="margin:5px;">
                Limpiar
            </button> -->

            <button type="submit" 
                    class="btn btn-primary" 
                    [disabled]="!editarEntidadForm.form.valid || 
                                !this.model.flatCorreoAdminEF || 
                                !this.model.flatCurpAdminEF || 
                                !this.model.flatPlazosModEF || 
                                !this.model.flagRegPAtModEF || 
                                !this.esFormaPSCertificacionValida || 
                                !this.esFormaPSValidacionBiometrica">
                Continuar
            </button>
        </div>

    </div>

    <div style="margin: 70px 0 70px;"></div>


    <jw-modal id="autorizarRegistrarEntidadFinanciera">
        <div class="jw-modal-titulo">Atención</div>
        <div *ngIf="!this.baja" class="modal-body">
            <p *ngIf="!this.model.enabledModificarEntidad">¿Estás seguro de registrar la Entidad Financiera {{model.registrarEntidadFinanciera.razonSocial}}?</p>
            <p *ngIf="this.model.enabledModificarEntidad">¿Estás seguro de modificar la Entidad Financiera {{model.registrarEntidadFinanciera.razonSocial}}?</p>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default" (click)="closeModalRegistro()" style="margin-right: 5px">Cancelar</button>&nbsp;&nbsp;
                    <button *ngIf="!this.baja" type="submit" class="btn btn-primary pull-right" (click)="registrar(editarEntidadForm)">Aceptar       </button>

                </div>

            </div>
        </div>
        <div *ngIf="this.baja" class="modal-body">
            <p>No es posible modificar la Entidad, debido a que ha sido dada de Baja.</p>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default" (click)="closeModalRegistro()" style="margin-right: 5px">Aceptar</button>

                </div>

            </div>
        </div>
    </jw-modal>


    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <br>
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>
            <br>
        </div>
    </jw-modal>

</form>