<div class="container">
  <div class="col-md-12">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Entidad Financiera Elegida</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!--td>Nombre comercial: {{model.ofertaDatos.nombreComercial}}</td-->
            <td>Nombre comercial:</td>
            <!--td>Razón social: {{model.ofertaDatos.razonSocial}}</td-->
            <td>Razón social:</td>
          </tr>
          <tr>
            <!--td>Tel&eacute;fono: {{model.ofertaDatos.numTelefono}}</td-->
            <td>Tel&eacute;fono: </td>
            <!--td>Web:<a> {{model.ofertaDatos.paginaWeb}}</a></td-->
            <td>Web:<a> </a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>