<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol">
    </app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<form #registrarEntidadForm="ngForm" autocomplete="off" class="form-horizontal" role="form">

    <div class="row" style="margin-left: 0%;">
        <span class="TituloGrande">Registrar Entidad Financiera</span>
        <hr class="red" style="margin: 10px 0 40px;" />
    </div>
    <p class="letraTitutlo">Ingresa la información de la Entidad Financiera a registrar:</p>

    <div class="row">
        <div>
            <label style="margin-left: 1%;" class="letraTitutlo"> Registro Patronal: </label><br>
            <div class="col-sm-3">
                <input pInputText type="text" class="inputRegEnt" name="registroPatronal" [ngClass]="registroPatronal.invalid && (registroPatronal.dirty || registroPatronal.touched) && registrarEntidadForm.submitted ? 'form-control-error' : 'form-control'" [(ngModel)]="model.registrarEntidadFinanciera.registroPatronal"
                    #registroPatronal="ngModel" placeholder="Ingresa el registro patronal" minlength="10" maxlength="10" pKeyFilter="alphanum" required autofocus />
                <div *ngIf="registroPatronal.invalid && (registroPatronal.dirty || registroPatronal.touched) && registrarEntidadForm.submitted">
                    <div *ngIf="registroPatronal.errors.required" style="position: absolute!important;">
                        <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como
              obligatorio.</small>
                    </div>
                </div>




            </div>
        </div>

    </div>

    <div>

        <div>

            <button type="button" style="margin-left: 35%!important;margin-top: -77px !important;" class="btn btn-default" (click)="regresar()">Regresar
      </button>



            <button type="submit" style="margin-top: -6%;margin-left: 3%; margin-top:-77px;" class="btn btn-primary" [disabled]="!registrarEntidadForm.valid" (click)="registrarEntidadForm.valid ? continuar() : ''">Continuar
      </button>

        </div>

    </div>

    <div style="margin: 30px 0 30px;"></div>


    <div style="margin: 70px 0 70px;"></div>

    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <br>
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>
            <br>
        </div>
    </jw-modal>

</form>