.letraTitutlo{
    width: 672.8px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}
.inputRegEnt{
    width: 360px;
    height: 47px;
    border-radius: 10px;
    border: solid 1px #afaeae;
  
}

.editarRegistarEF {
    width: 1148px;
    height: 648px;
    padding: 29px 32px 19px 34px;
    border-radius: 15px;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #dcdcdc;
    background-color: #fbfbfb;
  }

  .editarRegistarEF label{
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
  }
  .form-text-error{
    font-size: smaller; 
    font-weight: bold;  
    color: rgba(255, 0, 0, 0.726);
  }

  .editarRegistarEF table tr td{
   margin-bottom: 20px;
   margin-top: 20px;
  }
  .inputRegEditEF{
    width: 291px;
    height: 47px;
    border-radius: 10px;
    border: solid 1px #afaeae;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  