<ol class="breadcrumb ">
  <li><a href="#"><i class="icon icon-home"></i></a></li>
  <li><a href="#">Inicio</a></li>
  <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>
<div class="row" style="height: 15px;">
  <div class="col-md-12" >
      <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
      <hr class="red">
  </div>
</div>
<br><br>

<app-menu></app-menu>
<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>

<div class="row">

  <div class="col-md-12">
    <h4>Informe de capacidad de crédito</h4>
    <hr class="red" />
  </div>
</div>
<app-pensionado-datos-capacidad></app-pensionado-datos-capacidad>
<br>
<app-capacidad-credit></app-capacidad-credit>
<br>
<app-aviso-privacidad></app-aviso-privacidad>

<div class="col-md-12">
  <input type="checkbox" name="avisoCheck" (change)="cheked()" [checked]="(idx === 0)">
  He leído y acepto el aviso de privacidad
  <br>
</div>
<div class="col-md-12" *ngIf="estado">
  <span style="color: #ed1b24" id="errorAviso" name="errorAviso">
    No se puede continuar con el proceso si no aceptas el aviso de privacidad.
    <br><br>
  </span>
</div>
<div class="col-sm">
  <div class="col-md-6"></div>
  <div class="col-md-2">
    <a class="btn btn-default" routerLink="../capacidadCredito" role="button">
      <span class="oi oi-left glyphicon glyphicon-left"> </span>
      Regresar</a>
  </div>
  <div class="col-md-4">
    <button type="button" (click)="guardarCartaCapacidad() " class="btn btn-primary ">
      <span class="oi oi-send glyphicon glyphicon-left"> </span> Generar carta de capacidad de crédito
    </button>
    <br><br>
  </div>
</div>

<jw-modal id="carga">
  <div class="jw-modal-titulo"> <b>Atención</b></div>
  <div style="height:100%; width:100%">
    <br>
    <br>
    <p style="text-align:center"><b>Cargando datos</b></p>
    <div align="center">
      <div class="preloader"></div>
    </div>

    <br>
  </div>
</jw-modal>
