<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>
<div class="formulario">
  <div class="row">
    <div class="col-md-12">
      <h2>Buscar Folio </h2>
      <hr class="red" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Folio*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Ingresa el Folio" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>NSS*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Ingresa el NSS" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Estado</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Ingresa el Estado" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Fecha inicio de vigencia del folio</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group date" data-provide="datepicker">
        <input type="date" class="form-control" placeholder="Ingresa Fecha inicio">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Fecha fin de vigencia del folio</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group date" data-provide="datepicker">
        <input type="date" class="form-control" placeholder="Ingresa Fecha fin">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <!--th></th-->
        <th scope="col">Folio</th>
        <th scope="col">Estado</th>
        <th scope="col">NSS</th>
        <th scope="col">Nombre Pensionado</th>
        <th scope="col">Fecha de Vigencia del Folio</th>
        <th scope="col">Fecha incio Folio Negocio</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <!--<td><input type="radio"></td>-->
          <td>{{model.informeCartaInstruccion.solicitud.numFolioSolicitud}}</td>
          <td>{{model.informeCartaInstruccion.solicitud.estadoSolicitud}}</td>
          <td>{{model.informeCartaInstruccion.solicitud.nss}}</td>
          <td>{{model.informeCartaInstruccion.pensionado.nombre}} {{model.informeCartaInstruccion.pensionado.primerApellido}} {{model.informeCartaInstruccion.pensionado.segundoApellido}}</td>
          <td>{{model.informeCartaInstruccion.solicitud.fecVigenciaFolio}}</td>
          <td>{{model.informeCartaInstruccion.solicitud.altaRegistro}}</td>
        </tr>
      </tbody>
  </table>
  <div class="col-sm">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
          <a class="btn btn-default" routerLink="../buscarFolioAutorizar" role="button">Regresar</a>
         </div>
      <div class="col-md-2">
        <a class="btn btn-primary" (click)="cartaInstruccion();" role="button">Ver detalle</a>
      </div>
    </div>
  </div>
</div>


<br>
<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>