<app-breadcrumb-ux></app-breadcrumb-ux>
<br><br>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<br>
<div class="col-md-12">
    <h4>Informe de capacidad de crédito </h4>
    <hr class="red" />
</div>
<!--app-pensionado-datos></app-pensionado-datos>-->
<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Información del solicitante</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Nombre(s): </th>
                <th>Primer apellido: </th>
                <th> Segundo apellido:</th>
            </tr>
            <tr>
                <td>{{cartaInstruccion.pensionado.nombre}}</td>
                <td> {{cartaInstruccion.pensionado.primerApellido}}</td>
                <td> {{cartaInstruccion.pensionado.segundoApellido}}</td>
            </tr>
            <tr>
                <th>CURP: </th>
                <th>NSS: </th>
                <th>Tel&eacute;fono:</th>
            </tr>
            <tr>
                <td>{{cartaInstruccion.pensionado.curp}}</td>
                <td>{{cartaInstruccion.solicitud.nss}}</td>
                <td>{{cartaInstruccion.persona.telCelular}}</td>
            </tr>
            <tr>
                <th>Correo Electr&oacute;nico: </th>
                <th>Delegaci&oacute;n: </th>
                <th>&nbsp;</th>

            </tr>
            <tr>
                <td>{{cartaInstruccion.persona.correoElectronico}}</td>
                <td>{{cartaInstruccion.pensionado.delegacion.descDelegacion}}</td>
                <td>&nbsp;</td>

            </tr>

            <tr>
                <th>Tipo de Trabajador: </th>
                <th>Tipo de pensi&oacute;n: </th>
                <th>Tipo de Cr&eacute;dito: </th>
            </tr>
            <tr>
                <td>{{cartaInstruccion.solicitud.refTrabajador}}</td>
                <td>{{cartaInstruccion.pensionado.tipoPension}} </td>
                <td>{{nuevo.tipoCreditoEnum.descripcion}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!--<app-capacidad-credit></app-capacidad-credit>-->
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Capacidad de crédito</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Capacidad Fija</th>
                <th scope="col">Capacidad Variable</th>
                <th scope="col">Capacidad Total</th>
            </tr>

            <tr>
                <td>$ {{cartaInstruccion.capacidadCredito.impCapacidadFija | number:'0.2-2'}}</td>
                <td>$ {{cartaInstruccion.capacidadCredito.impCapacidadVariable | number:'0.2-2'}}</td>
                <td>$ {{cartaInstruccion.capacidadCredito.impCapacidadTotal | number:'0.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf="this.prestamoRecuperacion.numSolicitudSipre !== undefined ">

    <!--TABLA DATOS DEL PRESTAMO A LIQUIDAR-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="4">Datos del préstamo a liquidar</th>

            </tr>
        </thead>
        <tbody>
            <td></td>
            <tr>
                <th>Nombre Comercial:</th>
                <th> Folio: </th>
                <th>Descuento mensual:</th>
                <th>Monto prestado:</th>

            </tr>

            <tr>
                <td>{{this.prestamoRecuperacion.razonSocial}}</td>
                <td>{{this.prestamoRecuperacion.numSolicitudSipre}}</td>
                <td>{{this.prestamoRecuperacion.canDescuentoMensual}}</td>
                <td> {{this.prestamoRecuperacion.impRealPrestamo}}</td>

            </tr>
            <tr>
                <th>CAT con IVA:</th>
                <th>Mensualidades descontadas / Plazo:</th>
                <th>Monto a liquidar: </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>{{this.prestamoRecuperacion.canCatPrestamo}}</td>
                <td>{{this.prestamoRecuperacion.numMesRecuperado}} / {{this.prestamoRecuperacion.numPlazoPrestamo}}</td>
                <td>{{this.prestamoRecuperacion.canMontoSol}}</td>
                <td> &nbsp;</td>
            </tr>

        </tbody>
    </table>

    <!--  FIN DE LA TABLA DE CONDICIONES DE LA SIMULACION -->
</div>

<br>




<div class="col-sm">
    <div class="col-md-6">

    </div>
    <div class="col-md-2">
        <a class="btn btn-default" routerLink="../buscarFolio" role="button">Regresar</a>
    </div>

    <div class="col-md-4">
        <button type="button" (click)="continuarCaptura()" class="btn btn-primary ">
    <span class="oi oi-send glyphicon glyphicon-left"> </span>Capturar Condiciones del préstamo
  </button>
        <br><br>
        <jw-modal id="carga">
            <div class="jw-modal-titulo"> <b>Atención</b></div>
            <div style="height:100%; width:100%">
                <br>
                <br>
                <p style="text-align:center"><b>Cargando datos</b></p>
                <div align="center">
                    <div class="preloader"></div>
                </div>

                <br>
            </div>
        </jw-modal>