<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Condiciones de la Simulaci&oacute;n</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <td></td>
        <tr>
          <td>Tasa de Inter&eacute;s: {{oferta.tasaAnual}} %</td>
          <td> Cat: {{oferta.cat}} %</td>
        </tr>
        <tr>
          <td>Importe del cr&eacute;dito solicitado:$ {{prestamo.monto  | number:'3.2-2'}}</td>
          <td>Importe del descuento mensual:$ {{prestamo.impDescNomina  | number:'3.2-2'}}</td>
        <tr>
          <td>Total de descuentos a aplicar: {{oferta.plazo.numPlazo}}</td>
          <td>Plazo: {{oferta.plazo.descripcion}}</td>
        </tr>
        <tr>
          <td>Total de cr&eacute;dito a pagar con inter&eacute;s:$
            {{prestamo.impTotalPagar  | number:'3.2-2'}}</td>
          <td>N&oacute;mina del primer descuento: {{prestamo.primerDescuento}}</td>
        </tr>
      </tbody>
    </table>
  </div>