<form role="form" [formGroup]="formGroup" autocomplete="off" style="margin-left:-1%">
    <div class=" row col-md-12">
        <h4>Modificar estado de notificación</h4>
        <hr class="red">
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class=" control-label">Resolución de la Entidad Financiera*:</label>
                <textarea maxlength="200" placeholder="Ingresa resolución" formControlName="resolucion" rows="3" cols="300" class="form-control" [ngClass]="[!formGroup.controls['resolucion'].valid && formGroup.controls['resolucion'].touched  ? 'form-control-error':'form-control']  "></textarea>
                <div *ngIf="!formGroup.controls['resolucion'].valid">
                    <div *ngIf=" formGroup.get('resolucion').errors?.minlength && formGroup.controls['resolucion'].touched">
                        <p class="error-class">La resolucion debe de tener un maximo de 200 dígitos</p>
                    </div>
                    <div *ngIf=" formGroup.controls['resolucion'].errors?.required && formGroup.controls['resolucion'].touched">
                        <p class="error-class">El campo Resolución es obligatorio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="edo" name="edo">
            <label class=" control-label">Modificar estado:</label>
            <div class="form-group">
                <select class="form-control inputSimple" formControlName="estadoNotificacion" [ngClass]="[!formGroup.controls['estadoNotificacion'].valid && formGroup.controls['estadoNotificacion'].touched  ? 'form-control-error':'form-control']  ">
                    <option value="-1" disabled><span>Selecciona estado de la notificación</span></option>
                    <option  *ngFor="let estadoNotificacion of  catalogoEstadoNotificacion" [value]="estadoNotificacion.id">
                        <span>{{estadoNotificacion.descripcion}}</span>
                    </option>
                </select>
                <div *ngIf="!formGroup.controls['estadoNotificacion'].valid">
                    <div *ngIf=" formGroup.controls['estadoNotificacion'].errors?.required && formGroup.controls['estadoNotificacion'].touched">
                        <p class="error-class">El campo Estado notificación es obligatorio.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showfv" name="showfv">
            <label class=" control-label">Nueva fecha de vencimiento*:</label>
            <div class="form-group datepicker-group">
                <input id="fv" name="fv" autocomplete="off" class="form-control inputSimple" formControlName="fechaNuevoVencimiento" placeholder="Ingresa fecha vencimiento" [ngClass]="[!formGroup.controls['fechaNuevoVencimiento'].valid && formGroup.controls['fechaNuevoVencimiento'].touched  ? 'form-control-error':'form-control']  ">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="margin-right:10px; margin-top:5px;"></span>
            </div>
            <div *ngIf="formGroup.controls['fechaNuevoVencimiento'].touched && !formGroup.controls['fechaNuevoVencimiento'].valid">
                <p class="error-class" style="margin-top: -15px;">El campo Fecha vencimiento es obligatorio.</p>
            </div>
        </div>
    </div>

    <app-atencion-archivos-adjuntos></app-atencion-archivos-adjuntos>

    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group">
                <div class="pull-right">
                    <button type="button" (click)="regresar();" class="btn btn-default inputBorder">Regresar</button>&nbsp;&nbsp;
                    <button *ngIf="this.rol == 'operadorEF'" (click)="guardarCambios();" class="btn btn-primary inputBorder" [disabled]="formGroup.invalid">Guardar</button>
                    <button *ngIf="this.rol == 'operadorIMSS'" (click)="openModalEstado();" class="btn btn-primary inputBorder" [disabled]="formGroup.invalid">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>
<jw-modal id="confirmarEstado">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p style="text-align: center;">
            ¿Estás seguro de {{ this.estado }} la notificación <strong>{{this.model.notificacionVerDetalle.notificacion.folioNotificacion}}?</strong></p>
        <div class="row">
            <div class="col-md-12 text-right">
                <br>
                <button class="btn btn-default inputBorder" (click)="closeModalEstado();">Cancelar</button>&nbsp;&nbsp;
                <button class="btn btn-primary inputBorder" (click)="guardarCambios();" style="margin-right: 5px">Aceptar </button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>