<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Usuario</th>
        <th>Fecha de actualización</th>
        <th>Dato anterior</th>
        <th>Dato actual</th>
        <th>Dato modificado</th>
    </thead>
    <tbody>
        <tr *ngFor="let bitacoraPensionado of bitacoraPensionadoList">
            <td>{{bitacoraPensionado.id}}</td>
            <td>{{bitacoraPensionado.cveCurp}}</td>
            <td>{{bitacoraPensionado.fecRegistro}}</td>
            <td>{{bitacoraPensionado.valorAnterior}}</td>
            <td>{{bitacoraPensionado.valorActual}}</td>
            <td>{{bitacoraPensionado.tipoModificacion.nombreTipoModificacion}}</td>
        </tr>
    </tbody>
</table>