<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="this.rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<form #registrarCondicionEF="ngForm" autocomplete="off" class="form-horizontal" role="form">
    <div class="col-md-12">
        <div class="row">
            <h2>Condiciones de la Entidad Financiera </h2>
            <hr class="red" style="margin: 10px 0 40px;">

        </div>
    </div>

    <div style="margin: 65px 0 65px;"></div>
    <span class="titulosCondEnd">Información de la Entidad Financiera</span>

    <div class="row tarjeta">
        <div class="row tarjeta-body">
            <div class="col-md-4" style="text-align: center;">
                <img [src]="imgEFUrl" alt="Sin imagen" style="max-width: 250px; max-height: 250px;">
            </div>
            <div class="col-md-8">
                <div class="row tarjeta-title-1">
                    <div class="col-md-12">
                        Nombre comercial:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-12">
                        {{model.registrarEntidadFinanciera.nombreComercial}}
                    </div>
                </div>
                <div class="row tarjeta-title-1">
                    <div class="col-md-6">
                        RFC:
                    </div>
                    <div class="col-md-6">
                        Registro Patronal:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-6">
                        {{model.registrarEntidadFinanciera.rfc}}
                    </div>
                    <div class="col-md-6">
                        {{model.registrarEntidadFinanciera.registroPatronal}}
                    </div>
                </div>
                <div class="row tarjeta-title-1">
                    <div class="col-md-12">
                        Domicilio:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-12">
                        {{ model.registrarEntidadFinanciera.direccion }}
                    </div>
                </div>

                <div class="row tarjeta-title-1">
                    <div class="col-md-6">
                        Teléfono:
                    </div>
                    <div class="col-md-6">
                        Teléfono de atención a clientes:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-6">
                        {{ model.registrarEntidadFinanciera.numeroTelefono }}
                    </div>
                    <div class="col-md-6">
                        {{ model.registrarEntidadFinanciera.telefonoAtencionClientes }}
                    </div>
                </div>

                <div class="row tarjeta-title-1">
                    <div class="col-md-12">
                        Página web:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-12">
                        {{ model.registrarEntidadFinanciera.paginaWeb }}
                    </div>
                </div>

                <div class="row tarjeta-title-1">
                    <div class="col-md-6">
                        Correo electrónico 1:
                    </div>
                    <div class="col-md-6"
                        *ngIf="model.registrarEntidadFinanciera.correo2 != null && model.registrarEntidadFinanciera.correo2 != ''">
                        Correo electrónico 2:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-6">
                        {{
                        model.registrarEntidadFinanciera.correoElectronico }}
                    </div>
                    <div class="col-md-6"
                        *ngIf="model.registrarEntidadFinanciera.correo2 != null && model.registrarEntidadFinanciera.correo2 != ''">
                        {{model.registrarEntidadFinanciera.correo2}}
                    </div>
                </div>
                <div class="row tarjeta-title-1"
                    *ngIf="model.registrarEntidadFinanciera.correo3 != null && model.registrarEntidadFinanciera.correo3 != ''">
                    <div class="col-md-12">
                        Correo electrónico 3:
                    </div>
                </div>
                <div class="row tarjeta-data-1">
                    <div class="col-md-12">
                        {{model.registrarEntidadFinanciera.correo3}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-upload (imageChanged)="changeImage($event)" style="font-size: 12px!important;" [documento]="model.registrarEntidadFinanciera.logo"
                        [idSolicitud]="1">
                    </app-upload>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 35px 0 35px;"></div>
    <span class="titulosCondEnd">
        Representante Legal
    </span>

    <div class="row tarjeta">
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-6">
                    CURP:
                </div>
                <div class="col-md-6">
                    Nombre:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-6">
                    {{model.registrarEntidadFinanciera.curpRepresentanteLegal}}
                </div>
                <div class="col-md-6">
                    {{model.registrarEntidadFinanciera.nombreLegal }} {{ model.registrarEntidadFinanciera.primerApeLegal
                    }} {{ model.registrarEntidadFinanciera.segundoApeLegal }}
                </div>
            </div>
        </div>
    </div>

    <!-- Datos de contacto-->
    <span class="titulosCondEnd"> Convenio</span>

    <div class="row tarjeta">
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-4">
                    Fecha de firma:
                </div>
                <div class="col-md-4">
                    Fecha de inicio:
                </div>
                <div class="col-md-4">
                    Número de proveedor:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-4">
                    {{ model.registrarEntidadFinanciera.fecFirmaContra}}
                </div>
                <div class="col-md-4">
                    {{ model.registrarEntidadFinanciera.fecIniFirmaContra }}
                </div>
                <div class="col-md-4">
                    {{ model.registrarEntidadFinanciera.numeroProveedor }}
                </div>
            </div>
        </div>
    </div>
    <!-- Datos bancarios-->
    <br>
    <span class="titulosCondEnd">Datos bancarios</span>

    <div class="row tarjeta">
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-4">
                    Cuenta CLABE:
                </div>
                <div class="col-md-4">
                    Institución bancaria:
                </div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-4">
                    {{model.registrarEntidadFinanciera.clabe}}
                </div>
                <div class="col-md-4">
                    {{model.registrarEntidadFinanciera.descBanco}}
                </div>
            </div>
        </div>
    </div>
    <h3>Plazos y beneficios </h3>
    <hr class="red" style="margin: 10px 0 40px;">
    <p>Ingresa por cada plazo y CAT máximo por Operador IMSS, el porcentaje CAT registrado por Operador de la Entidad
        Financiera y los tres principales beneficios para el Pensionado:
    </p>
    <table class="table-striped table">
        <thead>
            <tr>
                <th style="text-align: left;  width: 10%;">
                    Plazo:
                </th>
                <th style="text-align: left;  width: 15%;">
                    % CAT máximo IMSS:
                </th>
                <th style="text-align: left;  width: 15%;">
                    % CAT máximo EF*:
                </th>
                <th style="text-align: left;  width: 20%;">
                    Beneficio 1:
                </th>
                <th style="text-align: left;  width: 20%;">
                    Beneficio 2:
                </th>
                <th style="text-align: left;  width: 20%;">
                    Beneficio 3:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plazo of plazos; let i = index">
                <td style="text-align: left;vertical-align: middle;"> {{plazo.plazo}} </td>
                <td style="text-align: left;vertical-align: middle;"> {{plazo.catForm | number:'0.2-2'}}</td>
                <td style="text-align: left;">
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input class="beneficiosABC" style="width: 70%!important;" type="number"
                                placeholder="Ingresa %" (change)="validarBeneficio(i)" [(ngModel)]="plazo.cat" size="4"
                                maxlength="2" min="0" max="999.99" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="form-group" *ngIf="plazo.error">
                        <p class="error-class">{{plazo.mensajeError}}
                        </p>
                    </div>
                </td>
                <td style="width: 11%!important;">
                    <input type="text" class="beneficiosABC" style="margin-left:-1%;width: 100%!important;"
                        [(ngModel)]="plazo.valorBeneficioA" size="4" maxlength="20"
                        [ngModelOptions]="{standalone: true}" placeholder="Ingresa beneficio" />
                </td>
                <td style="width: 11%!important;">
                    <input type="text" class="beneficiosABC" style="margin-left:-1%;width: 100%!important;"
                        [(ngModel)]="plazo.valorBeneficioB" size="4" maxlength="20"
                        [ngModelOptions]="{standalone: true}" placeholder="Ingresa beneficio" />
                </td>
                <td style="width: 11%!important;">
                    <input type="text" class="beneficiosABC" style="margin-left:-1%;width: 100%!important;"
                        [(ngModel)]="plazo.valorBeneficioC" size="4" maxlength="20"
                        [ngModelOptions]="{standalone: true}" placeholder="Ingresa beneficio" />
                </td>
                <br>
            </tr>
        </tbody>
    </table>

    <div style="margin: 65px 0 65px;"></div>

    <!-- Datos de Condiciones-->
    <h3>Condiciones</h3>
    <hr class="red" style="margin: 10px 0 40px;">
    <p>Ingresa las condiciones que establece la Entidad Financiera por cada delegación del país. Añade cuantas
        delegaciones sean necesarias con sus respectivas condiciones:
    </p>

    <table class=" table-striped table">
        <tbody>
            <tr>
                <td>
                    <label> Delegación:</label><br>
                    <div class="form-group">
                        <div>
                            <!-- <select id="entidadF" [(ngModel)]="condicionesForm.entidadFederativa" class="form-control select-style" name="entidadF"> -->
                            <select id="entidadF" style="width: 150%;" [(ngModel)]="condicionesForm.delegacion"
                                class="beneficiosABC select-style" name="entidadF">
                                <!-- <option [value]="item['id']" *ngFor="let item of items"> {{item["name"]}}</option> -->

                                <option [value]="item['id']" *ngFor="let item of items">
                                    {{item["desDelegacion"]}}</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td style="width: 10%;">&nbsp;</td>
                <td>
                    <label style="margin-left: 5%!important;"> Sexo del Pensionado: </label><br>
                    <select id="sexo" style="padding-left: -15%!important;" class="beneficiosABC select-style"
                        name="condicionesForm.sexo" [(ngModel)]="condicionesForm.sexo">
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </td>
                <td>
                    <label style="margin-left: 5%;"> Edad límite: </label><br>
                    <select id="edad" name="edad" [(ngModel)]="condicionesForm.edad" style="padding-right: 5%;"
                        class="beneficiosABC select-style">
                        <option [value]="item['id']" *ngFor="let item of itemsNum"> {{item["valor"]}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Monto mínimo a solicitar:
                    </label><br>
                    <input style="margin-left: 0%;" type="number" placeholder="Ingresa cantidad" class="beneficiosABC"
                        maxlength="12" min="0" max="9999999999.99" maxlength="20" [(ngModel)]="condicionesForm.mMinimo"
                        [ngModelOptions]="{standalone: true}">
                </td>
                <td>
                    <label> Monto máximo a solicitar:<br>
                    </label>
                    <input type="number" placeholder="Ingresa cantidad" class="beneficiosABC" maxlength="12" min="0"
                        max="9999999999.99" maxlength="20" [(ngModel)]="condicionesForm.mMax"
                        [ngModelOptions]="{standalone: true}">
                </td>
                <td style="width: 10%;">&nbsp;</td>
                <td style="text-align: right ;">
                    <br> <button class="btn btn-primary pull-right" (click)="agregar()">Registrar condición</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Condiciones registradas</h3>
    <hr class="red" style="margin: 10px 0 40px;">
    <table class=" table table-striped">
        <thead>
            <tr>
                <th scope="col">Delegación </th>
                <th scope="col">Sexo</th>
                <th scope="col">Edad</th>
                <th scope="col">Monto mínimo</th>
                <th scope="col">Monto máximo</th>
                <th scope="col">Borrar</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let condicion of condicionesArray">
                <td *ngIf="!condicion.editar">
                    <!-- <select id="entidadFederativaE" class="form-control select-style" name="entidadF" [(ngModel)]="condicion.entidadFederativaE" [ngModelOptions]="{standalone: true}"> -->
                    <select id="entidadF" class="form-control select-style" name="entidadF"
                        [(ngModel)]="condicion.delegacionE" [ngModelOptions]="{standalone: true}">
                        <!-- <option [value]="item['id']" *ngFor="let item of items">{{item["name"]}}</option> -->
                        <option [value]="item['id']" *ngFor="let item of items">{{item["descDelegacion"]}}
                        </option>
                    </select>
                </td>
                <td *ngIf="!condicion.editar">
                    <select id="sexo" [(ngModel)]="condicion.sexoE" class="form-control select-style"
                        [ngModelOptions]="{standalone: true}">
                        <option value="F" [selected]="condicion.sexoE=='F'">Femenino </option>
                        <option value="M" [selected]="condicion.sexoE=='M'">Masculino</option>
                        <!--option value="A" [selected]="condicion.sexoE=='M'">Ambos</option-->
                    </select>
                </td>
                <td *ngIf="!condicion.editar">
                    <select id="edad" [(ngModel)]="condicion.edadE" class="form-control select-style" name="edadE"
                        [ngModelOptions]="{standalone: true}">
                        <option [value]="item['id']" *ngFor="let item of itemsNum"> {{item["valor"]}}</option>
                    </select>
                </td>
                <td *ngIf="!condicion.editar">
                    <input type="number" class="form-control" [(ngModel)]="condicion.mMinimoE"
                        [ngModelOptions]="{standalone: true}">
                </td>
                <td *ngIf="!condicion.editar">
                    <input type="number" class="form-control" [(ngModel)]="condicion.mMaxE"
                        [ngModelOptions]="{standalone: true}">
                </td>
                <td *ngIf="!condicion.editar">
                    &nbsp;
                </td>
                <td *ngIf="!condicion.editar">

                    <a (click)="salvarEntidadModificada(condicion.id)">
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            <tr *ngFor="let condicion of condicionesArray">
                <td *ngIf="condicion.editar">
                    {{condicion["nombreDelegacion"]}}
                </td>
                <td *ngIf="condicion.editar">
                    {{condicion["sexoJ"]}}
                </td>
                <td *ngIf="condicion.editar">
                    {{condicion["edadJ"]}}
                </td>
                <td *ngIf="condicion.editar">
                    ${{condicion["mMinimoJ"] | number:'0.2-2'}}
                </td>
                <td *ngIf="condicion.editar">
                    ${{condicion["mMaxJ"] | number:'0.2-2'}}
                </td>

                <td *ngIf="condicion.editar">
                    <a (click)="borrarEntidad(condicion.id)">
                        <span class="glyphicon glyphicon-trash" style="color: #404041" aria-hidden="true"></span>
                    </a>
                </td>
                <td *ngIf="condicion.editar">
                    <a (click)="editarEntidad(condicion.id)">
                        <span class="glyphicon glyphicon-pencil" style="color: #404041" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
 
    <div class="form-group" *ngIf="resultErrorEditar">
        <p class="error-class">{{mensajeErrorCondicionesE}}
        </p>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <div>
                * Campos obligatorios
            </div>
        </div>
    </div>

    <div style="margin: 65px 0 65px; text-align:right;"></div>
    <div class="form-group">
        <div *ngIf="!this.model.mostrarExitoRegistro" class="col-sm-10">
            <button class="btn btn-primary pull-right" routerLink="../home">Regresar
            </button>
        </div>

        <div *ngIf="!this.model.mostrarExitoRegistro" class="col-sm-2">
            <button [disabled]="this.bloquearGuardar" type="submit" class="btn btn-primary pull-right"
                (click)="openModal('RegistrarEF')">Guardar
            </button>
        </div>

        <div *ngIf="this.model.mostrarExitoRegistro" class="col-sm-12">
            <button class="btn btn-primary pull-right" routerLink="../home">Cerrar
            </button>
        </div>
    </div>
</form>

<jw-modal id="RegistrarEF">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>¿Estás seguro de guardar las condiciones para la entidad financiera
            {{model.registrarEntidadFinanciera.nombreComercial}}?
        </p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModal('RegistrarEF')"
                    style="margin-right: 5px">Cancelar</button>&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="continuar()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>

<jw-modal id="eliminarCondicion">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>¿Estás seguro de eliminar esta condici&oacute;n?</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModal('eliminarCondicion')"
                    style="margin-right: 5px">Regresar</button>&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="borrarEntidad(this.idborrar)">S&iacute;, estoy seguro</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>


<jw-modal id="editarCondicion">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>¿Estás seguro de editar esta condici&oacute;n?</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModal('editarCondicion')"
                    style="margin-right: 5px">Regresar</button>&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="editarEntidad(this.idborrar)">S&iacute;, estoy seguro</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>

<jw-modal id="condicionDuplicada">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <br>

        <p style="text-align:center">Condición Duplicada: <b>{{mensajeErrorCondiciones}}</b></p>
        <br>
        <div class="col-md-12" align="right">
            <button class="btn btn-default" (click)="closeModal('condicionDuplicada');">Aceptar</button>&nbsp;
        </div>
        <br>

    </div>
</jw-modal>