<div class="row folio-header">
    <div class="col-md-3">
        Folio:&nbsp;<span>{{notificacionDetalle.notificacion.folioNotificacion}}</span>
    </div>
    <div class="col-md-9">
        Estado:&nbsp;<span>{{notificacionDetalle.notificacion.estadoNotificacion.desEstadoNotificacion}}</span>
    </div>
</div>

<div class="tarjeta">
    <div class="row tarjeta-header">
        Información de la notificación
    </div>
    <div class="row tarjeta-body">
        <div class="row tarjeta-data-1">
            Entidad Financiera: <span class="tarjeta-data-1-bold">{{notificacionDetalle.notificacion.entidadFinanciera.nombreComercial}}</span>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-3">Fecha de registro:</div>
            <div class="col-md-3">Fecha de vencimiento:</div>
            <div class="col-md-3">Tipo:</div>
            <div class="col-md-3">Tipo secundario:</div>

        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-3">{{notificacionDetalle.notificacion.altaRegistro}}</div>
            <div class="col-md-3">{{notificacionDetalle.notificacion.fecVencimiento}}</div>
            <div class="col-md-3">{{notificacionDetalle.notificacion.tipoNotificacion.desTipoNotificacion}}</div>
            <div class="col-md-3">{{notificacionDetalle.notificacion.subTipoNotificacion.desSubTipoNotificacion}}</div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-12">Descripción:</div>

        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-12">{{notificacionDetalle.notificacion.descNotificacion}}</div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-12">Requerimientos:</div>

        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-12">{{notificacionDetalle.notificacion.reqNotificacion}}</div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-12">Resolución:</div>

        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-12">{{notificacionDetalle.notificacion.resolucion}}</div>
        </div>
    </div>
</div>

<div class="tarjeta">
    <div class="row tarjeta-header">
        Información del préstamo
    </div>
    <div *ngIf="notificacionDetalle.prestamo.length < 1" class="row col-md-12 noInformacin">
        No se encontro información
    </div>
    <span *ngFor="let item of notificacionDetalle.prestamo; let i = index">
        <div class="row tarjeta-body">
            <div class="row tarjeta-title-1">
                <div class="col-md-3">Folio:</div>
                <div class="col-md-9">Nombre:</div>

            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-3">{{item.cveSolicitud.numFolioSolicitud}}</div>
                <div class="col-md-9">
                    {{item.cveSolicitud.persona.nombre}}&nbsp;{{item.cveSolicitud.persona.primerApellido}}&nbsp;{{item.cveSolicitud.persona.segundoApellido}}
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-3">NSS:</div>
                <div class="col-md-3">Fecha de registro:</div>
                <div class="col-md-3">Tipo de préstamo:</div>
                <div class="col-md-3">Estado del préstamo:</div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-3">{{item.cveSolicitud.nss}}</div>
                <div class="col-md-3">{{item.cveSolicitud.altaRegistro.substring(0, 10)}}</div>
                <div class="col-md-3">{{item.cveTipoCredito.desTipoCredito}}</div>
                <div class="col-md-3">{{item.cveSolicitud.cveEstadoSolicitud.desEstadoSolicitud}}</div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-3">CAT con IVA:</div>
                <div class="col-md-3">Monto solicitado:</div>
                <div class="col-md-3">Descuento mensual:</div>
                <div class="col-md-3">Plazo:</div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-3">{{item.cveCondicionOferta.porCat| number:'0.2-2'}} %</div>
                <div class="col-md-3">${{item.impMontoSol | number:'0.2-2'}}</div>
                <div class="col-md-3">${{item.impDescuentoNomina | number:'0.2-2'}}</div>
                <div class="col-md-3">{{item.cveCondicionOferta.cvePlazo.desPlazo}}</div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-3">Importe total a pagar:</div>
                <div class="col-md-3">Fecha del Primer Descuento:</div>
                <div class="col-md-3">Fecha de Vigencia del Folio:</div>
                <div class="col-md-3"></div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-3">${{item.impMontoSol | number:'0.2-2'}}</div>
                <div class="col-md-3">{{item.fecPrimerDescuento.substring(0, 10)}}</div>
                <div class="col-md-3">{{item.cveSolicitud.fecVigenciaFolio.substring(0, 10)}}</div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <br>
    </span>
</div>


<div class="row">
    <div class="col-md-12" style="margin-bottom:-10px;">
        <h4>Adjuntos de la notificación</h4>
        <hr class="red">
    </div>
</div>
<div *ngIf="flagConDocumentos === 0" class="row noDocumentacinCargadaNotificacin">
    No hay documentación cargada para la notificación
</div>
<span *ngFor="let item of notificacionDetalle.notificacion.documentos; let i = index">

    <div class="col-md-6" style="text-align: right">
        {{ item.nombreDocNotificacion}}
    </div>
    <div class="col-md-6" style="text-align: left">
        <app-download [documento]="item"></app-download>
    </div>
    <br>
    <br>
    <br>
</span>