<div class="row tarjeta">
    <div class="row tarjeta-header">
        Préstamos por liquidar
    </div>

    <div class="sin-info col-md-12" *ngIf="flagConPrestamos==0">
        <h4>No hay préstamos por liquidar.</h4>
    </div>

    <span *ngFor="let item of listPrestamos.prestamosEnRecuperacion; let i = index">
        <div class="row tarjeta-body">
            <div class="row tarjeta-data-1">
                <!--Entidad Financiera: <span class="tarjeta-data-1-bold">{{item.nombreComercial}}</span>-->
                <div class="col-md-9">
                    Entidad Financiera: <span class="tarjeta-data-1-bold" style="font-size: 18px;">{{item.nombreComercial}}</span>
                </div>
                
                <div class="col-md-3">
                    <div class="row" style="text-align: left;" *ngIf="idOrigenSolicitud != 5">
                        CLABE: <span class="tarjeta-data-1-bold" style="font-size: 18px;">{{item.clabe}}</span>
                    </div>
                </div>
</div>
<div class="row tarjeta-title-1">
    <div class="col-md-2">CAT con IVA:</div>
    <div class="col-md-2">Monto solicitado:</div>
    <div class="col-md-2">Descuento Mensual:</div>
    <div class="col-md-2" *ngIf="idOrigenSolicitud != 5">
        Descuentos / Plazo:
    </div>
    <div class="col-md-2" *ngIf="idOrigenSolicitud == 5">
        DNA / Plazo:
    </div>
    <div class="col-md-2" *ngIf="idOrigenSolicitud == 5">
        DNA Consecutivo:
    </div>
    <div class="col-md-2">Saldo capital:
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Saldo capital"></span>
    </div>
</div>
<div class="row tarjeta-data-1">
    <div class="col-md-2 tarjeta-data-1-bold">{{item.canCatPrestamo | number:'0.2-2'}} %</div>
    <div class="col-md-2">${{item.impRealPrestamo | number:'0.2-2'}}</div>
    <div class="col-md-2 tarjeta-data-1-bold">${{item.canDescuentoMensual | number:'0.2-2'}}</div>
    <div class="col-md-2 tarjeta-data-1-bold">{{item.numMesRecuperado}} / {{item.numPlazoPrestamo}}</div>
    <div class="col-md-2 tarjeta-data-1-bold" *ngIf="idOrigenSolicitud == 5">{{item.numMesesConsecutivos}}</div>
    <div *ngIf="item.canMontoSol != null" class="col-md-2">${{item.canMontoSol | number:'0.2-2'}}</div>
    <div *ngIf="item.canMontoSol == null" class="col-md-2">${{item.saldoCapital | number:'0.2-2'}}</div>
</div>
<div>
    <div class="col-md-12" >
        <div class="row tarjeta-title-1" style="text-align: left;" *ngIf="idOrigenSolicitud != 5">
            Referencia: <span class="tarjeta-data-1-bold" style="font-size: 18px;">{{item.referencia}}</span>
        </div>
    </div>
</div>
</div>
<br>
</span>
</div>