<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>{{titulo}} : </label>
            <select multiple id="itemForm" [(ngModel)]="itemForm" style="max-width:100%; height: 165px;" class="form-control select-style" name="entidadF">
             <option [value]="item['id']" *ngFor="let item of items"> {{item["desc"]}}</option>
       </select>
        </div>
    </div>


    <div class="col-md-4" style="text-align: right;">

        <div class="form-group">
            <div style="margin: 40px 0 40px;"></div>
            <span (click)="registrar();" class="agregarBusqueda" style="cursor:pointer; margin-right:70px;">Agregar a la búsqueda <span class="glyphicon glyphicon-arrow-right"></span> </span>

            <div style="margin: 15px 0 15px;"></div>
            <span (click)="quitar();" class="agregarBusqueda" style="cursor:pointer; margin-right:70px;">Restar a la búsqueda <span class="glyphicon glyphicon-arrow-left"></span> </span>

            <div style="margin: 15px 0 15px;"></div>
            <span (click)="registrarTodos();" class="restarBusqueda" style="cursor:pointer; margin-right:70px;">Agregar todos <span class="glyphicon glyphicon-arrow-right"></span> </span>

            <div style="margin: 15px 0 15px;"></div>
            <span (click)="quitarTodos();" class="restarBusqueda" style="cursor:pointer; margin-right:70px;">Restar todos <span class="glyphicon glyphicon-arrow-left"></span> </span>
        </div>

    </div>


    <div class="col-md-4">
        <div class="form-group">
            <label>Criterios agregados: </label>
            <select multiple id="itemForm2" style="max-width:100%; height: 165px;" [(ngModel)]="itemForm2" class="form-control select-style" name="entidadF">
           <option [value]="item['id']" *ngFor="let item of items2"> {{item["desc"]}}</option>
     </select>
        </div>
    </div>
</div>