<div *ngIf="pageModel.totalPages &&  pageModel.totalPages > 0" style="text-align:center"><ul class="pagination middle">
  <li *ngIf="pageModel.minPage === 1" class="disabled" >    
    <a (click)="page(1)" >&laquo;</a>
  </li>
  <li *ngIf="pageModel.minPage !== 1" >    
    <a (click)="page(1)" >&laquo;</a>
  </li>
  
  <ng-template ngFor let-item [ngForOf]="pageModel.pages" >
    <li *ngIf="item === pageModel.currentPage" class="disabled" >    
      <a >{{item}}</a>
    </li>
    <li *ngIf="item !== pageModel.currentPage" >    
      <a  (click)="page(item)" >{{item}}</a>
    </li>
  </ng-template>
  
  <li *ngIf="pageModel.maxPage === pageModel.totalOfPages" class="disabled" >    
    <a  >&raquo;</a>
  </li>
  <li *ngIf="pageModel.maxPage !== pageModel.totalOfPages" >    
    <a  (click)="page(pageModel.totalOfPages)" >&raquo;</a>
  </li>
  </ul>  
</div>
