.alerta-busqueda {
    top: 50px;
    position: absolute;
}
.Rectangle-214 {
    width: 349px;
    height: 47px;
    padding: 12px 103.9px 13px 16.3px;
    border-radius: 10px;
    border: solid 1px #afaeae;
  }

  .Ingresa-folio-de-7-dgitos {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(83, 83, 83, 0.6);
  }