<br>
<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol"></app-menu-ux>
</div>
<br>
<br>
<div class="row ">
    <div class="col-md-8">
        <h4>Te damos la bienvenida</h4>
        <div class="col-sm">
            <p text-align="left">
                Para acceder al sistema, selecciona una de las opciones del menú desplegable en la esquina superior
                derecha.
            </p>
        </div>
        <br>
        <div>
            <h5>Folios pendientes</h5>
            <hr class="red">
            <div class="rectangle-188">
                <h6 style="text-align: center;">Iniciados (Por atender)</h6>
                <p class="blue-font" style="text-align: center;"><strong>{{this.solicitudHome.solIniciados}}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row" style="margin-left: -15px;">
            <app-user-profile></app-user-profile>
        </div>
        <div class="row" style="text-align: center;">
            <app-seccion-ayuda></app-seccion-ayuda>
        </div>
    </div>

</div>
<br>
<br>