<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="this.rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<app-creacion-carta-recibo></app-creacion-carta-recibo>

<!--
<div class="row">
    <div class="col-md-12">
      <h4>Buscar período</h4>
      <hr class="red">
      <p align="left">Para realizar tu búsqueda, ingresa el período solicitado:</p>
    </div>
</div>

<form #registrarPeriodo="ngForm" autocomplete="off" class="form-horizontal" role="form">
    <div class="row" style="margin-left: 0px !important;">
        <div class="form-group">
            <br>
            <br>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label class="">Período: </label>
                <input type="text" class="form-control" [(ngModel)]="cartaRecibo.periodo" name="periodo"
                    #periodo="ngModel" pKeyFilter="pint" placeholder="Ingresa  el período (aaaamm)" minlength="6" maxlength="6"
                    aria-describedby="basic-addon1" autofocus #validate='ngModel' required
                    oninput="this.value = this.value.toUpperCase()" />
            </div>
            <div class="col-sm-4">
                <label class="">RFC: </label>
                <input type="text" class="form-control" [(ngModel)]="rfc" name="rfc"
                    #periodo="ngModel" placeholder="Ingresa  RFC" minlength="13" maxlength="13"
                    aria-describedby="basic-addon1" autofocus #validate='ngModel' required
                    oninput="this.value = this.value.toUpperCase()" />
            </div>
        </div>    
    </div>
    <div>
        <form   action="http://firmadigitalqa.imss.gob.mx/firmaElectronicaWeb/widget/chfecyn"
                target="firmaIframe"
                method="post"
                (ngSubmit)="submitForm($event)"
                #form>
                <input id="params" 
                        name="params"
                        type="hidden"
                        value='{"operacion":"firmaCMS","aplicacion":"SIPRE2.0","rfc":"${rfc}","acuse":"AcuseSIPRE2.0","cad_original":"|Rfc:MUM061006RV7|Tipo de trámite:Notificación Buzón IMSS|UUID:0cda5ad0-e953-4e85-9cbd-718b54fe3845|Folio de FD:8cafe4c5-b6c0-4009-be88-13f92f104533|Fecha y hora:202010152225|v1.0|Instituto Mexicano del Seguro Social, Órgano de Operación Administrativa Desconcentrada: REGIONAL BAJA CALIFORNIA|MANAGER UNION DE MEXICO SA DE CV|Y3739432106|RESOLUCIÓN PARA CUBRIR LA PRIMA MEDIA|","salida":"cert,rfc,curp,rfc_rl,curp_rl,contenedores,vigIni,vigFin,cadori,serie_cert,acuse,firmas,archivosFirmados,nombreRazonSocial"}'/>
                <-- COMENTAR value='{"operacion":"firmaCMS","aplicacion":"TSPI","rfc":"AAA010101AAA","acuse":"GENERICO_ACUSE","cad_original":"|Rfc:MUM061006RV7|Tipo de trámite:Notificación Buzón IMSS|UUID:0cda5ad0-e953-4e85-9cbd-718b54fe3845|Folio de FD:8cafe4c5-b6c0-4009-be88-13f92f104533|Fecha y hora:202010152225|v1.0|Instituto Mexicano del Seguro Social, Órgano de Operación Administrativa Desconcentrada: REGIONAL BAJA CALIFORNIA|MANAGER UNION DE MEXICO SA DE CV|Y3739432106|RESOLUCIÓN PARA CUBRIR LA PRIMA MEDIA|","salida":"cert,rfc,curp,rfc_rl,curp_rl,contenedores,vigIni,vigFin,cadori,serie_cert,acuse,firmas,archivosFirmados,nombreRazonSocial"}' 
        </form>
        
    </div>

        

    <div style="margin: 65px 0 65px; text-align:right;"></div>
    <div class="form-group">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <br><button type="button" class="btn btn-secondary pull-right" (click)="regresar()">Regresar</button>
        </div>
        <div class="col-sm-2">
            <br><button type="button" class="btn btn-secondary pull-right" (click)="limpiar()">Limpiar</button>
        </div>
        <div class="col-sm-2">
            <br>
            <button type="submit" style="height: 45px!important;" class="btn btn-primary pull-right" (click)="buscar()">
                Buscar
            </button>
            <-- COMENTAR [disabled]="!registrarPeriodo.valid || busqueda" 
        </div>
    </div>
</form>

<jw-modal id="custom-modal-2">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <br>
    <br>
    <br>
    <div style="height:100%; width:100%; margin-top:-2%;">
        <p style="text-align:center" class="popupPensionado">¿Carta-Recibo aún no generada, desea generarla?</p>
        <div class="col-md-12" style="margin-top: -2px!important;" align="right">
            <button class="btn btn-default" (click)="closeModal();">No</button>&nbsp;&nbsp;
            <button class="btn btn-primary "  (click)="generarCarta();">Si</button>&nbsp;&nbsp; &nbsp;&nbsp;
        </div>
    </div>
</jw-modal>

<jw-modal id="modal-firma">
    <div class="jw-modal-titulo"> <b>Firma Electrónica TEST</b></div>
    <br>
    <iframe width="850" 
        height="350"  
        id="firmaIframe" 
        name="firmaIframe" 
        class="custom-frame">
    </iframe>
    <div class="col-sm-2">
        <br><button type="button" class="btn btn-secondary pull-right" (click)="regresar()">Regresar</button>
    </div>

</jw-modal>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Generando Carta-Recibo.</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>
        <br>
    </div>
</jw-modal>
-->