<div class="row">
    <div class="col-md-12">
        <h4>Consultar comprobantes CEP cargados por Compra de Cartera</h4>
        <hr class="red">
        <p align="left">Para realizar tu búsqueda, ingresa un rango de fechas:</p>
    </div>
</div>

<div class="formulario">
    <div class="row">
        <div class="col-sm-2 form-group"></div>
        <div class="col-sm-4 form-group">
            <label for="">De :</label>
            <div class="form-group datepicker-group">
                <input type="text" class="form-control" placeholder="Ingresa fecha de inicio " id="dateCargaCep"
                    [(ngModel)]="fechaInicioConsulta" autocomplete="off">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <label for="">A :</label>
            <div class="form-group datepicker-group">
                <input type="text" class="form-control" placeholder="Ingresa fecha de fin " id="dateCargaCepA"
                    [(ngModel)]="fechaFinConsulta" autocomplete="off">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-sm-2 form-group"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <button (click)="limpiar()" class="btn btn-default">
                Limpiar
            </button>&nbsp;&nbsp;
            <button (click)="busquedaCep()" class="btn btn-primary ">
                <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>Buscar
            </button>
        </div>
    </div>
    <h4>Resultados de la b&uacute;squeda</h4>

    <div class="row tarjeta" *ngFor="let item of pageCepCompras.content; let i = index">
        <div class="row tarjeta-body">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="row" style="text-align: right;">
                    <app-download [documento]="item.documento"></app-download>
                </div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-4">Folio:</div>
                <div class="col-md-4">NSS:</div>
                <div class="col-md-4">Nombre del pensionado:</div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-4">{{item.folio}}</div>
                <div class="col-md-4">{{item.nss}}</div>
                <div class="col-md-4">{{item.nombre}}</div>
            </div>
            <div class="row tarjeta-title-1">
                <div class="col-md-4">Fecha carga CEP:</div>
                <div class="col-md-4">Saldo capital:</div>
                <div class="col-md-4">Referencia:</div>
            </div>
            <div class="row tarjeta-data-1">
                <div class="col-md-4">{{item.documento.altaRegistro}}</div>
                <div class="col-md-4">{{item.scapital | number:'0.2-2'}}</div>
                <div class="col-md-4">{{item.referencia}}</div>
            </div>
        </div>
    </div>

    <app-pager [pageModel]="pageCepCompras" (paged)="onPaged($event)"></app-pager>
    <jw-modal id="carga">
        <div class="jw-modal-titulo"> <b>Atención</b></div>
        <div style="height:100%; width:100%">
            <br>
            <br>
            <p style="text-align:center"><b>Cargando datos</b></p>
            <div align="center">
                <div class="preloader"></div>
            </div>

            <br>
        </div>
    </jw-modal>
</div>