<app-header></app-header>
<app-menu></app-menu>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row">

    <div class="col-md-12">
        <h4>Simulación de préstamos</h4>
        <hr class="red" />
    </div>
</div>
<br>
<app-prestamos-condiciones></app-prestamos-condiciones>
<table class="table table-striped" style="margin-top:-10%;">
    <thead>
        <tr>
            <th scope="col" colspan="8" style="border-bottom: none !important;">Entidades Financieras disponibles
                para tu petición </th>


            <div class="Vector_botonEnviar" (click)="enviarCorreo()" style="cursor: pointer;font-size: 16px;">Enviar
                opciones a tu correo electrónico </div>
        </tr>
        <hr class="red" />
        <th scope="col" colspan="2">
        </th>

    </thead>
</table>
<div class="col-md-12" style="margin-top: -5%; margin-bottom: -3%;">
    <p>De la siguiente lista, compara y elige la propuesta de la Entidad Financiera que más te convenga.<br> Revisa
        cada concepto antes de hacer tu elección. Si lo deseas, puedes mandar esta simulación a tu correo
        electrónico.<br><br> Te recordamos
        que <b>esta acción no te compromete a nada.</b> El préstamo se formalizará hasta que se ponga en contacto
        contigo el personal operativo de la Entidad Financiera elegida.</p> <br> <br>
</div>


<span class="Clasificacin">Clasificación:</span>
<div class="Rectangle-185">

    <img [src]="'/mclpe/auth/js/assets/img/Group-23.png'" class="Group-23"><span class="Mejores-condiciones">Mejores
        condiciones,</span>
    <img [src]="'/mclpe/auth/js/assets/img/Group-24.png'" class="Group-24" style="margin-left:12%"> <span
        class="Segundas-mejores-condiciones" style="margin-right:9%">Segundas mejores condiciones</span>
    <img [src]="'/mclpe/auth/js/assets/img/Group-25.png'" class="Group-25"><span
        class="Terceras-mejores-condiciones">Terceras mejores condiciones,</span>
    <div style="line-height: 1px;">
        <span class="Mejores-condiciones" style="margin-left: 5%; line-height: 1px;">menos pago de interéses</span>
        <span class="Terceras-mejores-condiciones" style="margin-left: 53.5%;line-height: 1px;">más pago de
            interéses</span>

    </div>
</div>

<table class="table table-striped" style="margin-top:-75px;margin-bottom:50px">
    <thead>
        <tr>
            <th scope="col" colspan="8">&nbsp; </th>


        </tr>

    </thead>
</table>
<table class="table table-striped" style="margin-top:-50px;">
    <thead>
        <tr style="font-size: small;">
            <th scope="col"> <br></th>
            <th scope="col">CAT con IVA: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                data-toggle="tooltip" data-placement="bottom"
                title="Costo Anual Total: Monto total a pagar cada año, incluyendo la tasa de interés anual y otros costos del préstamo"></span>
            </th>
            <th class="col-md-3" scope="col">Entidad Financiera:</th>
            <th scope="col">Monto solicitado: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Es el monto que pides prestado a la Entidad Financiera"></span>
            </th>
            <th scope="col">Descuento mensual:
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip"
                    data-placement="bottom"
                    title="Es el monto que se te descontará mensualmente a lo largo del préstamo"></span>

            </th>
            <th scope="col">Plazo:</th>
            <th scope="col">Importe total a pagar: <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                    data-toggle="tooltip" data-placement="bottom"
                    title="Es el importe total del préstamo más los intereses y costos cubiertos durante la vida del crédito"></span>


            </th>
            <th scope="col">
                <!--Tasa
                anual: <br>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" 
                dgitata-toggle="tooltip" data-placement="bottom" title="Son los intereses
                (en %) que se
                pagarán por el
                préstamo en un año" ></span-->

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pageOfertas.content; let i = index" style="font-size: small;">
            <th
                 >
                <img *ngIf="i===0" [src]="'/mclpe/auth/js/assets/img/Group-17.png'" class="Group-17">
                <img *ngIf="i===1" [src]="'/mclpe/auth/js/assets/img/Group-18.png'" class="Group-18">
                <img *ngIf="i>1" [src]="'/mclpe/auth/js/assets/img/Group-20.png'" class="Group-20">
                <br>
                <input type="radio" style="margin: 4px 6px 0;" name="tipoSimulacionOferta" (change)="handleChange(i)"
                    [checked]="(idx === 0)">
            </th>
            <td class="tdBCKVerde"
                *ngIf="i===0   ">
                {{item.cat}}%</td>
            <td class="tdBCKAmarillo"
                *ngIf="i===1   ">
                {{item.cat}}%</td>
            <td class="tdBCKNaranja"
                *ngIf="i>1   ">
                {{item.cat}}%</td>
            <td class="col-md-3"
                 >
                <b> {{item.entidadFinanciera.nombreComercial}}</b><br> {{item.entidadFinanciera.numTelefono}}.
                <br>
                <a> {{item.entidadFinanciera.paginaWeb}}</a><br>
            </td>
            <td
                 >
                ${{item.monto | number:'0.2-2'}}</td>
            <td
                 >
                ${{item.descuentoMensual | number:'0.2-2'}}</td>
            <td
                 >
                {{item.plazo.descripcion}}</td>
            <td class="tdBCKVerde"
                *ngIf="i===0   ">
                ${{item.importeTotal | number:'0.2-2'}}</td>
            <td class="tdBCKAmarillo"
                *ngIf="i===1   ">
                ${{item.importeTotal | number:'0.2-2'}}</td>
            <td class="tdBCKNaranja"
                *ngIf="i>1   ">
                ${{item.importeTotal | number:'0.2-2'}}</td>
            <td
                 >
            </td>

        </tr>
    </tbody>
</table>
<!--app-pager [pageModel] = "pageOfertas" (paged) = "onPaged($event)"></app-pager-->
<div class="container">

    <div class="col-md-2">


    </div>
    <div class="col-md-4">
        <!--    <button class="btn btn-default" type="button">
          Imprimir
          <span class="icon-printing"></span>
        </button> -->
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <a class="btn btn-default" routerLink="../simulacionBusqueda" role="button">Regresar</a>
    </div>
    <div class="col-md-2">
        <button [disabled]="this.botonDesabilitado" (click)="continuarInforme()" class="btn btn-primary ">
            <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>Continuar
        </button>
        <br><br>
    </div>

</div>
<jw-modal id="mejorOferta">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <p style="text-align:center;" class="popupPensionado">La Entidad Financiera que elegiste no tiene
            las mejores condiciones para tu préstamo. ¿Estás seguro de tu elección?</p>
        <br>
        <div class="col-md-12" align="right">
            <button class="btn btn-default" (click)="acptarOferta();">Cancelar</button>&nbsp;&nbsp;

            <button class="btn btn-primary " (click)="continuarInforme();">Aceptar</button>
        </div>
    </div>
</jw-modal>
<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>