<div class="container alertaCont">
    <div class="row">
        <div class="col-sm">
            <div *ngIf="mensaje && mensaje.mensaje!='' && mensaje.mensaje!=undefined" class="alert alert-{{mensaje.level}} alert-dismissible">
                <button (click)="mensaje.mensaje=''" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div [innerHTML]="mensaje.mensaje | keepHtml"></div>
            </div>
        </div>
    </div>
</div>