<div class="alert alert-success">
  El folio de capacidad de crédito ha sido cancelado con éxito.

</div>


<ol class="breadcrumb ">
  <li><a href="#"><i class="icon icon-home"></i></a></li>
  <li><a href="#">Inicio</a></li>
  <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row" style="height: 15px;">
  <div class="col-md-12">
    <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
    <hr class="red">
  </div>
</div>
<br><br>

<app-menu></app-menu>
<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>
<div class="row ">
  <div class="col-md-12">
    <h4>Cancelación de folio </h4>
    <hr class="red">

    <p align="left">
      El folio de capacidad de crédito ha sido cancelado. </p>

  </div>


</div>





<div class="row pull-right">
  <div class="form-group">
    <div class="col-sm-7">
      <a class="btn btn-primary " routerLink="/pensionado/home" role="button">Finalizar</a>
    </div>


  </div>
  <br><br>
</div>