<div class="form-group">
  <label class="col-sm-3">Código postal*: </label>
  <div class="col-sm-3" [formGroup]="domicilioForm">

    <input type="text" class="form-control" [(ngModel)]="model.registrarPromotor.domicilio.codigoPostal"
      placeholder="Ingresa el código postal" pKeyFilter="num" minlength="5" maxlength="5"
      aria-describedby="basic-addon1" formControlName="codigoPostal" />

    <div *ngIf="!domicilioForm.controls['codigoPostal'].valid">
      <div
        *ngIf="domicilioForm.controls['codigoPostal'].errors?.required && domicilioForm.controls['codigoPostal'].touched">
        <p class="error-class">
          Es necesario ingresar la información del campo marcado como obligatorio.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-1">
    <button type="submit" class="btn btn-primary pull-left" (click)="limpiar($event)">Limpiar
    </button>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-1">
    <button type="submit" class="btn btn-primary pull-right" (click)="consultarCodigoPostal($event)">Buscar
    </button>
  </div>
</div>

<div *ngIf="domicilioResponse != null">

  <div class="row">
    <div class="col-sm-4">
      <span class="tarjeta-title-1">Estado*: </span>
      <div *ngIf="domicilioResponse?.asentamientos !== undefined">

        <input type="text" class="form-control"
          [(ngModel)]="domicilioResponse?.asentamientos[0].localidad.municipio.entidadFederativa.nombre"
          placeholder="Estado" minlength="18" maxlength="18" aria-describedby="basic-addon1" readonly />

      </div>
    </div>

    <div class="col-sm-4">
      <span class="tarjeta-title-1">Municipio o Alcaldía*: </span>
      <div *ngIf="domicilioResponse?.asentamientos !== undefined">
        <input type="text" class="form-control"
          [(ngModel)]="domicilioResponse?.asentamientos[0].localidad.municipio.nombre"
          placeholder="Municipio o Alcaldia" minlength="18" maxlength="18" aria-describedby="basic-addon1" readonly />
      </div>
    </div>

    <div class="col-sm-4">
      <span class="tarjeta-title-1">Selecciona tu colonia*: </span>
      <div [formGroup]="domicilioForm">
        <select class="form-control" [(ngModel)]="model.registrarPromotor.domicilio.selectedAsentamiento"
          formControlName="asentamiento">
          <option value="" selected>Seleccionar...</option>
          <option *ngFor="let asentamiento of  domicilioResponse.asentamientos" [ngValue]="asentamiento">
            {{asentamiento.nombre}}</option>
        </select>

        <div class="col-sm-12" *ngIf="!domicilioForm.controls['asentamiento'].valid">
          <div
            *ngIf="domicilioForm.controls['asentamiento'].errors?.required && domicilioForm.controls['asentamiento'].touched">
            <p class="error-class">
              Es necesario ingresar la información del campo marcado como obligatorio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="tarjeta-title-1">Calle*: </span>
      <div [formGroup]="domicilioForm">
        <input type="text" class="form-control" [(ngModel)]="model.registrarPromotor.domicilio.calle"
          placeholder="Calle" minlength="1" maxlength="40" aria-describedby="basic-addon1" formControlName="calle" />

        <div class="col-sm-12" *ngIf="!domicilioForm.controls['calle'].valid">
          <div *ngIf="domicilioForm.controls['calle'].errors?.required && domicilioForm.controls['calle'].touched">
            <p class="error-class">
              Es necesario ingresar la información del campo marcado como obligatorio.
            </p>
          </div>
        </div>

      </div>
    </div>



    <div class="col-sm-4">
      <span class="tarjeta-title-1">Número exterior*: </span>
      <div [formGroup]="domicilioForm">
        <input type="text" class="form-control" [(ngModel)]="model.registrarPromotor.domicilio.numeroExterior"
          placeholder="Número exterior" pKeyFilter="alphanum" minlength="1" maxlength="5"
          aria-describedby="basic-addon1" formControlName="numeroExterior" />
        <div class="col-sm-12" *ngIf="!domicilioForm.controls['numeroExterior'].valid">
          <div
            *ngIf="domicilioForm.controls['numeroExterior'].errors?.required && domicilioForm.controls['numeroExterior'].touched">
            <p class="error-class">
              Es necesario ingresar la información del campo marcado como obligatorio.
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-4">
      <span class="tarjeta-title-1">Número interior: </span>
      <div [formGroup]="domicilioForm">
        <input type="text" class="form-control" [(ngModel)]="model.registrarPromotor.domicilio.numeroInterior"
          placeholder="Número interior" pKeyFilter="alphanum" minlength="1" maxlength="5"
          aria-describedby="basic-addon1" formControlName="numeroInterior" />
      </div>
    </div>
  </div>
</div>