

  <div class="Rectangle-187" style="float: right;">
     <div style="text-align: center;align-content: center;">
      <img [src]="imgEFUrl" class="logoEF">
</div>
      <table  class="" >
      <tr>
        <th scope="col" colspan="7"> </th>
      </tr>
      
      <tr>
            <th class="THSI"  scope="col" style="text-align: left; width: 50%; padding-left: 3%; padding-bottom: 10px!important;">Nombre comercial:</th>
            <th  class="THSI" scope="col" style="text-align: left; width: 50%;padding-left: 3%; padding-bottom: 10px!important;">Teléfono:</th>
      </tr>
      <tr > 
            <td style="font-size:15px;font-weight: bold;padding-left: 3%;  padding-bottom: 10px!important;">{{model.ofertaDatos.nombreComercial}}</td>
            <td style="padding-left: 3%; padding-bottom: 10px!important;">{{model.ofertaDatos.numTelefono}}</td>
      </tr> 
      <tr>            
            <th class="THSI" scope="col" style="text-align: left; width: 100%;padding-left: 3%; padding-bottom: 5px!important;">Página web:</th>
      </tr>
      <tr>  
            <td style="padding-left: 3%;">{{model.ofertaDatos.paginaWeb}}</td>
      </tr>
         
           <tr>&nbsp;</tr>
           
          
      
              
        
      
         
      </table>
    </div>