
<br>
<div class="row" >
<p>  <strong>Resultado de la búsqueda de notificación </strong></p>
    <table class="table    table-striped">
        <thead>
            <tr>
                <th style="width: 15%">
                    Folio
            
                </th>
          
         
                <th style="width: 15%">
                    Entidad
                    Financiera
                </th>
          
                <th style="width: 15%">
                    Tipo
                 </th>
       

                <th style="width: 15%">
                    Tipo
                    secundario
                </th>

                
                <th style="width: 15%">
                    Fecha de
                    registro
                </th>
                <th style="width: 15%">
                    Fecha de
                    vencimiento
                </th>
                <th style="width: 10%">
                    Estado
                </th>
                <th style="width: 10%">
                    Ver detalle
                </th>
              </tr>
        </thead>
        <tbody>
          <tr>
            
            <td >
                Folio
           </td>
          <td >
                Entidad
                Financiera
            </td>
      
            <td >
                Tipo
             </td>
   

            <td >
                Tipo
                secundario
            </td>

            
            <td >
                Fecha de
                registro
            </td>
            <td >
                Fecha de
                vencimiento
            </td>
            <td >
                Estado
            </td>
            <td (click)="irDetalle();">
                <i  class="glyphicon glyphicon-eye-open" style="margin:4px 4px 0 0; color: #404041;" title="Agregar"></i>
            
            </td>

          </tr>
        </tbody>
      </table>

    

</div>

