<div class="row">
  <form [formGroup]="uploadForm">
    <div class="col-md-9" style="text-align: left;">
      <input class="btn btn " type="file" name="profile" (change)="onFileSelect($event)" accept=".xml" />
    </div>
    <div *ngIf="flagUpload==0" style="border: 0px !important;" class="col-md-3 btn btn-default" (click)="onSubmit()">
      <span class="glyphicon glyphicon-open" aria-disabled="true"></span>&nbsp;Cargar
    </div>
    <div *ngIf="flagUpload==1" style="border: 0px !important; top: 12px;" class="col-md-3">
      <app-loader></app-loader>
    </div>
  </form>
</div>