<jw-modal id="atencion">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p>El registro se ha realizado con éxito.</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" (click)="closeModalAtencion()"
                    style="margin-right: 5px">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>

<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="row">
    <div class="col-md-9" style="padding: 10px ; ">
        <h4>Registro de Operador IMSS</h4>
        <hr class="red">
        <p>El registro fue guardado. Se ha enviado un correo electrónico al Operador para activar su usuario, con una vigencia
            de 3 días</p>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-sm-12" style="text-align: right;">
            <button type="submit" class="btn btn-primary pull-right" (click)="finalizar()">Finalizar
            </button>
        </div>
    </div>
</div>
<br>