<h4>Información del personal operativo</h4>
<hr class="red" style="margin: 10px 0 40px;">


<p>Ingresa la información solicitada:</p>

<div class="row">
  <div class="col-sm-4" [formGroup]="infoForm">
    <span class="tarjeta-title-1">Tipo empleado*:</span>
    <select class="form-control" formControlName="tipoEmpleado" [(ngModel)]="model.registrarPromotor.tipoEmpleado"
      (change)="tipoEmpleadoConfig()">
      <option value="" selected>Seleccionar</option>
      <option value="1">EMPLEADO DE LA ENTIDAD FINANCIERA</option>
      <option value="2">EMPLEADO POR UN TERCERO</option>
    </select>
    <div *ngIf="!infoForm.controls['tipoEmpleado'].valid">
      <div *ngIf="infoForm.controls['tipoEmpleado'].errors?.required && infoForm.controls['tipoEmpleado'].touched">
        <p class="error-class">
          Es necesario ingresar la información del campo marcado como obligatorio
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4"
    *ngIf="this.model.registrarPromotor.tipoEmpleado === '1' || this.model.registrarPromotor.tipoEmpleado === 1">
    <div [formGroup]="infoForm">
      <span class="tarjeta-title-1">Número de empleado*: </span>
      <input class="form-control" type="text" [(ngModel)]="model.registrarPromotor.numEmpleado"
        formControlName="numEmpleado" pKeyFilter="alphanum" placeholder="Número de empleado" minlength="2"
        maxlength="18" aria-describedby="basic-addon1" pKeyFilter="num" />
      <div *ngIf="!infoForm.controls['numEmpleado'].valid">
        <div *ngIf="infoForm.controls['numEmpleado'].errors?.required && infoForm.controls['numEmpleado'].touched">
          <p class="error-class">
            El n&uacute;mero de empleado ingresado no es correcto, por favor verifica.
          </p>
        </div>
        <div *ngIf="infoForm.controls['numEmpleado'].errors?.minlength">
          <p class="error-class">
            El mínimo de n&uacute;meros admitido es 2 y el máximo es 10.
          </p>
        </div>
        <div *ngIf="infoForm.controls['numEmpleado'].errors?.pattern">
          <p class="error-class">
            El n&uacute;mero de empleado contiene una letra, por favor verifica.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4" *ngIf="model.registrarPromotor.tipoEmpleado==1">
    <div [formGroup]="infoForm">
      <span class="tarjeta-title-1">Registro Patronal*: </span>
      <input class="form-control" type="text" [(ngModel)]="model.registrarPromotor.registroPatronal"
      formControlName="registroPatronal" pKeyFilter="alphanum" 
      placeholder="Registro patronal" minlength="10" maxlength="10" aria-describedby="basic-addon1" [disabled]="model.enabledModificarPromotor" />
        <div *ngIf="!infoForm.controls['registroPatronal'].valid">
          <div *ngIf="infoForm.controls['registroPatronal'].errors?.required && infoForm.controls['registroPatronal'].touched">
            <p class="error-class">
              El registro patronal no es correcto, por favor verifica.
            </p>
          </div>
          <div *ngIf="infoForm.controls['registroPatronal'].errors?.minlength">
            <p class="error-class">
              El registro patronal debe contener 10 caracteres, por favor verifica.
            </p>
          </div>
        </div>
    </div>
  </div>

</div>

<br>
<p>Delegaciones donde opera el personal operativo*:</p>

<div class="row" [formGroup]="infoForm">
  <!-- <div> -->
  <div class="col-sm-12" *ngIf="(this.model.registrarPromotor.delegaciones.length>0)">

    <div class="row" *ngFor="let delegacion_promotor of model.registrarPromotor.delegaciones; let i = index;">

      <div class="col-sm-4" *ngIf="delegacion_promotor.bajaRegistro == null">
        <!-- <select class="form-control select-style" formControlName="delegacion" style="width: 440px;" -->
        <select class="form-control" [formControl]="delegacionFormArray.controls[i]"
          [(ngModel)]="this.model.registrarPromotor.delegaciones[i].cveDelegacion" (change)="listenerDelegacion(i)">
          <option disabled selected>Seleccionar...</option>
          <option *ngFor="let delegacion_cat of  catalogoDelegaciones" [value]="delegacion_cat.cveDelegacion">
            {{delegacion_cat.descDelegacion}}
          </option>
        </select>
      </div>

      <div class="col-sm-1" *ngIf="delegacion_promotor.bajaRegistro == null" (click)="eliminar(i);">
        <i class="glyphicon glyphicon-trash" style="color:#9b9b9b;" title="Eliminar"></i>
      </div>
      <div class="col-sm-1" *ngIf="delegacion_promotor.bajaRegistro == null" (click)="agregar(i);">
        <i class="glyphicon glyphicon-plus" style="color: #9b9b9b;" title="Agregar"></i>
      </div>
      <div class="col-sm-6">
        <div *ngIf="!delegacionFormArray.controls[i].valid">
          <div *ngIf="delegacionFormArray.controls[i].errors?.required">
            <p class="error-class">
              Es necesario ingresar la información solicitada.
            </p>
          </div>
          <div *ngIf="delegacionFormArray.controls[i].errors?.mustUnique && delegacionFormArray.controls[i].touched">
            <p class="error-class">
              La delegación debe ser unica.
            </p>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>

</div>


<span [formGroup]="infoForm">
  <div *ngIf="infoForm.controls['tipoEmpleado'].value === '2' || this.infoForm.controls['tipoEmpleado'].value === 2">
    <div style="margin: 65px 0 65px;"></div>
    <h3>Registrar domicilio del personal operativo</h3>
    <hr class="red" style="margin: 10px 0 40px;">
    <app-gestion-domicilio [domicilioForm]="infoForm"></app-gestion-domicilio>
  </div>
</span>

<br>
<br>

<h4>Datos de contacto</h4>
<br>
<div class="row">
  <div class="col-md-3">
    <span class="tarjeta-data-1">Teléfono*: </span>
    <div [formGroup]="infoForm">
      <input
        [ngClass]="[!infoForm.controls['telefono'].valid && infoForm.controls['telefono'].touched ? 'form-control-error':'form-control']"
        type="text" [(ngModel)]="model.registrarPromotor.telefono" formControlName="telefono" pKeyFilter="num"
        class="form-control" maxlength="10" placeholder="Ingresa número"/>

      <div *ngIf="!infoForm.controls['telefono'].valid">
        <div *ngIf=" infoForm.controls['telefono'].errors?.required && infoForm.controls['telefono'].touched">
          <p class="error-class">
            Es necesario ingresar la información del campo marcado como obligatorio.
          </p>
        </div>
        <div *ngIf="infoForm.get('telefono').errors?.pattern && infoForm.controls['telefono'].touched">
          <p class="error-class">
            Sólo se permiten caracteres numéricos.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <span class="tarjeta-data-1">Teléfono móvil*: </span>
    <div [formGroup]="infoForm">
      <input
        [ngClass]="[!infoForm.controls['telefonoCelular'].valid && infoForm.controls['telefonoCelular'].touched ? 'form-control-error':'form-control']"
        type="text" [(ngModel)]="model.registrarPromotor.telefonoCelular" formControlName="telefonoCelular"
        pKeyFilter="num" class="form-control" maxlength="10" placeholder="Ingresa número"/>

      <div *ngIf="!infoForm.controls['telefonoCelular'].valid">
        <div
          *ngIf="infoForm.controls['telefonoCelular'].errors?.required && infoForm.controls['telefonoCelular'].touched">
          <p class="error-class">
            Es necesario ingresar la información del campo marcado como obligatorio
          </p>
        </div>
        <div *ngIf="infoForm.get('telefonoCelular').errors?.pattern && infoForm.controls['telefonoCelular'].touched">
          <p class="error-class">
            Sólo se permiten caracteres numéricos.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-3">
    <span class="tarjeta-data-1">Correo electrónico*: </span>
    <div [formGroup]="infoForm">
        <input
        [ngClass]="[!infoForm.controls['correoElectronico'].valid && infoForm.controls['correoElectronico'].touched ? 'form-control-error':'form-control']"
        type="text" 
        class="form-control" 
        [(ngModel)]="model.usuario"
        formControlName="correoElectronico" 
        placeholder="Correo electrónico"
        oninput="this.value = this.value.toLowerCase()" />

      <div *ngIf="!infoForm.controls['correoElectronico'].valid">
        <div
          *ngIf=" infoForm.get('correoElectronico').errors?.pattern && infoForm.controls['correoElectronico'].touched">
          <p class="error-class">
            Asegúrate de que tu correo electrónico este correctamente escrito. </p>
        </div>
        <div
          *ngIf=" infoForm.controls['correoElectronico'].errors?.required && infoForm.controls['correoElectronico'].touched">
          <p class="error-class">
            Es necesario ingresar la información del campo marcado como obligatorio. </p>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-3" *ngIf="this.model.enabledModificarPromotor">
    <br/>
    <button type="button" 
            class="btn btn-primary" 
            (click)="cambiaDominio()">
            Modificar correo electrónico
    </button>
  </div>

</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3" *ngIf="!this.model.enabledModificarPromotor">
    {{model.usuario}}{{dominioCorreoAdmin}}
  </div>
  <div class="col-md-3" *ngIf="this.model.enabledModificarPromotor && !cambiar">
    {{model.usuario}}{{dominioCorreoUsuario}}
  </div>
  <div class="col-md-3" *ngIf="this.model.enabledModificarPromotor && cambiar">
    {{model.usuario}}{{dominioCorreoAdmin}}
  </div>
  <div class="col-md-3"></div>
</div>