<br>
<div class="row" *ngIf="visible">
    <span class='tituloPrestamo'>Información del pensionado</span>
    <div class="tarjetaPensionado">
        <div class="row">
            <div class="col-md-5">
                <label class="tituloPrestamo-span">Nombre completo:</label>
            </div>
            <div class="col-md-3">
                <label class="tituloPrestamo-span">NSS:</label>
            </div>
            <div class="col-md-4">
                <label class="tituloPrestamo-span">CURP:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.pensionado.nombre }} {{
                    this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.pensionado.primerApellido }}
                    {{ this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.pensionado.segundoApellido
                    }}
                </label>
            </div>
            <div class="col-md-3">
                <label class="fontNombrePrestamo">{{
                    this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.nss }}</label>
            </div>
            <div class="col-md-4">
                <label class="fontNombrePrestamo">{{
                    this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.curp }}</label>
            </div>
        </div>
    </div>
    <br>
    <span class='tituloPrestamo'>Información del préstamo</span>
    <div class="tarjetaPrestamo">
        <div class="row">
            <div class="col-md-3">
                <label class="tituloPrestamo-span">Monto solicitado:</label>
            </div>
            <div class="col-md-3">
                <label class="tituloPrestamo-span">Fecha de registro:</label>
            </div>
            <div class="col-md-3">
                <label class="tituloPrestamo-span">Fecha de vencimiento:</label>
            </div>
            <div class="col-md-3">
                <label class="tituloPrestamo-span">CAT con IVA:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    ${{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.impMontoSol | number:'0.2-2'}}
                </label>
            </div>
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.fechaAlta | slice:0:10}}</label>
            </div>
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.fechaVencimiento | slice:0:10}}
                </label>
            </div>
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.cat }}%
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="tituloPrestamo-span">Estado del préstamo:</label>
            </div>
            <div class="col-md-3">
                <label class="tituloPrestamo-span">Tipo de préstamo:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.desEstadoPrestamo }}
                </label>
            </div>
            <div class="col-md-3">
                <label class="fontNombrePrestamo">
                    {{this.model.notificacionModel.notificacion.notPrestamo.prestamoResponse.desTipoCredito}}
                </label>
            </div>
        </div>
    </div>
</div>
<br>
<br>