<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="this.rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Registro de Operador de Entidad Financiera</h4>
        <hr class="red">
        <p align="left">Ingresa los datos que se te solicitan:</p>
    </div>

</div>
<br>
<form [formGroup]="formGroup" (ngSubmit)="validarCandidato()" autocomplete="off" role="form">

    <div class="row">
        <div class="col-md-4">
            <span class="">CURP*: </span>

            <input type="text"
                [ngClass]="[!formGroup.controls['curp'].valid && formGroup.controls['curp'].touched ? 'form-control-error':'form-control']  "
                class="form-control" placeholder="Ingresa el CURP" type="text" maxlength="18" pKeyFilter="alphanum"
                formControlName="curp" oninput="this.value = this.value.toUpperCase()" />

            <div *ngIf="!formGroup.controls['curp'].valid">
                <div *ngIf="formGroup.get('curp').errors?.pattern && formGroup.controls['curp'].touched">
                    <p class="error-class">
                        No se permiten caracteres especiales</p>
                </div>
                <div
                    *ngIf="formGroup.get('curp').value.length < 18 && formGroup.controls['curp'].touched && formGroup.get('curp').value.length > 0 && !formGroup.get('curp').errors?.pattern">
                    <p class="error-class">
                        La CURP debe tener 18 caracteres</p>
                </div>
                <div *ngIf=" formGroup.controls['curp'].errors?.required && formGroup.controls['curp'].touched">
                    <p class="error-class">
                        Es necesario ingresar la información del campo marcado como obligatorio
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <span class="">NSS*: </span>
                <input type="text"
                    [ngClass]="[!formGroup.controls['nss'].valid && formGroup.controls['nss'].touched ? 'form-control-error':'form-control']  "
                    class="form-control" formControlName="nss" name="nss" pKeyFilter="num" placeholder="Ingresa el NSS"
                    minlength="1" maxlength="11" aria-describedby="basic-addon1" formControlName="nss" />


                <div *ngIf="!formGroup.controls['nss'].valid">
                    <div *ngIf="formGroup.get('nss').errors?.pattern && formGroup.controls['nss'].touched">
                        <p class="error-class">
                            Solo se permiten caracteres numéricos</p>
                    </div>
                    <div
                        *ngIf="formGroup.get('nss').value.length < 11 && formGroup.controls['nss'].touched && formGroup.get('nss').value.length > 0 && !formGroup.get('nss').errors?.pattern">
                        <p class="error-class">
                            El NSS debe tener 11 dígitos
                        </p>
                    </div>
                    <div *ngIf=" formGroup.controls['nss'].errors?.required && formGroup.controls['nss'].touched">
                        <p class="error-class">
                            Es necesario ingresar la información del campo marcado como obligatorio
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="text-align: right;">
            <label></label>
            <div class="form-group">
                <button class="btn btn-default"  (click)="regresar()" >Regresar
                </button>
                &nbsp;
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>

    <br>

    <div class="row ">
        <div class="col-md-6">

            <div class="form-group">
                <div>
                    * Campos obligatorios
                </div>

            </div>

        </div>

    </div>
</form>


<br /><br />

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>
        <br>
    </div>
</jw-modal>