<br>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <h3>Préstamos a cuenta de pensión con Entidades Financieras </h3>
        <hr class="red">
        <h4> Cambio de contraseña </h4>
        <p>Ingresa el código de confirmación que se te envió por correo electrónico y una nueva contraseña
            personalizada, la cual debe contener al menos 8 caracteres, una mayúscula y un caracter especial. Confírmala
            y presiona el botón Guardar.</p>
    </div>
</div>
<br>
<form role="form" class="form-horizontal" [formGroup]="formGroup" autocomplete="off">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <div class="form-group">
                <label class="col-sm-4 control-label">Código de confirmación*:</label>
                <div class="col-sm-8">
                    <input
                        [ngClass]="[!formGroup.controls['token'].valid && formGroup.controls['token'].touched ? 'form-control-error':'form-control']  "
                        class=" form-control" formControlName="token" style="width:360px;" type="text"
                        placeholder="Ingresa código de confirmación" (change)="validaInputs()" (keyup)="validaInputs()">
                    <div style="width: max-content;" *ngIf="!formGroup.controls['token'].valid">
                        <div
                            *ngIf=" formGroup.controls['token'].errors?.required && formGroup.controls['token'].touched">
                            <p class="error-class">Es necesario ingresar la información del campo marcado como
                                obligatorio.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4  control-label">Nueva contraseña*:</label>
                <div class="col-sm-8">
                    <input
                        [ngClass]="[!formGroup.controls['password'].valid && formGroup.controls['password'].touched ? 'form-control-error':'form-control']  "
                        class="form-control" formControlName="password" style="width:360px;" type="password"
                        appBlockCopyPaste placeholder="Ingresa nueva contraseña" (change)="validaInputs()" (keyup)="validaInputs()">
                    <div style="width: max-content;" *ngIf="!formGroup.controls['password'].valid">
                        <div
                            *ngIf=" formGroup.get('password').errors?.pattern && formGroup.controls['password'].touched">
                            <p class="error-class">
                                Tu contraseña debe de tener al menos 8 caracteres, una mayúscula y un caracter especial.</p>
                        </div>
                        <div
                            *ngIf=" formGroup.controls['password'].errors?.required && formGroup.controls['password'].touched">
                            <p class="error-class"> Es necesario ingresar la información del campo marcado como
                                obligatorio.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4  control-label">Confirmar contraseña*:</label>
                <div class="col-sm-8">
                    <input
                        [ngClass]="[!formGroup.controls['nuevoPassword'].valid && formGroup.controls['nuevoPassword'].touched ? 'form-control-error':'form-control']  "
                        class="form-control" formControlName="nuevoPassword" style="width:360px;" type="password"
                        appBlockCopyPaste placeholder="Confirma nueva contraseña" (change)="validaInputs()" (keyup)="validaInputs()">

                    <div style="width: max-content;" *ngIf="!formGroup.controls['nuevoPassword'].valid">
                        <div
                            *ngIf=" formGroup.get('nuevoPassword').errors?.pattern && formGroup.controls['nuevoPassword'].touched">
                            <p class="error-class">
                                Tu contraseña debe de tener al menos 8 caracteres, una mayúscula y un caracter especial.</p>
                        </div>
                        <div
                            *ngIf=" formGroup.controls['nuevoPassword'].errors?.required && formGroup.controls['nuevoPassword'].touched">
                            <p class="error-class"> Es necesario ingresar la información del campo marcado como
                                obligatorio.</p>
                        </div>
                        <div
                            *ngIf=" formGroup.get('nuevoPassword').errors?.mustMatch && formGroup.controls['nuevoPassword'].touched">
                            <p class="error-class">
                                Asegúrate de capturar la contraseña exactamente igual que el campo anterior.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <br> * Campos obligatorios
    <br>
    <div class="row pull-right">
        <div class="form-group">
            <div class="col-sm-7">
                <button type="button" (click)="navegarLoggin();" class="btn btn-default">Cancelar
                </button>
            </div>
            <div class="col-sm-5">
                <button appPrevieneDobleClick type="submit"
                    class="btn btn-primary" (throttledClick)="guardarCambios()" [disabled]="esDeshabilitadoBotonGuardar">Guardar
                </button>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<br>
<jw-modal id="actualizandoCredenciales">
    <div class="jw-modal-titulo"><b>Atención</b></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;">Actualizando credenciales del usuario</p>
                <div align="center">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>