<div class="row" style="margin-left: 0%;">
    <h4>Prestador de servicios de validación biométrica</h4>
    <hr class="red" style="margin: 10px 0 40px;">
</div>
<div class="row" style="margin-left: 0%;" *ngIf="!this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSValidacionBiometrica">
    <form #formaRegistrarEntidadValidacionBiometrica="ngForm" autocomplete="off" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-4">
                <label><span class="tarjeta-title-1">Registro Patronal*:</span></label>
                <input pInputText type="text" class="inputRegEnt" name="registroPatronalPSValidacionBiometrica"
                    [ngClass]="registroPatronalPSValidacionBiometrica.invalid && 
                        (registroPatronalPSValidacionBiometrica.dirty || registroPatronalPSValidacionBiometrica.touched)
                        ? 'form-control-error' : 'form-control'"
                    [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.registroPatronal"
                    #registroPatronalPSValidacionBiometrica="ngModel"
                    placeholder="Ingresa el registro patronal"
                    minlength="10"
                    maxlength="10"
                    pKeyFilter="alphanum" required autofocus />
                <div *ngIf="registroPatronalPSValidacionBiometrica.invalid && (registroPatronalPSValidacionBiometrica.dirty || registroPatronalPSValidacionBiometrica.touched)">
                  <div *ngIf="registroPatronalPSValidacionBiometrica.errors?.required">
                    <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como obligatorio.</small>
                  </div>
                  <div *ngIf="registroPatronalPSValidacionBiometrica.errors?.minlength || registroPatronalPSValidacionBiometrica.errors?.maxlength">
                    <small class="form-text form-text-error">Registro Patronal debe contener 10 caracteres</small>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <br />
                <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!formaRegistrarEntidadValidacionBiometrica.valid"
                    (click)="formaRegistrarEntidadValidacionBiometrica.valid ? continuar() : ''">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin-left: 0%;" *ngIf="this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSValidacionBiometrica">
    <div class="row">
        <div class="col-sm-4">
            <label><span class="tarjeta-title-1">Registro Patronal*:</span></label>
            <br />
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.registroPatronal" disabled>
        </div>
        <div class="col-sm-4">
            <label><span class="tarjeta-title-1">RFC:</span></label>
            <br />
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.rfc" disabled>
        </div>
        <div class="col-sm-4">
            <br />
            <button class="btn btn-primary"
                    (click)="limpiarPSValidacionBiometrica()">
                Eliminar
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <label><span class="tarjeta-title-1">Razón Social:</span></label>
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.razonSocial" disabled>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <label><span class="tarjeta-title-1">Domicilio*:</span></label>
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF" name="direccionPSValidacionBiometrica"
                [ngClass]="direccionPSValidacionBiometrica.invalid && (direccionPSValidacionBiometrica.dirty ||
                    direccionPSValidacionBiometrica.touched) ? 'form-control-error' : 'form-control'"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.direccion"
                #direccionPSValidacionBiometrica="ngModel"
                placeholder="Ingresa el domicilio" maxlength="200"
                (blur)="esValidaLaForma()"
                required>
            <div *ngIf="direccionPSValidacionBiometrica.invalid && (direccionPSValidacionBiometrica.dirty || direccionPSValidacionBiometrica.touched)">
                <div *ngIf="direccionPSValidacionBiometrica.errors?.required">
                    <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como obligatorio.</small>
                </div>    
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <label><span class="tarjeta-title-1">Correo electrónico*:</span></label>
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF"
                name="correoElectronicoPSValidacionBiometrica"
                [ngClass]="correoElectronicoPSValidacionBiometrica.invalid && (correoElectronicoPSValidacionBiometrica.dirty || 
                    correoElectronicoPSValidacionBiometrica.touched) ? 'form-control-error' : 'form-control'"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.correoElectronico" 
                #correoElectronicoPSValidacionBiometrica="ngModel"
                placeholder="Ingresa el correo electrónico" maxlength="200" pattern="{{regexCorreo}}"
                oninput="this.value = this.value.toLowerCase()" (keydown.space)="$event.preventDefault()"
                (blur)="esValidaLaForma()"
                required />
            <div *ngIf="correoElectronicoPSValidacionBiometrica.invalid && (correoElectronicoPSValidacionBiometrica.dirty || correoElectronicoPSValidacionBiometrica.touched)">
                <div *ngIf="correoElectronicoPSValidacionBiometrica.errors?.required">
                    <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como obligatorio.</small>
                </div>
                <div *ngIf="correoElectronicoPSValidacionBiometrica.errors?.pattern">
                    <small class="form-text form-text-error">Asegúrate de que el correo electrónico este correctamente escrito.</small>
                </div> 
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <label><span class="tarjeta-title-1">Página web*:</span></label>
            <input style="width: 100%" pInputText type="text" class="inputRegEditEF" name="paginaWebPSValidacionBiometrica"
                [ngClass]="paginaWebPSValidacionBiometrica.invalid && (paginaWebPSValidacionBiometrica.dirty || 
                    paginaWebPSValidacionBiometrica.touched) ? 'form-control-error' : 'form-control'"
                [(ngModel)]="model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.paginaWeb" 
                #paginaWebPSValidacionBiometrica="ngModel"
                placeholder="Ingresa la página web" maxlength="200" pattern="{{regexURL}}"
                oninput="this.value = this.value.toLowerCase()" (keydown.space)="$event.preventDefault()"
                (blur)="esValidaLaForma()"
                required />
            <div *ngIf="paginaWebPSValidacionBiometrica.invalid && (paginaWebPSValidacionBiometrica.dirty || paginaWebPSValidacionBiometrica.touched)">
                <div *ngIf="paginaWebPSValidacionBiometrica.errors?.required">
                    <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como obligatorio.</small>
                </div>
                <div *ngIf="paginaWebPSValidacionBiometrica.errors?.pattern">
                    <small class="form-text form-text-error">Asegúrate de que la dirección de la página web este correctamente escrito.</small>
                </div> 
            </div>
        </div>
    </div>
    <br />
    <div class="row" *ngIf="this.model.registrarEntidadFinanciera.existeDocPSValidacionBiometrica">
        <div class="col-sm-12">
            <input type="file" class="file-input"
                accept=".pdf"
                (change)="onFileSelect($event)"
                #fileUpload />
        </div>
    </div>
    <div class="row" *ngIf="!this.model.registrarEntidadFinanciera.existeDocPSValidacionBiometrica">
        <div class="col-sm-12">
            <input type="file" class="file-input"
                accept=".pdf"
                (change)="onFileSelect($event)"
                #fileUpload
                required />
            <div *ngIf="cargaArchivo == null">
                <small class="form-text form-text-error">El contrato es requerido</small>
            </div>                
        </div>
    </div>
</div>

