<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol"></app-menu-ux>
</div>
<br>
<div class="row ">
    <div class="col-md-8">
        <h4>Te damos la bienvenida</h4>
        <hr class="red">
        <div class="col-sm">
            <p text-align="left">
                Para acceder al sistema, selecciona una de las opciones del menú desplegable en la esquina superior
                derecha.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <app-user-profile></app-user-profile>
        </div>
        <div class="row" style="text-align: center;">
            <app-seccion-ayuda></app-seccion-ayuda>
        </div>
    </div>
</div>
<br>
<br>