<div class="row ">
    <div class="col-md-12">
        <h4>Documentación</h4>
        <hr class="red">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Carga los siguientes documentos del Préstamo a autorizar:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table *ngIf="solicitud.cveOrigenSolicitud.id != 5" class="table">
            <tbody>
                <tr>
                    <td>{{cartaInstruccion.tipoDocumentoEnum.descripcion}}*</td>
                    <td>
                        <app-upload [documento]="cartaInstruccion"
                            [idSolicitud]="model.informeCartaInstruccion.solicitud.id"></app-upload>
                    </td>
                    <td>
                        <app-download [documento]="cartaInstruccion"></app-download>
                    </td>
                </tr>
                <tr>
                    <td>{{identificacionOficial.tipoDocumentoEnum.descripcion}}*</td>
                    <td>
                        <app-upload [documento]="identificacionOficial"
                            [idSolicitud]="model.informeCartaInstruccion.solicitud.id"></app-upload>
                    </td>
                    <td>
                        <app-download [documento]="identificacionOficial"></app-download>
                    </td>
                </tr>
                <tr>
                    <td>{{contratoCredito.tipoDocumentoEnum.descripcion}}*</td>
                    <td>
                        <app-upload [documento]="contratoCredito"
                            [idSolicitud]="model.informeCartaInstruccion.solicitud.id"></app-upload>
                    </td>
                    <td>
                        <app-download [documento]="contratoCredito"></app-download>
                    </td>
                </tr>
                <!-- <tr>
        <td>{{tablaAmortizacion.tipoDocumentoEnum.descripcion}}</td>
        <td><app-upload [documento]="tablaAmortizacion" [idSolicitud]="model.informeCartaInstruccion.solicitud.id" ></app-upload></td>
        <td><app-download [documento]="tablaAmortizacion" ></app-download></td>
      </tr> -->
            </tbody>
        </table>

        <table *ngIf="solicitud.cveOrigenSolicitud.id == 5" class="table">
            <tr>
                <td>{{cartaInstruccion.tipoDocumentoEnum.descripcion}}*</td>
                <td>
                    <app-upload [documento]="cartaInstruccion"
                                [idSolicitud]="model.informeCartaInstruccion.solicitud.id">
                    </app-upload>
                </td>
                <td>
                    <app-download [documento]="cartaInstruccion"></app-download>
                </td>
            </tr>
        </table>
    </div>
</div>