<div class="col-md-4">
    <span *ngIf="this.rol == 'pensionado'">
        <table class="table-bordered" style="width: 394px;">
            <tr>
                <td text-align="left" style="padding: 10px;">
                    <b>
                        {{model.persona.nombre}} {{model.persona.primerApellido}} {{model.persona.segundoApellido}}
                    </b>
                    <br>Pensionado
                    <br>
                    CURP: {{model.persona.curp}}
                    <br>
                    <span *ngIf="this.model.pensionado.nss!=null">
                        NSS: {{model.pensionado.nss}}
                        <br>
                    </span>

                    <span *ngIf="this.model.pensionado.delegacion!=undefined">
                        <span *ngIf="this.model.pensionado.delegacion.descDelegacion!=null">
                            Delegación:
                            {{model.pensionado.delegacion.descDelegacion}}
                            <br>
                        </span>
                    </span>
                    <h5 style="margin: 1px 0px;" class="blue-font">
                        Tiempo de sesión: {{counter | formatTime}}
                    </h5>
                    <button type="button" (click)="salir();" style="margin: 0px -25px;" class="btn btn-link">
                        <strong>Salir</strong>
                    </button>
                </td>
            </tr>
        </table>
    </span>
    <span *ngIf="this.rol == 'promotor' || this.rol == 'operadorEF' || this.rol == 'adminEF' || this.rol == 'adminEFSinConvenio'">
        <table class="table-bordered" style="width: 394px;">
            <tr>
                <td text-align="left" style="padding: 10px;">
                    <b> {{model.persona.nombre}} {{model.persona.primerApellido}} {{model.persona.segundoApellido}}
                    </b><br>
                    <span *ngIf="this.rol == 'promotor'"><b>Personal operativo</b><br></span>
                    <span *ngIf="this.rol == 'operadorEF'"><b>Operador E.F.</b><br></span>
                    <span *ngIf="this.rol == 'adminEF'"><b>Administrador E.F</b><br></span>
                    <span *ngIf="this.rol == 'adminEFSinConvenio'"><b>Administrador E.F Sin Convenio</b><br></span>
                    <b>CURP:</b> {{model.persona.curp}}<br>
                    <h5 style="margin: 1px 0px;" class="blue-font">Tiempo de sesión: {{counter | formatTime}}</h5>
                    <button type="button" (click)="salir();" style="margin: 0px -25px;"
                        class="btn btn-link"><strong>Salir</strong></button>

                </td>
            </tr>
        </table>
    </span>
    <span *ngIf="this.rol == 'operadorIMSS' || this.rol == 'operadorFinanciero' || this.rol == 'administradorIMSS'">
        <table class="table-bordered" style="width: 394px;">
            <tr>
                <td text-align="left" style="padding: 10px">
                    <b> {{model.persona.nombre}} {{model.persona.primerApellido}} {{model.persona.segundoApellido}}
                    </b><br>
                    <span *ngIf="this.rol == 'operadorIMSS'"><b>Operador IMSS</b><br></span>
                    <span *ngIf="this.rol == 'administradorIMSS'"><b>Administrador IMSS</b><br></span>
                    <span *ngIf="this.rol == 'operadorFinanciero'"><b>Operador Financiero</b><br></span>
                    <b>CURP:</b> {{model.persona.curp}}<br>
                    <b>Matrícula:</b> {{ model.user.matriculaTrabIMSS}}<br>
                    <b>Delegación:</b> {{ model.user.desDelegacionTrabIMSS}}<br>
                    <h5 style="margin: 1px 0px;" class="blue-font">Tiempo de sesión: {{counter | formatTime}}</h5>
                    <button type="button" (click)="salir();" style="margin: 0px -25px;"
                        class="btn btn-link"><strong>Salir</strong></button>

                </td>
            </tr>
        </table>
    </span>
</div>