<div *ngIf="this.model.enabledModificarEntidad">
    <h3>Registros Patronales asociados </h3>
    <hr class="red" style="margin: 10px 0 40px;">
    <span>Ingresa los registros patronales asociados la Entidad Financiera:</span>
    <br>
    <div class="alert alert-info" *ngIf="!(this.model.plazosConsulta.length>0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>
    <br>
    <br>
    <table *ngIf="(this.model.registrarEntidadFinanciera.mcltRegistrosPatronalesCollection.length>0)" class="table table-striped "
        style="font-size: 16px!important;font-family: Montserrat  !important;">
        <thead>
            <tr>
                <th style="text-align: left;  width: 15%;">
                    Registro patronal:
                </th>
                <th style="text-align: left;  width: 75%;">
                    Raz&oacute;n social:
                </th>
                <th style="text-align: left;  width: 10%;">
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let rp of this.model.registrarEntidadFinanciera.mcltRegistrosPatronalesCollection; let i = index;">
            <tr *ngIf="rp.bajaRegistro == null">
                <td class="row form-group" style="border-top: none;">
                    <input pInputText type="text" class="col-sm-1 form-control" style="width: 140px;text-align: center;"
                        name="regPat"
                        [ngClass]="regPat.invalid && (regPat.dirty && regPat.touched || registrarForm.submitted) ? 'form-control-error' : 'form-control'"
                        [(ngModel)]="rp.registroPatronal"
                        (change)="validarRP(i)" #regPat="ngModel" placeholder="Ingresa el RP" minlength="10" maxlength="10" required />
                    <!--<div
                        *ngIf="regPat.invalid && (regPat.dirty && regPat.touched || registrarForm.submitted)">
                        <div *ngIf="regPat.errors.required">
                            <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como obligatorio.</small>
                        </div>
                    </div>-->
                </td>
                <td class="row form-group" style="padding-left: 35px !important;width:85%;border-top: none;">
                    <label class="col-sm-9">
                        {{model.registrarEntidadFinanciera.razonSocial}}</label>
                </td>
                <td style="border-top: none;" (click)="eliminar(i);">
                    <i class="glyphicon glyphicon-trash" style="margin:4px 4px 0 0; color:#404041;"
                        title="Eliminar"></i>
                </td>
                <td style="border-top: none;" (click)="agregar(i);">
                    <i class="glyphicon glyphicon-plus" style="margin:4px 4px 0 0; color: #404041;" title="Agregar"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="width: max-content; color: #D0021B !important;" *ngIf="!rpValidos">
        <p class="form-text form-text-error">El registro patronal que ingresaste ya lo has utilizado previamente, por favor
            verifícalo.</p>
    </div>
    <div style="width: max-content;" *ngIf="!rpVacio">
        <p class="form-text form-text-error">Es necesario agregar la información del registro patronal.</p>
    </div>
</div>

<div class="row" *ngIf="!(this.model.enabledModificarEntidad)">
    <h4>Registros Patronales asociados</h4>
    <hr class="red" style="margin: 10px 0 40px;">
</div>
<!--Para el registro de nuevas Entidades-->
<div class="row form-group" *ngIf="!(this.model.enabledModificarEntidad)">

    <table style="border-top: none;" class="table table-borderless border-top-0">
        <tbody style="border-top: none;">
            <tr *ngFor="let rp of this.model.registrarEntidadFinanciera.mcltRegistrosPatronalesCollection; let i = index;">
                <td *ngIf="rp.bajaRegistro == null" class="row form-group" style="border-top: none;">

                    <label class="col-sm-2">Registro Patronal*: </label>
                    <div class="col-sm-2">
                        <input pInputText type="text" class="col-sm-1 form-control" style="width: 140px;text-align: center;"
                        name="regPat"
                        [ngClass]="regPat.invalid && (regPat.dirty && regPat.touched || registrarForm.submitted) ? 'form-control-error' : 'form-control'"
                        [(ngModel)]="rp.registroPatronal"
                        (change)="validarRP(i)" #regPat="ngModel" placeholder="Ingresa el RP" minlength="10" maxlength="10" required /> 

                        <!--<div *ngIf="registro.invalid && (registro.dirty && registro.touched || registrarForm.submitted)">
                            <div *ngIf="registro.errors.required">
                                <small class="form-text form-text-error">Es necesario ingresar la información del campo
                                    marcado como
                                    obligatorio.</small>
                            </div>
                        </div>-->

                    </div>

                    <label class="col-sm-2">Raz&oacute;n social:</label>
                    
                        <label class="col-sm-5">
                            {{model.registrarEntidadFinanciera.razonSocial}}</label>
                    
                </td>
                <td *ngIf="rp.bajaRegistro == null" style="border-top: none;" (click)="eliminar(i);">
                    <i class="glyphicon glyphicon-trash" style="margin:4px 4px 0 0; color:#404041;"
                        title="Eliminar"></i>
                </td>
                <td *ngIf="rp.bajaRegistro == null" style="border-top: none;" (click)="agregar(i);">
                    <i class="glyphicon glyphicon-plus" style="margin:4px 4px 0 0; color: #404041;" title="Agregar"></i>
                </td>

            </tr>
        </tbody>
    </table>
    <div style="width: max-content;" *ngIf="!rpValidos">
        <p class="form-text form-text-error">El registro patronal que ingresaste ya lo has utilizado previamente, por favor
            verifícalo.</p>
    </div>
    <div style="width: max-content;" *ngIf="!rpVacio">
        <p class="form-text form-text-error">Es necesario agregar la información del registro patronal.</p>
    </div>
</div>