.datosDetalleOperadorIMSS {
    height: 576px;
    padding: 29px 32px 19px 34px;
    border-radius: 15px;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #dcdcdc;
    background-color: #fbfbfb;
  }

  .datosDetalleOperadorIMSS label{
    width: 100%;
  height: 22px;
  margin: 0 323px 7px 9px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f6e93;
  }


  .datosDetalleOperadorIMSS span{
    width: 100%;
    height: 22px;
    margin: 7px 0px 34px 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
  }

  
.plazosCCI {
  width: 1148px;
  height: auto;
  padding: 24px 50px 2px 57px;
  border-radius: 15px;
  box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

.plazosCCI th{
  width: 56px;
  height: 22px;
  margin: 0 139px 38px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
} 
.mensajeAlerta div[_ngcontent-eas-c1]{
margin-top:-54.5px!important;
}
.plazosCCI td{
  width: 122px;
  height: 46px;
  margin: 38px 73px 18px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}