<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol">
    </app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="col-md-12">


    <div class="row">
        <span class="TituloGrande">Información de la Entidad Financiera registrada </span>
        <hr class="red" style="margin: 10px 0 40px;" />
    </div>
</div>

<strong>Información de la Entidad Financiera</strong><br><br>
<div class="datosDetalleOperadorIMSS">

    <table class="">
        <thead>

        <tbody>
            <tr>
                <td style="width: 35%"><label>RFC: </label>
                    <br><span>{{model.registrarEntidadFinanciera.rfc}}</span>
                </td>
                <td><label>Registro Patronal:</label>
                    <br><span>{{model.registrarEntidadFinanciera.registroPatronal}}</span>
                </td>

                <td *ngIf="this.model.registrarEntidadFinanciera.mclcEstadoEf.descripcion !==''">
                    <label>Estado:</label>
                    <br>
                    <span>
                        {{this.model.registrarEntidadFinanciera.mclcEstadoEf.descripcion}}
                    </span>
                </td>
                <td
                    *ngIf="this.model.registrarEntidadFinanciera.mclcEstadoEf.descripcion!== null && this.model.registrarEntidadFinanciera.mclcEstadoEf.descripcion===''">
                    <label>Estado:</label>
                    <br>
                    <span>VIGENTE</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td><label>Nombre comercial:</label>
                    <br><span>{{model.registrarEntidadFinanciera.nombreComercial}}</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td style="width: 80%" colspan="2"><label>Razón Social: </label>
                    <br><span>{{model.registrarEntidadFinanciera.razonSocial}}</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td colspan="2"><label>Domicilio:</label>
                    <br><span>{{model.registrarEntidadFinanciera.direccion}}</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td style="width: 50%"><label>Teléfono: </label>
                    <br><span>{{model.registrarEntidadFinanciera.numeroTelefono}}</span>
                </td>
                <td style="width: 50%"><label>Teléfono de atención a clientes: </label>
                    <br><span>{{model.registrarEntidadFinanciera.telefonoAtencionClientes}}</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td><label>Correo electrónico:</label>
                    <br><span>{{model.registrarEntidadFinanciera.correoElectronico}}</span>
                </td>
                <td
                    *ngIf="model.registrarEntidadFinanciera.correo2 != null && model.registrarEntidadFinanciera.correo2 != ''">
                    <label>Correo electrónico 2:</label>
                    <br><span>{{model.registrarEntidadFinanciera.correo2}}</span>
                </td>
            </tr>
            <tr>

                <td
                    *ngIf="model.registrarEntidadFinanciera.correo3 != null && model.registrarEntidadFinanciera.correo3 != ''">
                    <label>Correo electrónico 3:</label>
                    <br><span>{{model.registrarEntidadFinanciera.correo3}}</span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td colspan="3"><label>Página web:</label>
                    <br><span>{{model.registrarEntidadFinanciera.paginaWeb}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<br> <br>

<strong>Información del Representante Legal</strong>
<br><br>
<div class="datosDetalleOperadorIMSS" style="height: 101px!important;">

    <table>

        <tbody>
            <tr>
                <td style="width: 50%"><label>CURP: </label>
                    <br><span>{{model.registrarEntidadFinanciera.curpRepresentanteLegal}}</span>
                </td>
                <td style="width: 50%"><label>Nombre: </label>
                    <br><span>{{model.registrarEntidadFinanciera.nombreLegal}}
                        {{model.registrarEntidadFinanciera.primerApeLegal}}
                        {{model.registrarEntidadFinanciera.segundoApeLegal}}</span>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<br> <br>

<strong>Datos de convenio</strong>

<br> <br>
<div class="datosDetalleOperadorIMSS" style="height: 101px!important;">

    <table>

        <tbody>
            <tr>
                <td style="width: 35%" *ngIf="model.registrarEntidadFinanciera.sinConvenio != 0"><label>Fecha de firma: </label> 
                    <br><span>{{this.fechaFirma}}</span>
                </td>
                <td style="width: 35%" *ngIf="model.registrarEntidadFinanciera.sinConvenio == 0"><label>Fecha de firma: </label>
                    <br><span>No aplica</span>
                </td>
                <td style="width: 35%" *ngIf="model.registrarEntidadFinanciera.sinConvenio != 0"><label>Fecha de inicio: </label>
                    <br><span>{{this.fechaInicio}}</span>
                </td>
                <td style="width: 35%" *ngIf="model.registrarEntidadFinanciera.sinConvenio == 0"><label>Fecha de inicio: </label>
                    <br><span>No aplica</span>
                </td>
                <td><label>Número de proveedor:</label>
                    <br><span>{{model.registrarEntidadFinanciera.numeroProveedor}}</span>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<br /><br />

<strong>Prestador de servicios de certificación</strong>

<br /><br />

<div class="datosDetalleOperadorIMSS" style="height: 380px!important;"
    *ngIf="this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSCertificacion">
    <table>
        <tbody>
            <tr>
                <td style="width: 50%">
                    <label>Registro Patronal:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.registroPatronal}}</span>
                </td>
                <td style="width: 50%">
                    <label>RFC:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.rfc}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Razón Social:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.razonSocial}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Domicilio:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.direccion}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Correo electrónico:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.correoElectronico}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Página web:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioCertificado.paginaWeb}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info"
    *ngIf="!this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSCertificacion">
    <p>
        No existe informaci&oacute;n.
    </p>
</div>

<div class="row" *ngIf="this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSCertificacion">
    <br /><br />
    <strong>Contratos prestador de servicios de certificación</strong>
    <div class="alert alert-info"
        *ngIf="!(this.model.registrarEntidadFinanciera.documentosPSCertificado != null &&
        this.model.registrarEntidadFinanciera.documentosPSCertificado.length > 0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>
    <div class="col-md-12" *ngIf="this.model.registrarEntidadFinanciera.documentosPSCertificado != null && 
        this.model.registrarEntidadFinanciera.documentosPSCertificado.length > 0">
        <table class="table table-striped">
            <thead>
                <th>Archivo adjunto</th>
                <th>Usuario</th>
                <th>Fecha de actualización</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.model.registrarEntidadFinanciera.documentosPSCertificado; let i = index">
                    <td><app-download [documento]="item.documento"></app-download></td>
                    <td>{{item.curp}}</td>
                    <td>{{item.documento.altaRegistro}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br /><br />

<strong>Prestador de servicios de validación biométrica</strong>

<br /><br />

<div class="datosDetalleOperadorIMSS" style="height: 380px!important;"
    *ngIf="this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSValidacionBiometrica">
    <table>
        <tbody>
            <tr>
                <td style="width: 50%">
                    <label>Registro Patronal:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.registroPatronal}}</span>
                </td>
                <td style="width: 50%">
                    <label>RFC:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.rfc}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Razón Social:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.razonSocial}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Domicilio:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.direccion}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Correo electrónico:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.correoElectronico}}</span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%">
                    <label>Página web:</label> 
                    <br><span>{{model.registrarEntidadFinanciera.prestadorServicioValidacionBiometrica.paginaWeb}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info"
    *ngIf="!this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSValidacionBiometrica">
    <p>
        No existe informaci&oacute;n.
    </p>
</div>

<div class="row" *ngIf="this.model.registrarEntidadFinanciera.mostrarComponentesEdicionPSValidacionBiometrica">
    <br /><br />
    <strong>Contratos prestador de servicios de validación biométrica</strong>
    <div class="alert alert-info"
        *ngIf="!(this.model.registrarEntidadFinanciera.documentosPSValidacionBiometrica != null &&
        this.model.registrarEntidadFinanciera.documentosPSValidacionBiometrica.length > 0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>
    <div class="col-md-12" *ngIf="this.model.registrarEntidadFinanciera.documentosPSValidacionBiometrica != null && 
        this.model.registrarEntidadFinanciera.documentosPSValidacionBiometrica.length > 0">
        <table class="table table-striped">
            <thead>
                <th>Archivo adjunto</th>
                <th>Usuario</th>
                <th>Fecha de actualización</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.model.registrarEntidadFinanciera.documentosPSValidacionBiometrica; let i = index">
                    <td><app-download [documento]="item.documento"></app-download></td>
                    <td>{{item.curp}}</td>
                    <td>{{item.documento.altaRegistro}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br /><br />

<strong>Cuenta CLABE para liquidación por compra de cartera</strong>

<br> <br>

<div class="datosDetalleOperadorIMSS" style="height: 101px!important;">

    <table>

        <tbody>
            <tr>
                <td style="width: 100%"><label>Cuenta CLABE: </label>
                    <br><span>{{model.registrarEntidadFinanciera.clabe}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<br> <br>
<strong>Administrador del sistema</strong>

<br> <br>
<div class="datosDetalleOperadorIMSS" style="height: 180px!important;">

    <table>

        <tbody>
            <tr>
                <td style="width: 35%"><label>CURP: </label>
                    <br><span>{{model.registrarEntidadFinanciera.curpAdmin}}
                    </span>
                </td>

                <td style="width: 35%"><label>Nombre: </label>
                    <br><span>{{model.registrarEntidadFinanciera.nombreAdmin}}
                        {{model.registrarEntidadFinanciera.primerApAdmin}}
                        {{model.registrarEntidadFinanciera.segundoApeAdmin}}
                    </span>
                </td>
            </tr>
            <tr>&nbsp;</tr>
            <tr>
                <td style="width: 35%">
                    <label>R.F.C.: </label>
                    <br>
                    <span>
                        {{model.registrarEntidadFinanciera.adminRFC}}
                    </span>
                </td>
                <td style="width: 35%"><label>Correo electrónico: </label>
                    <br><span>{{model.registrarEntidadFinanciera.correoAdmin}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<br> <br>
<h3>Registros Patronales asociados</h3>
<hr class="red" style="margin: 10px 0 40px;">
<br> <br>
<div>
    <div class="alert alert-info" *ngIf="!(this.model.registrosPatronalesArray.length>0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>
    <table class=" table-striped table" *ngIf="this.model.registrosPatronalesArray.length>0">
        <thead>
            <tr>
                <th style="text-align: center;  width: 20%;"> Registro Patronal: </th>
                <th style="text-align: center;  width: 80%;"> Razón Social: </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rp of this.model.registrosPatronalesArray; let i = index">
                <td style="text-align: center;"> {{rp.registroPatronal}} </td>
                <td style="text-align: center;"> {{model.registrarEntidadFinanciera.razonSocial}}</td>
            </tr>

        </tbody>
    </table>

</div>



<br> <br>
<h3>Plazos y beneficios</h3>
<hr class="red" style="margin: 10px 0 40px;">

<br> <br>

<div class="row" *ngIf="!this.model.enabledModificarEntidad">

    <table class="table table-bordered table-striped">

        <tbody>
            <tr *ngFor="let condicionOferta of model.registrarEntidadFinanciera.mclcCondicionOfertaCollection">
                <td style="width: 35%">{{condicionOferta.mclcPlazo.descripcion}}
                </td>
                <td style="width: 35%">{{condicionOferta.porTasaAnual}}
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="this.model.enabledModificarEntidad">
    <div class="alert alert-info" *ngIf="!(this.model.plazosConsulta.length>0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>
    <table class=" table-striped table" *ngIf="this.model.plazosConsulta.length>0">
        <thead>

            <tr>

                <th style="text-align: center;  width: 10%;">
                    Plazo:
                </th>
                <th style="text-align: center;  width: 18%;">
                    % CAT máximo IMSS:

                </th>
                <th style="text-align: center;  width: 18%;">
                    % CAT máximo EF:


                </th>
                <th style="text-align: left;  width: 18%;">
                    Beneficio 1:
                </th>
                <th style="text-align: left;  width: 18%;">
                    Beneficio 2:
                </th>
                <th style="text-align: left;  width: 18%;">
                    Beneficio 3:
                </th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let plazo of this.model.plazosConsulta; let i = index">
                <td style="text-align: center;"> {{plazo.plazo}} </td>
                <td style="text-align: center;"> {{plazo.catForm/100 |percent :'1.2'}}</td>
                <td style="text-align: center;">
                    <div class="form-group">
                        <div class="col-xs-12 "
                            *ngIf="plazo.cat !== undefined && plazo.cat !== null && plazo.cat !== ''">
                            {{plazo.cat/100 |percent :'1.2'}}
                        </div>
                        <div class="col-xs-12 "
                            *ngIf="!(plazo.cat !== undefined && plazo.cat !== null && plazo.cat !== '')">
                            {{0/100 |percent :'1.2'}}
                        </div>
                    </div>

                    <div class="form-group" *ngIf="plazo.error">

                        <p class="error-class">{{plazo.mensajeError}}
                        </p>

                    </div>

                </td>
                <td colspan="3">
                    <div class="form-group" style=" width: 90%;">
                        <div class="col-xs-4" style="padding:0px;">
                            {{plazo.valorBeneficioA}}
                        </div>

                        <div class="col-xs-4" style="padding-right:5%;padding-left: 5%;">
                            {{plazo.valorBeneficioB}}
                        </div>

                        <div class="col-xs-4 " style="padding-right:0%;padding-left: 8%;">
                            {{plazo.valorBeneficioC}}
                        </div>
                    </div>

                    <br>

                </td>
            </tr>

        </tbody>
    </table>

    <div style="margin: 65px 0 65px;"></div>
    <!-- Datos de Condiciones-->
    <h3>Condiciones registradas</h3>
    <hr class="red" style="margin: 10px 0 40px;">

    <div class="alert alert-info" *ngIf="!(this.model.condicionesArray.length>0)">
        <p>
            No existe informaci&oacute;n.
        </p>
    </div>



    <div class="" *ngIf="this.model.condicionesArray.length>0">

        <table class=" table-striped table">
            <thead>
                <tr>
                    <th scope="col" style="width:28%!important;">Delegación: </th>
                    <th scope="col" style="width:18%!important;">Sexo:</th>
                    <th scope="col" style="width:18%!important;">Edad:</th>
                    <th scope="col" style="width:18%!important;">Monto mínimo:</th>
                    <th scope="col" style="width:18%!important;">Monto máximo:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let condicion of this.model.condicionesArray">
                    <td *ngIf="!condicion.editar">
                        <select id="entidadFederativaE" class="form-control select-style" name="entidadF"
                            [(ngModel)]="condicion.entidadFederativaE" [ngModelOptions]="{standalone: true}">
                            <option [value]="item['id']" *ngFor="let item of items">{{item["name"]}}</option>
                        </select>

                    </td>
                    <td *ngIf="!condicion.editar">
                        <select id="sexo" [(ngModel)]="condicion.sexoE" class="form-control select-style"
                            [ngModelOptions]="{standalone: true}">
                            <option value="F" [selected]="condicion.sexoE=='F'">Femenino </option>
                            <option value="M" [selected]="condicion.sexoE=='M'">Masculino</option>
                        </select>
                    </td>
                    <td *ngIf="!condicion.editar">
                        <select id="edad" [(ngModel)]="condicion.edadE" class="form-control select-style" name="edadE"
                            [ngModelOptions]="{standalone: true}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="5">6</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="25">23</option>
                            <option value="24">24</option>

                        </select>
                    </td>

                    <td *ngIf="!condicion.editar">
                        <input type="number" class="form-control" [(ngModel)]="condicion.mMinimoE"
                            [ngModelOptions]="{standalone: true}">
                    </td>
                    <td *ngIf="!condicion.editar">
                        <input type="number" class="form-control" [(ngModel)]="condicion.mMaxE"
                            [ngModelOptions]="{standalone: true}">
                    </td>
                    <td *ngIf="!condicion.editar">
                        &nbsp;
                    </td>

                </tr>
                <tr *ngFor="let condicion of this.model.condicionesArray">
                    <td *ngIf="condicion.editar">
                        {{condicion["nombreEF"]}}
                    </td>
                    <td *ngIf="condicion.editar">
                        {{condicion["sexoJ"]}}
                    </td>
                    <td *ngIf="condicion.editar">
                        {{condicion["edadJ"]}} años
                    </td>

                    <td *ngIf="condicion.editar">
                        ${{condicion["mMinimoJ"]|number:'0.2-2'}}
                    </td>
                    <td *ngIf="condicion.editar">
                        ${{condicion["mMaxJ"]|number:'0.2-2'}}
                    </td>


                </tr>

            </tbody>
        </table>
    </div>
</div>
<br><br>
<div class="row form-group">

    <div class="pull-right">

        <button type="button" class="btn btn-default" (click)="cerrar();">Cerrar
        </button>

        <button *ngIf="this.model.enabledModificarEntidad" type="button" class="btn btn-primary" (click)="modificar();"
            style="margin:5px;">Modificar
        </button>

    </div>

</div>