<div class="row" style="margin-left: 0%;">
    <h4>Convenio</h4>
    <hr class="red" style="margin: 10px 0 40px;">
</div>

<div class="row form-group">
    <label class="col-sm-2" style="width: 30%;">Entidad sin convenio</label><br>
    <div class="col-md-12">
            <input [disabled]="modifica" type="checkbox" name="sinConvenio" (change)="cheked()" [checked]="flagChecked">
            Entidad financiera sin convenio
        </div>
</div>

<div class="row form-group">
    

    <label class="col-sm-2" >Fecha de firma: </label> <br>
    <div class="col-sm-3" style="    margin-left: -15.5%;
    margin-top: 1%; margin-right: 7%;">
        <div class="form-group datepicker-group" >
            <input [disabled]="flagChecked" id="fecFirmaContra" name="fecFirmaContra" [(ngModel)]="model.registrarEntidadFinanciera.fecFirmaContra" #fecFirmaContra="ngModel" class="form-control" placeholder="Ingresa la fecha de firma" autocomplete="off" required> <span class="glyphicon glyphicon-calendar"
                aria-hidden="true"></span>
        </div>

        <!--
        <input pInputText type="date" class="form-control" name="fecFirmaContra"
            [ngClass]="fecFirmaContra.invalid && (fecFirmaContra.dirty && fecFirmaContra.touched) && registrarForm.submitted ? 'form-control-error' : 'form-control'"
            [(ngModel)]="model.registrarEntidadFinanciera.fecFirmaContra" #fecFirmaContra="ngModel"
            placeholder="Ingresa la fecha de firma" required />
        -->
        <div *ngIf="fecFirmaContra.invalid && (fecFirmaContra.dirty && fecFirmaContra.touched || registrarForm.submitted)">
            <div *ngIf="fecFirmaContra.errors.required">
                <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como
                    obligatorio.</small>
            </div>
        </div>
    </div>

    <label class="col-sm-2" style="margin-top: -2%;">Fecha de inicio*:</label><br>
    <div class="col-sm-3" style="    margin-left: 1%;
    margin-top: -1%; margin-right: 7%;">



        <div class="form-group datepicker-group" >
            <input  [disabled]="flagChecked" id="fecIniFirmaContra" name="fecIniFirmaContra" [(ngModel)]="model.registrarEntidadFinanciera.fecIniFirmaContra" #fecIniFirmaContra="ngModel" class="form-control" placeholder="Ingresa la fecha de inicio" autocomplete="off" required>            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>

        <!--
        <input pInputText type="date" class="form-control" name="fecIniFirmaContra"
            [ngClass]="fecIniFirmaContra.invalid && (fecIniFirmaContra.dirty && fecIniFirmaContra.touched) && registrarForm.submitted ? 'form-control-error' : 'form-control'"
            [(ngModel)]="model.registrarEntidadFinanciera.fecIniFirmaContra" #fecIniFirmaContra="ngModel"
            placeholder="Ingresa la fecha de inicio" required />
        -->
        <div *ngIf="fecIniFirmaContra.invalid && (fecIniFirmaContra.dirty && fecIniFirmaContra.touched || registrarForm.submitted)">
            <div *ngIf="fecIniFirmaContra.errors.required">
                <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como
                    obligatorio.</small>
            </div>
        </div>
    </div>


    <label class="col-sm-2" style="margin-top: -4%;width: 30%;">Número de proveedor*: </label><br>
    <div class="col-sm-3" style="margin-top: -3.2%; margin-right: 7%;">
        <input pInputText type="text" class="form-control" name="numeroProveedor" [ngClass]="numeroProveedor.invalid && (numeroProveedor.dirty && numeroProveedor.touched || registrarForm.submitted) ? 'form-control-error' : 'form-control'" [(ngModel)]="model.registrarEntidadFinanciera.numeroProveedor"
            #numeroProveedor="ngModel" placeholder="Ingresa el número de proveedor" maxlength="8" pKeyFilter="num" numbersOnly [disabled]="this.flat" required />
        <div *ngIf="numeroProveedor.invalid && (numeroProveedor.dirty && numeroProveedor.touched || registrarForm.submitted)">
            <div *ngIf="numeroProveedor.errors.required">
                <small class="form-text form-text-error">Es necesario ingresar la información del campo marcado como
                    obligatorio.</small>
            </div>
        </div>
    </div>
</div>