/* You can add global styles to this file, and also import other style files */

jw-modal {
    /* modals are hidden by default */
    display: none;
}

.Rectangle-184 {
    width: 1134px;
    height: 139px;
    margin: 16.6px 133px 74px 1px;
    padding: 28px 132px 25px 102px;
    border-radius: 20px;
    box-shadow: 3px 4px 18px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #bfbfbf;
    background-color: #fbfbfb;
}

.Monto-solicitado {
    width: 199px;
    height: 27px;
    margin: 0 154.4px 32px 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #004d7b;
}

.Fecha-del-primer-descuento {
    width: 350px;
    height: 27px;
    margin: 32px 24.4px 0 0;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #004d7b;
}

.Rectangle-185 {
    width: 100%;
    height: 100px;
    margin: 12px 58px 77px 0%;
    padding: 21px 17px 19.7px 27px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
}

.Group-17 {
    width: 20px;
    height: 20.1px;
    margin: 5px 38px 17.9px 2px;
    object-fit: contain;
}

.Group-18 {
    width: 20px;
    height: 20.9px;
    margin: 15px 3.3px 16.1px 0.7px;
    object-fit: contain;
}

.Informacin-del-solicitante {
    width: 290px;
    padding-right: 25%;
    height: 26px;
    margin: 31.9px 11.9px 13px 0px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Nombre_solicitante {
    width: 82px;
    height: 22px;
    margin: 0 160px 9px 0;
    font-family: Montserrat;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.Entidad-Financiera-elegida {
    width: 291px;
    height: 26px;
    margin: 31.9px 15px 13px 29.2px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Rectangle-187 {
    width: 552px;
    height: 400px;
    margin-top: 1%;
    padding: 23px 72px 17px 2px;
    border-radius: 15px;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #dcdcdc;
    background-color: #fbfbfb;
}

.CURP_solicitante {
    width: 59px;
    height: 22px;
    margin: 18px 183px 8px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.NSS_Solicitante {
    width: 43px;
    height: 22px;
    margin: 18px 89px 8px 26px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.Correo-electrnico_solicitante {
    width: 180px;
    height: 22px;
    margin: 20px 62px 14px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.Telfono-mvil_solicitante {
    width: 144px;
    height: 22px;
    margin: 22px 0 12px 1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.Correo-electrnico_solicitante_datos {
    width: 273px;
    height: 20px;
    margin: 12px 99px 0 2px;
    font-family: Montserrat;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.Telfono-mvil_solicitante_datos {
    width: 105px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 12px 39px 0 1px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.Deleg_Solicitante {
    width: 66px;
    height: 22px;
    margin: 13px 79px 13px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.CURP_solicitante_Dato {
    width: 214px;
    height: 20px;
    margin: 9px 26px 20px 2px;
    font-family: Montserrat;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.NSS_Solicitante_dato {
    width: 99px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 9px 31px 20px 28px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.Deleg_Solicitante_dato {
    width: 122px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 23px 21px 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.Nombre_solicitante_dato {
    width: 372px;
    height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 9px 0 13px 2px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.Rectangle-186 {
    width: 552px;
    height: 400px;
    margin: 13px 36px 46px 0px;
    padding: 13px 18px 22px 15px;
    border-radius: 15px;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #dcdcdc;
    background-color: #fbfbfb;
}

.Group-20 {
    width: 20px;
    height: 20.1px;
    margin: 0 38px 16.9px 2px;
    object-fit: contain;
}

.Mejores-condiciones {
    width: 85px;
    height: 34px;
    margin: 4px 36px 4.3px 6.7px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Vector_botonEnviar {
    width: 218px;
    height: 56px;
    margin: 74px -100px 12px 11.7px;
    padding: 6px 11px 6px 19px;
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 2.3px #9c2b2b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d1f1f;
}

.montoLetra {
    width: 123px;
    height: 27px;
    margin: 0 206.6px 32px 10px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54544f;
}

.letraSimulacionSeleccionar {
    width: 126px;
    height: 27px;
    margin: 32px 203.6px 0 10px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54544f;
}

.Segundas-mejores-condiciones {
    width: 145px;
    height: 34px;
    margin: 4px 23px 4.3px 16.7px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.tdBCKNaranja {
    width: 125px;
    height: 72px;
    margin: 0 26px 0 9px;
    padding: 11px 28.5px 30.2px 34px;
    background-color: #ffeede;
    margin: 0 4.4px 10.8px 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e38047;
}

.tdBCKAmarillo {
    width: 125px;
    height: 62px;
    margin: 72px 12px 12.9px 9px;
    padding: 11px 28.5px 20.2px 34px;
    background-color: #fffbd2;
    margin: 0 4.4px 10.8px 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #997f5a;
}

.btnContinuar {
    width: 177.5px;
    height: 55.6px;
    margin: 42px 123.6px 44.4px 14.9px;
    padding: 17.8px 42.8px 15.9px 43.7px;
    border: solid 2px #9a0a00;
}

.tdBCKVerde {
    margin: 0 4.4px 10.8px 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2e9f81;
    width: 125px;
    height: 59px;
    margin: 0 26px 0 9px;
    padding: 8px 28.5px 20.2px 34px;
    background-color: #d8f1ea;
}

.Terceras-mejores-condiciones {
    width: 145px;
    height: 34px;
    margin: 4px 0 4.3px 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Group-23 {
    width: 42.3px;
    height: 42.3px;
    margin: 0 6.7px 0 0;
    object-fit: contain;
}

.Group-24 {
    width: 42.3px;
    height: 42.3px;
    margin: 0 16.7px 0 36px;
    object-fit: contain;
}

.Group-25 {
    width: 42.3px;
    height: 42.3px;
    margin: 0 23.7px 0 23px;
    object-fit: contain;
}

.meses {
    width: 110px;
    height: 27px;
    margin: 0 0 32px 18px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #54544f;
}

.Plazo {
    width: 69px;
    height: 27px;
    margin: 0 38px 32px 203.6px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #004d7b;
}

.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .jw-modal-background */
    z-index: 10000;
    /* enables scrolling for tall modals */
    overflow: auto;
}

.jw-modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin-left: 22%;
    margin-top: 14%;
    min-height: 250px;
    width: 50%;
}

.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 9000;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.jw-modal-titulo {
    background: black;
    -webkit-margin-before: -19px;
    margin-block-start: -19px;
    margin-left: -19px;
    margin-right: -20px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: inherit;
}

.scroll-aviso {
    width: 1150px;
    height: 160px;
    overflow: auto;
}

.hero {
    padding: 20px;
    min-height: 240px;
    background-color: #1976D2;
    background: -webkit-linear-gradient(145deg, #9175c5, #42A5F5);
    background: linear-gradient(145deg, #9175c5, #42A5F5);
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3.5em;
    margin: 50px 0 0 0;
}

.hero p {
    font-size: 1.5em;
    margin: 5px 0 15px 0;
}

.block-form {
    padding: 70px;
    text-align: center;
    background: #fff;
}

.control {
    display: block;
    margin: 5px auto;
    padding: 5px;
    background: transparent;
    font-size: 1.7em;
    border: none;
    text-align: center;
}

.control__btn {
    margin: 15px auto;
    padding: 10px 15px;
    font-size: 1.3em;
    background: #708ada;
    color: #fff;
    cursor: pointer;
}

.control__input {
    color: #708ada;
    border-bottom: solid 3px #708ada;
    text-align: left;
}

.control__input:focus {
    outline: none;
}

.control__input::placeholder {
    color: #eae9e9;
}

.preloader {
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error-class {
    font-size: smaller;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.726);
}

.uppercase-class {
    text-transform: uppercase;
}

body .ui-dropdown {
    background: #ffffff;
    border: 1px solid #a6a6a6;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    display: block;
    border-radius: 4px;
}

body .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #555;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

body .ui-dropdown .ui-dropdown-label {
    padding-left: 1em;
    padding-right: 2em;
}

body .ui-dropdown .ui-dropdown-trigger {
    width: 2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    color: #848484;
}

body .ui-dropdown .ui-dropdown-clear-icon {
    color: #848484;
}

body .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 4em;
}

body .ui-dropdown-panel {
    padding: 0;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    -webkit-box-shadow: #555;
    -moz-box-shadow: #555;
    box-shadow: #555;
}

body .ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-bottom: 1px solid #eaeaea;
    color: #555;
    background-color: #ffffff;
    margin: 0;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
    width: 100%;
    padding-right: 2em;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    top: 50%;
    margin-top: -0.5em;
    right: 1.357em;
    color: #4D92DF;
}

body .ui-dropdown-panel .ui-dropdown-items {
    padding: 0;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    margin: 0;
    padding: 0.429em 0.857em;
    border: 0 none;
    color: #555;
    background-color: transparent;
    -moz-border-radius: 4;
    -webkit-border-radius: 4;
    border-radius: 4;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #ffffff;
    background-color: #4D92DF;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    color: #555;
    background-color: #eaeaea;
}

.img-home-pensionado {
    width: 66px;
    height: 55px;
    margin: 1px 1px 43px -20px;
    object-fit: contain;
}

.blue-font {
    color: #2f6e93;
}

.rectangle-188 {
    width: 340px;
    height: 98px;
    margin: -30px 0px 100px;
    padding: 18px 63px 16px 62px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.RectanglePV-188 {
    width: 1138px;
    height: 159px;
    float: left;
    margin: 33px 137px 31px 0px;
    padding: 22px 18px 27px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.THPV {
    width: 146.5px;
    height: 21.1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.SeleccionarPV {
    width: 117px;
    height: 19px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #494646;
}

.datosEFPV {
    width: 234px;
    height: 26px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Clasificacin {
    width: 126px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.popupPensionado {
    height: auto;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #211915;
}

.Entidad-FinancieraTH {
    width: 183px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.montoMaximoSpan {
    width: 326px;
    height: 47px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f0b96f;
}

.montoMaximoSpanL {
    width: 326px;
    height: 47px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.VectorPlazo {
    width: 241px;
    height: 37px;
    font-size: 95% !important;
    margin: -10px 35.6px 0 49px;
    padding: 8px 12px 9px 17px;
    border: solid 1px #c4c4c4;
}

.mujer-1 {
    width: 374px;
    height: 514px;
    margin: -142px 311px 47.2px 10.7px;
    object-fit: contain;
}

.teclado-1 {
    width: 374px;
    height: 514px;
    margin: -142px 0.1px 47px -373px;
    object-fit: contain;
}

.VectorT1 {
    width: 374.9px;
    height: 51.1px;
    margin: 19.9px 152.5px 131.3px 92.6px;
    padding: 16.7px 101.4px 21.5px 97.7px;
    background-color: #a2bce0;
}

.descMax {
    width: 326px;
    height: 47px;
    margin: -90px 336px 53px 118%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Rectangle-188 {
    width: 100%;
    height: 195px;
    margin: 19px 129px 36px 0px;
    padding: 4.2px 13px 12px 38px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.Informacin-de-la-simulacin {
    width: 100%;
    height: 26px;
    float: left;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.THSI {
    width: 263.5px;
    height: 21.1px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}

.No-cuentas-con-prstamos-vigentes {
    width: 395px;
    height: 26px;
    margin: 62px 12.3px 76px 307px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c3c3a;
}

.logoEF {
    width: auto;
    padding-bottom: 10px;
    max-height: 200px;
    max-width: 450px;
    margin: 0 75px 28.7px;
}

.Prstamos-por-liquidar {
    width: 100%;
    height: 26px;
    float: left;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.EFHome {
    width: 234px;
    height: 26px;
    margin: 1.7px 178px 37px 5.8px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.Cancelar-solicitud {
    width: 171px;
    height: 19px;
    margin: 1.7px 27px 44px -2px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b6c42;
    cursor: pointer!important;
}

.Ver-detalle {
    width: 112.5px;
    height: 19.8px;
    margin: 3px 0 26px 2px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #991915;
    cursor: pointer!important;
}

.Ver-detalle-gray {
    width: 112.5px;
    height: 19.8px;
    margin: 3px 0 26px 2px;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8f8f8f;
}

.GroupVD {
    width: 29.8px;
    height: 17px;
    margin: 7px 2px 10px 7px;
    object-fit: contain;
}

.GroupCS {
    width: 23px;
    height: 26px;
    margin: 0px 0px 2.7px 0px;
    ;
    object-fit: contain;
}

.Generar-carta {
    width: 171px;
    height: 19px;
    margin: 3px 0 26px 2px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b6c42;
}

.generacarta-1 {
    width: 25px;
    height: 25px;
    margin: 3px 2px 3px 7px;
    object-fit: contain;
}

.autorizacarta-1 {
    width: 29px;
    height: 29px;
    margin: 3px 2px 3px 7px;
    object-fit: contain;
}

.cep-1 {
    width: 25px;
    height: 25px;
    margin: 3px 2px 3px 7px;
    object-fit: contain;
}

.capturarmonto-1 {
    width: 30px;
    height: 28px;
    margin: 3px 2px 3px 7px;
    object-fit: contain;
}

.asignapromotores-1 {
    width: 26px;
    height: 25px;
    margin: 3px 2px 3px 7px;
    object-fit: contain;
}

.noInformacin {
    height: 26px;
    margin: 30px 0px 50px 0px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c3c3a;
}

.noDocumentacinCargadaNotificacin {
    height: 26px;
    margin: 1px 0px 50px 0px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3c3c3a;
}