<ol class="breadcrumb ">
    <li><a href="#"><i class="icon icon-home"></i></a></li>
    <li><a href="#">Inicio</a></li>
    <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
        <hr class="red">
    </div>
</div>

<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>
<div class="col-md-12">
    <div class="row">
        <h3>Informe de préstamo</h3>
        <hr class="red" />
    </div>
</div>

<div class="row folio-header">
    <div class="col-md-3">
        Folio:&nbsp;<span>{{model.informeCartaInstruccion.solicitud.numFolioSolicitud}}</span>
    </div>
    <div class="col-md-9">
        Estado:&nbsp;<span>{{model.informeCartaInstruccion.solicitud.cveEstadoSolicitud.desEstadoSolicitud}}</span>
    </div>
</div>

<div class="row">
    <app-pensionado-datos-autorizador></app-pensionado-datos-autorizador>
    <app-entidad-financiera-datos-autorizar></app-entidad-financiera-datos-autorizar>
</div>

<app-promotor-datos-autorizador></app-promotor-datos-autorizador>

<app-datos-simulacion-autorizador></app-datos-simulacion-autorizador>
<app-prestamos-recuperacion-datos-autorizador></app-prestamos-recuperacion-datos-autorizador>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Documentación del préstamo
    </div>
    <div class="row tarjeta-body">
        <div class="col-md-6" *ngFor="let item of documentacion; let i = index">
            <div class="col-md-6" style="text-align: left;">
                {{item.tipoDocumentoEnum.descripcion}}
            </div>
            <div class="col-md-6" style="text-align: left;">
                <app-download [documento]="item"></app-download>
            </div>
        </div>
    </div>
</div>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Comprobante electrónico de pago (CEP)
    </div>
    <div class="row tarjeta-body">
        <div class="col-md-6" *ngFor="let item of comprobantesPago; let i = index">
            <div class="col-md-6" style="text-align: left;">
                {{item.tipoDocumentoEnum.descripcion}}
            </div>
            <div class="col-md-6" style="text-align: left;">
                <app-download [documento]="item"></app-download>
            </div>
        </div>
    </div>
</div>

<div class="row tarjeta">
    <div class="row tarjeta-header">
        Documentación adicional
    </div>
    <div class="row tarjeta-body">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of documentacionAdicional; let i = index">
                <div class="col-md-6" style="text-align: left;">
                    {{item.tipoDocumentoEnum.descripcion}}
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <app-download [documento]="item"></app-download>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="row" *ngFor="let document of documentoAdicional; let i = index;">
                <div class="col-md-3" style="margin-top: 10px; width: 21%;">
                    <select  [(ngModel)]="documentoAdicional[i].documentoRequest.tipoDocumento" 
                        [disabled]="documentoAdicional[i].documentoResponse" 
                        class="form-select">
                        <option value = "3">Carta de Libranza</option>
                        <option value = "4">Identificación oficial</option>
                        <option value = "5">Contrato</option>
                        <option value = "7">CEP Pensionado</option>
                        <option value = "12">CEP Pensionado XML</option>
                    </select>
                </div>
                <div class="col-md-6" style="width: 55%;">
                    <form [formGroup]="documentoAdicional[i].uploadForm">
                        <div class="col-md-9" style="text-align: left;">
                          <input [disabled]="documentoAdicional[i].documentoResponse" 
                            *ngIf="documentoAdicional[i].documentoRequest.tipoDocumento == 12" 
                            #inputC class="btn btn " type="file" name="profile" 
                            (change)="onFileSelect($event, documentoAdicional[i])" 
                            accept=".xml" />
                          <input [disabled]="documentoAdicional[i].documentoResponse"
                            *ngIf="documentoAdicional[i].documentoRequest.tipoDocumento != 12" 
                            #inputC class="btn btn " type="file" name="profile" 
                            (change)="onFileSelect($event, documentoAdicional[i])" 
                            accept=".pdf" />
                        </div>
                        <div *ngIf="!documentoAdicional[i].loadingFile" class="col-md-2">
                            <button  [disabled]="!documentoAdicional[i].uploadForm.get('profile').value || documentoAdicional[i].documentoResponse" class="col-md-2" 
                                style="font-family: Montserrat; font-size: 18px; border: 0px !important;" class="btn btn-default" (click)="onSubmit(documentoAdicional[i])">
                            <span class="glyphicon glyphicon-open" aria-disabled="true"></span>&nbsp;Cargar
                          </button>
                        </div>
                        <div *ngIf="documentoAdicional[i].loadingFile" class="col-md-2" style="padding: 20px;">
                            <div class="dot-pulse"></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2" style="margin-top: 5px; width: 16%;">
                    <app-download [documento]="documentoAdicional[i].documentoResponse"></app-download>
                </div>
                <div class="col-md-1" style="margin-top: 1px; width: 8%;">
                    <a (click)="openModalAdjunto(i);">
                        <span class="glyphicon glyphicon-trash" style="color: #8b6c42; cursor:pointer;" aria-hidden="true"></span>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a (click)="addFila(false);">
                        <span class="glyphicon glyphicon-plus" style="color: #991915; cursor:pointer; margin-top: 10px;" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row" style="text-align:right">
    <div class="col-sm-10">
        <button type="button" routerLink="../buscarFolioAutorizar" class="btn btn-default inputBorder">
            Regresar
        </button>
    </div>
    <div class="col-sm-1">
        <button type="submit" class="btn btn-primary inputBorder" 
            [disabled]="this.data.model.uploadDocumento.length < 1" routerLink="../home">
            Aceptar
        </button>
    </div>
</div>
<br>

<jw-modal id="carga">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div style="height:100%; width:100%">
        <br>
        <br>
        <p style="text-align:center"><b>Cargando datos</b></p>
        <div align="center">
            <div class="preloader"></div>
        </div>

        <br>
    </div>
</jw-modal>

<jw-modal id="eliminarAdjunto">
    <div class="jw-modal-titulo"> <b>Atención</b></div>
    <div class="modal-body">
        <p style="text-align: center;">
            ¿Deseas eliminar el archivo adjunto?</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default inputBorder" (click)="closeModal('eliminarAdjunto')">Cancelar</button>
                <button class="btn btn-primary inputBorder" (click)="eliminar()" style="margin-right: 5px">Aceptar </button>
            </div>
        </div>
    </div>
    <br>
</jw-modal>