<div class="col-md-6 tarjeta tarjeta-info-ef">
  <div class="row tarjeta-header">
    Entidad Financiera elegida
  </div>
  <div class="row tarjeta-body">
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <img [src]="imgEFUrl" alt="Sin imagen">
      </div>
    </div>
    <div class="row tarjeta-title-1">
      <div class="col-md-6">
        Nombre comercial:
      </div>
      <div class="col-md-6">
        Teléfono:
      </div>
    </div>
    <div class="row tarjeta-data-1-bold">
      <div class="col-md-6">
        {{model.informeCartaInstruccion.prestamo.oferta.entidadFinanciera.nombreComercial}}
      </div>
      <div class="col-md-6">
        {{model.informeCartaInstruccion.prestamo.oferta.entidadFinanciera.numTelefono}}
      </div>
    </div>
    <div class="row tarjeta-title-1">
      <div class="col-md-12">
        Página web:
      </div>
    </div>
    <div class="row tarjeta-data-1">
      <div class="col-md-12">
        <a href="https://{{model.informeCartaInstruccion.prestamo.oferta.entidadFinanciera.paginaWeb}}">{{model.informeCartaInstruccion.prestamo.oferta.entidadFinanciera.paginaWeb}}
        </a>
      </div>
    </div>
  </div>
</div>