.cardPequeñaHome {
    width: 230px;
    height: 98px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.cardGrandeHome {
    width: 800px;
    height: 180px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.cardMedianaHome {
    width: 800px;
    height: 140px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}

.cardEstadoNot {
    width: 330px;
    height: 98px;
    border-radius: 15px;
    box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ffffff;
    background-color: #ffffff;
}