.textoBusqueda{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}
.textoInput{
    font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(83, 83, 83, 0.6);
}
.inputBorder{
    border-radius: 10px;
    border: solid 1px #afaeae;
}