<app-header></app-header>
<div class="row" style="margin-top: -60px;">
    <app-menu-ux [rol]="rol"></app-menu-ux>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-md-8">
    </div>
    <app-user-profile></app-user-profile>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Registro de préstamo</h4>
        <hr class="red">
        <p align="left">

            Ingresa la información del Pensionado:</p>

    </div>

</div>
<br>
<form [formGroup]="formGroup" autocomplete="off" class="form-inline" role="form">

    <div class="row ">
        <div class="col-md-5">
            <div class="form-group">
                <label class="textoBusqueda">CURP*: </label> &nbsp;
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" style="text-align: left;">
                <label class="textoBusqueda">NSS*: </label> &nbsp;
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-5">

            <input type="text" [ngClass]="[!formGroup.controls['curp'].valid && formGroup.controls['curp'].touched ? 'form-control-error':'form-control']  " class="form-control textoInput inputBorder" name="curp" pKeyFilter="alphanum" placeholder="Ingresa CURP" style="text-transform:uppercase;"
                oninput="this.value = this.value.toUpperCase()" minlength="1" aria-describedby="basic-addon1" formControlName="curp" />
            <div *ngIf="!formGroup.controls['curp'].valid">
                <div *ngIf=" formGroup.get('curp').errors?.pattern && formGroup.controls['curp'].touched">
                    <p class="error-class">
                        El CURP debe tener 18 caracteres.
                </div>


                <div *ngIf=" formGroup.controls['curp'].errors?.required && formGroup.controls['curp'].touched">
                    <p class="error-class">Es necesario ingresar la información del campo marcado como obligatorio. </p>
                </div>
            </div>
        </div>

        <div class="col-md-5">

            <input type="text" [ngClass]="[!formGroup.controls['nss'].valid && formGroup.controls['nss'].touched ? 'form-control-error':'form-control']  " class="form-control textoInput inputBorder" formControlName="nss" name="nss" pKeyFilter="num" placeholder="Ingresa NSS"
                minlength="1" maxlength="11" aria-describedby="basic-addon1" formControlName="nss" />

            <div *ngIf="!formGroup.controls['nss'].valid">
                <div *ngIf=" formGroup.get('nss').errors?.pattern && formGroup.controls['nss'].touched">
                    <p class="error-class">
                        El NSS debe tener 11 dígitos
                </div>


                <div *ngIf=" formGroup.controls['nss'].errors?.required && formGroup.controls['nss'].touched">
                    <p class="error-class">Es necesario ingresar la información del campo marcado como obligatorio. </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-5">
            <img [src]="captchaImageInBase64" width="100%" alt="Captcha" />
        </div>
        <div class="col-md-2">
            <div class="reload-captcha" (click)="consultarServicioGenerarCaptcha()">
                <svg class="bi bi-arrow-repeat" width="2em" height="2em" viewBox="0 0 16 16"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z" />
                    <path fill-rule="evenodd"
                        d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z" />
                </svg>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="textoBusqueda">Caracteres del CAPTCHA*:</label>&nbsp;
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-5">
            <input [ngClass]="[!formGroup.controls['captchaTyped'].valid && formGroup.controls['captchaTyped'].touched && captchaValueVerificado != true ? 'form-control-error':'form-control']  "
                   class=" form-control" 
                   formControlName="captchaTyped" 
                   type="text"
                   [(ngModel)]="captchaValueTyped" 
                   ngModel maxlength="7"
                   (ngModelChange)="resetVerificarCaptcha()" 
                   placeholder="Ingresa CAPTCHA">
            <div *ngIf="(formGroup.controls['captchaTyped'].errors?.required && formGroup.controls['captchaTyped'].touched) || (!this.captchaIsValid && !this.captchaValidando && this.captchaValueVerificado)">
              <p class="error-class">
                Es necesario ingresar la información del campo marcado como obligatorio.
              </p>
            </div>
          <div *ngIf="formGroup.get('captchaTyped').errors?.pattern && formGroup.controls['captchaTyped'].touched">
              <p class="error-class">
                  El captcha debe tener 7 caracteres
              </p>
          </div>
          <div *ngIf="(formGroup.controls['captchaTyped'].valid && captchaIsValid == false && captchaValueVerificado == true) && captchaValidando == false">
              <p class="error-class">
                El CAPTCHA que ingresaste no corresponde con la imagen
              </p>
          </div>
          <div *ngIf="captchaCapturadoErroneo == true">
              <div>
                  <p class="error-class">
                    El Captcha ingresado es incorrecto, vuelva a intentarlo
                  </p>
              </div>
          </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-6">

            <div class="form-group">
                <div>
                    * Campos obligatorios
                </div>

            </div>

        </div>
        <div class="col-md-6" style="text-align: right;">

            <div class="form-group">


                <button type="button" class="btn btn-default inputBorder" (click)="regresar()">Regresar
                </button> &nbsp;


                <button type="button  " class="btn btn-primary inputBorder " [disabled]="formGroup.invalid || this.model.buttonPrestamoPromotor" (click)="validarPensionado()">Continuar
                </button>


            </div>

        </div>
    </div>
</form>
<br /><br />



<jw-modal id="continuar">
    <div class="jw-modal-titulo"> <b>Atenci&oacute;n</b></div>
    <div class="modal-body">
        <p>{{mensajeBusqueda}}</p>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" style="margin-right: 5px">Aceptar</button>

            </div>
        </div>
    </div>
    <br>
</jw-modal>