<ol class="breadcrumb ">
  <li><a href="#"><i class="icon icon-home"></i></a></li>
  <li><a href="#">Inicio</a></li>
  <li class="active">Préstamos a cuenta de pensión con Entidades Financieras </li>
</ol>

<div class="row" style="height: 65px;">
  <div class="col-md-12">
    <h4>Préstamos a cuenta de pensión con Entidades Financieras </h4>
    <hr class="red">
  </div>
</div>
<app-menu-ux [rol]="rol"></app-menu-ux>
<div class="row" style="padding: 10px;">
  <div class="col-md-8">
  </div>
  <app-user-profile></app-user-profile>
</div>


<div class="row ">
  <div class="col-md-12">
    <h4>Informe de préstamo</h4>
    <hr class="red">
  </div>
</div>

<div class="row folio-header">
  <div class="col-md-3">
    Folio:&nbsp;<span>{{solicitud.numFolioSolicitud}}</span>
  </div>
  <div class="col-md-9">
    Estado:&nbsp;<span>{{solicitud.cveEstadoSolicitud.desEstadoSolicitud}}</span>
  </div>
</div>


<div class="row">
  <app-pensionado-datos-autorizador></app-pensionado-datos-autorizador>
  <app-entidad-financiera-datos-autorizar></app-entidad-financiera-datos-autorizar>
</div>

<app-promotor-datos-autorizador *ngIf="solicitud.cveOrigenSolicitud.id != 5"></app-promotor-datos-autorizador>

<app-datos-simulacion-autorizador></app-datos-simulacion-autorizador>
<app-prestamos-recuperacion-datos-autorizador></app-prestamos-recuperacion-datos-autorizador>

<div *ngIf="solicitud.cveOrigenSolicitud.id != 5" class="row tarjeta">
  <div class="row tarjeta-header">
    Información bancaria
  </div>
  <div class="row tarjeta-body">
    <div class="row">
      <div class="col-md-2 tarjeta-title-1">
        Cuenta CLABE:
      </div>
      <div class="col-md-4">
        {{ cuentaCable }}
      </div>
    </div>
  </div>
</div>

<app-autorizar-documento></app-autorizar-documento>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9" style="text-align: right;">
    <a *ngIf="solicitud.cveOrigenSolicitud.id != 5" class="btn btn-default" routerLink="../prestamoAutorizar" role="button">Regresar</a>
    <a *ngIf="solicitud.cveOrigenSolicitud.id == 5" class="btn btn-default" routerLink="../buscarFolioAutorizar" role="button">Regresar</a>
    &nbsp;
    <button (click)="openModal()" class="btn btn-default">
      <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>
      Cancelar Préstamo
    </button>&nbsp;
    <button *ngIf="solicitud.cveOrigenSolicitud.id != 5" [disabled]="data.model.uploadDocumento.length <= 2" (click)="openModal2()" class="btn btn-primary">
      <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>
      Continuar Préstamo
    </button>
    <button *ngIf="solicitud.cveOrigenSolicitud.id == 5" [disabled]="data.model.flagReinstalacion" (click)="openModalReinstalacion()" class="btn btn-primary">
      <span class="oi oi-undefined glyphicon glyphicon-undefined"></span>
      Autorizar
    </button>
  </div>
</div><br><br>

<br> <br>
<jw-modal id="cancelarCarta">
  <div class="jw-modal-titulo">Atención</div>
  <div style="height:100%; width:100%">
    <div class="modal-body">
      <p>¿Estás seguro que deseas cancelar el préstamo?</p>
    </div>
    <div class="row">
      <div class="col-md-12" align="right">
        <button class="btn btn-default" (click)="closeModal()">Cancelar</button>&nbsp;&nbsp;
        <button class="btn btn-primary " (click)="cancelarAutorizar()">Aceptar</button>
      </div>
    </div>
  </div>
</jw-modal>

<jw-modal id="autorizar">
  <div class="jw-modal-titulo">Atención</div>
  <div class="modal-body">
    <p>¿Estás seguro que deseas autorizar la Carta de Libranza?</p>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-default" (click)="closeModalaceptar()">Cancelar</button>&nbsp;&nbsp;
      <button class="btn btn-primary" (click)="openModal3()">Aceptar</button>
    </div>
  </div>
</jw-modal>

<jw-modal id="carga">
  <div class="jw-modal-titulo"> <b>Atención</b></div>
  <div style="height:100%; width:100%">
    <br>
    <br>
    <p style="text-align:center"><b>Cargando datos</b></p>
    <div align="center">
      <div class="preloader"></div>
    </div>
    <br>
  </div>
</jw-modal>

<jw-modal id="reinstalacion">
  <div class="jw-modal-titulo">Atención</div>
  <div class="modal-body">
    <p>¿Estás seguro que deseas autorizar la Carta de Reinstalacion?</p>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-default" (click)="closeModalReinstalacion()">Cancelar</button>&nbsp;&nbsp;
      <button class="btn btn-primary" (click)="autorizarReinstalacion()">Aceptar</button>
    </div>
  </div>
</jw-modal>