<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <h5>Aviso de privacidad</h5> -->
            <p style="text-align: justify !important;">
                El Instituto Mexicano del Seguro Social (IMSS) es responsable del tratamiento de los datos personales que nos proporciones, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos
                Obligados, y demás normatividad que resulte aplicable. Tus datos personales serán utilizados para verificar y confirmar tu identidad, así como para verificar la autenticidad de la información proporcionada, para implementar bases de datos
                y para transferir los mismos en la operación de la plataforma de préstamos con Entidades Financieras. Por lo que te informamos que a solicitud tuya, se realizarán transferencias a Entidades Financieras con Convenio de Colaboración con
                el Instituto, en los casos en que en tu calidad de pensionado solicites y gestiones a través de la plataforma, el otorgamiento de un préstamo por parte de alguna de ellas, por lo que se entiende tu consentimiento expreso respecto de la
                transferencia de tus datos que se generen en dichas gestiones mediante el uso de tu usuario y contraseña.
            </p>
        </div>
    </div>
</div>