<div class="col-md-6 tarjeta tarjeta-info-pensionado">
    <div class="row tarjeta-header">
        Información del solicitante
    </div>
    <div class="row tarjeta-body">
        <div class="row tarjeta-title-1">
            <div class="col-md-12">
                Nombre:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-12">
                {{model.informeCartaInstruccion.pensionado.nombre}}&nbsp;
                {{model.informeCartaInstruccion.pensionado.primerApellido}}&nbsp;
                {{model.informeCartaInstruccion.pensionado.segundoApellido}}
            </div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-6">
                CURP:
            </div>
            <div class="col-md-6">
                NSS:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-6">
                {{model.informeCartaInstruccion.pensionado.curp}}
            </div>
            <div class="col-md-6">
                {{model.informeCartaInstruccion.pensionado.nss}}
            </div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-6">
                Delegación:
            </div>
            <div class="col-md-6">
                Tel&eacute;fono m&oacute;vil:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-6">
              {{model.informeCartaInstruccion.pensionado.delegacion.descDelegacion}}
            </div>
            <div class="col-md-6">
                {{model.informeCartaInstruccion.persona.telCelular}}
            </div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-6">
                Correo electr&oacute;nico:
            </div>
            <div class="col-md-6">
                Tipo de trabajador:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-6">
                {{model.informeCartaInstruccion.persona.correoElectronico}}
            </div>
            <div class="col-md-6">
                {{model.informeCartaInstruccion.solicitud.refTrabajador | uppercase }}
            </div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-6">
                Tipo de pensión:
            </div>
            <div class="col-md-6">
                Tipo de crédito:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-6">
                {{model.informeCartaInstruccion.pensionado.tipoPension | uppercase }}
            </div>
            <div class="col-md-6">
                {{model.informeCartaInstruccion.prestamo.tipoCreditoEnum.descripcion | uppercase}}
            </div>
        </div>
        <div class="row tarjeta-title-1">
            <div class="col-md-12">
                Origen del préstamo:
            </div>
        </div>
        <div class="row tarjeta-data-1">
            <div class="col-md-6">
                {{model.informeCartaInstruccion.solicitud.cveOrigenSolicitud.desOrigenSolicitud}}
            </div>
        </div>
    </div>
</div>