.tituloPrestamo {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.tarjetaSolicitante {
    width: 1149px;
    height: auto;
    margin: 13px 123px 50px 0px;
    padding: 20px 12px 21px 34px;
    border-radius: 15px;
    box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #dcdcdc;
    background-color: #fbfbfb;
    max-height: 350px;
    ;
}

.tituloPrestamo-span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93 !important;
}

.fontNombrePrestamo {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    padding-top: 1%;
    padding-bottom: 2%;
}

.fontGeneral {
    padding-top: 2%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
}

.fontCondiciones {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
}

.paddingLibre {
    padding-top: 2%;
}

.inputDatos {
    width: 307px;
    height: 47px;
    border-radius: 10px;
    border: solid 1px #afaeae;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.inputSimple {
    height: 47px;
    border-radius: 10px;
    border: solid 1px #afaeae;
}

.inputDatosSimple {
    height: 47px;
    border-radius: 10px;
    border: solid 1px #afaeae;
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.inputBorder {
    border-radius: 10px;
    border: solid 1px #afaeae;
}

.marginLeft {
    margin-left: 15px;
}

.capacidadCredito {
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f6e93;
}