<div class="row">
    <nav class="navbar navbar-inverse sub-navbar " id="headerNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                    <span class="sr-only">Préstamos a cuenta de pensión con Entidades Financieras</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Préstamos a cuenta de pensión con Entidades Financieras</a>
            </div>
            <div *ngIf="tipoMenu=='adminEF'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                    <a (click)="irHome('adminEF');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a style="cursor:pointer;">Administración de usuarios</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="navegarEF('consultarPromotor')"
                                                style="cursor:pointer;">Personal operativo</a>
                                        </li>
                                        <li>
                                            <a (click)="consultarOperador()" style="cursor:pointer;">
                                                Operadores<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)="busquedaFolioDetalle();" style="cursor:pointer;">
                                        Búsqueda de folio</a>
                                </li>
                                <li>
                                    <a (click)="registrarCondiciones();" style="cursor:pointer;">
                                        Condiciones Entidad Financiera</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a style="cursor:pointer;">Conciliación</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="detalleConciliacionAdminEF()"
                                                style="cursor:pointer;">Detalle de la conciliación</a>
                                        </li>
                                        <li>
                                            <a (click)="cartaReciboAdminEF()" style="cursor:pointer;">
                                                Carta recibo<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)="consultarCompraCartera();" style="cursor:pointer;">
                                        Consulta CEP compra de cartera</a>
                                </li>
                                <li>
                                    <a (click)="modificarDatosPensionado();" style="cursor:pointer;">
                                        Modificación de Pensionado</a>
                                </li>
                                <li>
                                    <a (click)="salir();" style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="tipoMenu=='adminEFSinConvenio'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                    <a (click)="irHome('adminEFSinConvenio');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li>
                                    <a (click)="busquedaFolioDetalle();" style="cursor:pointer;">
                                        Búsqueda de folio</a>
                                </li>
                                <li>
                                    <a (click)=navegarComunicado(); style="cursor:pointer;">
                                        Notificaciones</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a style="cursor:pointer;">Conciliación</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="detalleConciliacionAdminEFSinConvenio()"
                                                style="cursor:pointer;">Detalle de la conciliación</a>
                                        </li>
                                        <li>
                                            <a (click)="cartaReciboAdminEFSinConvenio()" style="cursor:pointer;">
                                                Carta recibo<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)="consultarCompraCartera();" style="cursor:pointer;">
                                        Consulta CEP compra de cartera</a>
                                </li>
                                <li>
                                    <a (click)="salir();" style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="tipoMenu=='promotor'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a (click)="irHome('promotor');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
<!--
                                <li>
                                    <a (click)="buscarFolioPromotor();" style="cursor:pointer;">
                                        Generar carta de instrucción</a>
                                </li>
                                <li>
                                    <a (click)="registroPrestamoPromotor();" style="cursor:pointer;">
                                        Registro de préstamo</a>
                                </li>
-->
                                <li>
                                    <a (click)="busquedaFolioDetalle();" style="cursor:pointer;">
                                        Búsqueda de folios</a>
                                </li>
                                <li>
                                    <a (click)="salir();" style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="tipoMenu=='operadorIMSS'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a (click)="irHome('operadorIMSS');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li>
                                    <a (click)="busquedaFolioDetalle();" style="cursor:pointer;">
                                        Búsqueda de folio</a>
                                </li>
                                <li>
                                    <a (click)=consultaEF(); style="cursor:pointer;">
                                        Entidades Financieras</a>
                                </li>
                                <li><a (click)="modificarDatosPensionado();" style="cursor:pointer;">
                                        Modificación de Pensionado</a>
                                </li>
                                <li>
                                    <a (click)=navegarNotificaciones(); style="cursor:pointer;">
                                        Notificaciones</a>
                                </li>
                                <li>
                                    <a (click)=navegarReportes(); style="cursor:pointer;">
                                        Reportes</a>
                                </li>
                                <li class="dropdown-submenu" *ngIf="firmaCarta">
                                    <a style="cursor:pointer;">Conciliación</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="cartaReciboOperadorIMSS()" style="cursor:pointer;">
                                                Carta recibo<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)=salir(); style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="tipoMenu=='administradorIMSS'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                    <a (click)="irHome('administradorIMSS');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a style="cursor:pointer;">Administración de usuarios</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="navegarRegistroOperadorIMSS();" style="cursor:pointer;">
                                                Registro de Operador<br>IMSS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)="busquedaFolioDetalle();" style="cursor:pointer;">
                                        Búsqueda de folio</a>
                                </li>
                                <li>
                                    <a (click)=catMaximo(); style="cursor:pointer;">
                                        CAT Máximo</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a style="cursor:pointer;">Conciliaciones</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="cartaReciboAdminIMSS()" style="cursor:pointer;">
                                                Carta Recibo</a>
                                        </li>
                                        <li>
                                            <a (click)="resumenAdminIMSS()" style="cursor:pointer;">
                                                Resumen de la conciliación<br></a>
                                        </li>
                                        <li>
                                            <a (click)="erogacionesAdminIMSS()" style="cursor:pointer;">
                                                Trámite de Erogaciones</a>
                                        </li>
                                        <li>
                                            <a (click)="conciliacionAdminIMSS()" style="cursor:pointer;">
                                                Habilitar Conciliación<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a (click)="salir();" style="cursor:pointer;">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="tipoMenu=='operadorEF'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                    <a (click)="irHome('operadorEF');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li>
                                    <a (click)="busquedaFolioDetalle();"
                                        style="cursor:pointer;">Buscar Folio de Préstamo</a>
                                </li>
                                <li>
                                    <a (click)=navegarComunicado(); style="cursor:pointer;">
                                        Notificaciones</a>
                                </li>
                                <li>
                                    <a (click)=navegarReportes(); style="cursor:pointer;">
                                        Reportes</a>
                                </li>
<!--
                                <li>
                                    <a (click)=navegarAtenderNotif(); style="cursor:pointer;">
                                        Atender Notificaciones</a>
                                </li>
-->
                                <li class="dropdown-submenu" *ngIf="firmaCarta">
                                    <a style="cursor:pointer;">Conciliación</a>
                                    <ul class="dropdown-menu" style="width: 300px !important;">
                                        <li>
                                            <a (click)="detalleConciliacionOperadorEF()"
                                                style="cursor:pointer;">Detalle de la conciliación</a>
                                        </li>
                                        <li>
                                            <a (click)="cartaReciboOperadorEF()" style="cursor:pointer;">
                                                Carta recibo<br></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a (click)="modificarDatosPensionado();" style="cursor:pointer;">
                                        Modificación de Pensionado</a>
                                </li>
                                <li>
                                    <a (click)="salir();" style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
<!--
            <div *ngIf="tipoMenu=='operadorFinanciero'">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Menú<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                                <li>
                                    <a (click)="irHome('operadorFinanciero');" style="cursor:pointer;">
                                        Inicio</a>
                                </li>
                                <li>
                                    <a (click)=catMaximo(); style="cursor:pointer;">
                                        CAT Máximo</a>
                                </li>
                                <li>
                                    <a (click)=navegarAtenderNotif(); style="cursor:pointer;">
                                        Atender Notificaciones</a>
                                </li>
                                <li>
                                    <a (click)="salir();" style="cursor:pointer;">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
-->
        </div>
    </nav>
</div>